In [48]:
import os
import pandas as pd
from fastbook import *
from fastai.tabular.all import *
import sklearn


traindf = pd.read_csv('C:/Users/jsult/Desktop/spacetitanic3/train.csv',low_memory=False)
testdf = pd.read_csv('C:/Users/jsult/Desktop/spacetitanic3/test.csv',low_memory= False)
togeth = pd.concat([testdf,traindf])

Need to set to categories after !!

In [50]:
def split_group_number(df):
    df['Group'] = df['PassengerId'].apply(lambda x: x.split("_")[0] if pd.notna(x) else pd.NA)
    df.Group = df.Group.astype('float')
    df['GroupNumber'] = df['PassengerId'].apply(lambda x: x.split("_")[1] if pd.notna(x) else pd.NA)
    df.GroupNumber = df.GroupNumber.astype('float')
    return df

def split_cabin(df):
    df['CabinDeck'] = df['Cabin'].apply(lambda x: x.split("/" )[0] if pd.notna(x) else pd.NA)
    custom_order = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'T']
    df['CabinDeck'] = pd.Categorical(df['CabinDeck'], categories=custom_order, ordered=True)
    df['CabinSide'] = df['Cabin'].apply(lambda x: x.split("/")[2] if pd.notna(x) else pd.NA)
    df['CabinNum'] = df['Cabin'].apply(lambda x: int(x.split("/")[1]) if pd.notna(x) else pd.NA)
    return df

def split_names(df):
    # Create new columns for first name and last name
    df['FirstName'] = df['Name'].apply(lambda x: x.split()[0] if pd.notna(x) else pd.NA)
    df['LastName'] = df['Name'].apply(lambda x: x.split()[1] if pd.notna(x) else pd.NA)
    return df

def fill_home_planet_by_last_name(df):
    for index, row in df.iterrows():
        if pd.isna(row['HomePlanet']):
            matching_rows = df[df['LastName'] == row['LastName']]
            non_nan_planet = matching_rows.dropna(subset=['HomePlanet'])
            if not non_nan_planet.empty:
                planet_to_fill = non_nan_planet['HomePlanet'].values[0]
                df.at[index, 'HomePlanet'] = planet_to_fill
    return df

def fill_home_planet_by_group(df):
    for index, row in df.iterrows():
        if pd.isna(row['HomePlanet']):
            matching_rows = df[df['Group'] == row['Group']]
            non_nan_planet = matching_rows.dropna(subset=['HomePlanet'])
            if not non_nan_planet.empty:
                planet_to_fill = non_nan_planet['HomePlanet'].values[0]
                df.at[index, 'HomePlanet'] = planet_to_fill
    return df

def home_planet_from_cabindeck_abc(df):
    df.loc[df['CabinDeck'].isin(['A', 'B', 'C']), 'HomePlanet'] = df.loc[df['CabinDeck'].isin(['A', 'B', 'C']), 'HomePlanet'].fillna('Europa')
    return df

def home_planet_from_cabindeck_g(df):
    df.loc[df['CabinDeck']== 'G', 'HomePlanet'] = df.loc[df['CabinDeck'] == 'G', 'HomePlanet'].fillna('Earth')
    return df

def cabin_dm(df):
    df = split_group_number(df)
    df = split_cabin(df)
    df = split_names(df)
    df = df.sort_values(by = ['Group','GroupNumber'])
    df.reset_index(inplace = True)
    df.drop(columns = 'index',inplace = True)
    df = fill_home_planet_by_group(df)
    df = fill_home_planet_by_last_name(df)
    df = home_planet_from_cabindeck_abc(df)
    df = home_planet_from_cabindeck_g(df)
    return df

In [51]:
togeth = cabin_dm(togeth)

In [52]:
def indexfromid(id):
    return togeth[togeth.PassengerId == id].index.item()

def idfromindex(index):
    return togeth.loc[index].PassengerId
    
def cab_fill(cabfilllist):
    for item in cabfilllist:
        ind = indexfromid(item[0])
        togeth.at[ind,'Cabin'] = item[1]

In [53]:
temp = togeth.copy()

In [54]:
togeth = temp.copy()

In [55]:
togeth.at[indexfromid('3034_01'),'Cabin'] = 'B/98/P'
togeth.at[indexfromid('3053_01'),'Cabin'] = 'B/99/P'
togeth.at[indexfromid('4637_01'),'Cabin'] = 'E/300/S'
togeth.at[indexfromid('4652_01'),'Cabin'] = 'E/301/S'
togeth.at[indexfromid('4953_01'),'Cabin'] = 'C/193/S'
togeth.at[indexfromid('4974_02'),'Cabin'] = 'A/44/P'
togeth.at[indexfromid('5480_01'),'Cabin'] = 'C/214/S'
togeth.at[indexfromid('5642_02'),'Cabin'] = 'B/216/S'
togeth.at[indexfromid('9223_01'),'Cabin'] = 'F/1785/S'
togeth.at[indexfromid('9223_02'),'Cabin'] = 'F/1785/S'

In [67]:
decks_by_homeplanet = {'Europa':list(togeth[togeth.HomePlanet == 'Europa'].CabinDeck.dropna().unique()),
    'Earth':list(togeth[togeth.HomePlanet == 'Earth'].CabinDeck.dropna().unique()),
    'Mars':list(togeth[togeth.HomePlanet == 'Mars'].CabinDeck.dropna().unique())}

def caboptionsbyplanet(planet,df):
    df = split_cabin(df)
    decks = decks_by_homeplanet[planet]
    sides = {'P':0,'S':0}
    caboptions = {}
    for i,row in df[df.HomePlanet == planet].iterrows():
        if pd.isna(row.Cabin):
            bef = df.iloc[:i].dropna(subset=['Cabin'])
            aft = df.iloc[i+1:].dropna(subset=['Cabin'])
            for deck in decks:
                for side in sides.keys():
                    before = bef[(bef.CabinDeck == deck) & (bef.CabinSide == side)]
                    after = aft[(aft.CabinDeck == deck) & (aft.CabinSide == side)]
                    if len(before) == 0:
                        minn = -2
                    else:
                        minn = max(list(before.CabinNum))
                    if len(after) == 0:
                        maxx = -2
                    else:
                        maxx = min(list(after.CabinNum))
                    if row.PassengerId in caboptions:
                        caboptions[row.PassengerId].append([minn,maxx,deck,side])
                    else:
                        caboptions[row.PassengerId] = [[minn,maxx,deck,side]]
    return caboptions, df

def one_option_solo_group(potential_spots,df):
    cabin_to_fill = []
    for passenger in potential_spots:
        if len(df[df.Group == int(passenger[:4])]) == 1:
            ind = -1
            for i,decks in enumerate(potential_spots[passenger]):
                if decks[1] - decks[0] != 1:
                    if ind == -1:
                        ind = i
                    elif decks[1] != 0:
                        ind = -2
            if ind != -2 and ind != -1:
                #check this line
                cabin_to_fill.append([passenger, potential_spots[passenger][ind][2] + "/" + str(potential_spots[passenger][ind][0] + 1) +"/" + potential_spots[passenger][ind][3]])
    return cabin_to_fill

def no_options(potential_spots,df):
        #no options
    cabin_to_fill = []
    for passenger in potential_spots:
        count = 0
        no_potential_spots = True
        for decks in potential_spots[passenger]:
            if (decks[1] - decks[0] > 1 and decks[1] != 0):
                no_potential_spots = False
        if no_potential_spots:
            if len(list(df[df.Group == int(passenger[:4])].dropna(subset = 'Cabin').Cabin.unique())) == 1:
                cabin_to_fill.append([passenger,list(df[df.Group == int(passenger[:4])].dropna(subset = 'Cabin').Cabin.unique())[0]])
    return cabin_to_fill
 
def only_one_thatll_fit(potential_spots,df):
    cabin_to_fill = []
    for i1,passenger in enumerate(potential_spots.keys()):            
        for i2, cabins in enumerate(potential_spots[passenger]):
            if cabins[1] != 0 and cabins[1] == cabins[0] + 2:
                good = True
                low = i1 - 1
                high = i1  + 1
                lowchecking = True
                highchecking = True
                while lowchecking and low >= 0:
                    option = potential_spots[list(potential_spots.keys())[low]]
                    for choices in option:
                        if choices[2] == cabins[2] and choices[3] == cabins[3]:
                            lowchecking = False
                            if choices[1] >= cabins[0] + 1:
                                good = False
                    low -=1
                while highchecking and good and high <= len(potential_spots.keys()) -1 :
                    option = potential_spots[list(potential_spots.keys())[high]]
                    for choices in option:
                        if choices[2] == cabins[2] and choices[3] == cabins[3]:
                            highchecking = False
                            if choices[0] <= cabins[1] - 1:
                                good = False
                    high += 1                                   
                if good:
                    cabin_to_fill.append([passenger, cabins[2] + "/" + str(cabins[0] + 1) +"/" + cabins[3]])
    return cabin_to_fill

def cab_filler(df):
    
    for planet in ['Europa','Mars','Earth']:
        planet_cab_options, df = caboptionsbyplanet(planet,df)
        cab_fill(no_options(planet_cab_options,df))
    
    
    for planet in ['Europa','Mars','Earth']:
        planet_cab_options, df = caboptionsbyplanet(planet,df)
        cab_fill(one_option_solo_group(planet_cab_options,df))


    europacaboptions = caboptionsbyplanet('Europa',df)[0]
    marscaboptions = caboptionsbyplanet('Mars',df)[0]
    earthcaboptions = caboptionsbyplanet('Earth',df)[0]

    indexlist = [indexfromid(x) for x in list(europacaboptions.keys())] + [indexfromid(x) for x in list(marscaboptions.keys())] + [indexfromid(x) for x in list(earthcaboptions.keys())]
    indexlist.sort()
    idlist = [idfromindex(x) for x in indexlist]
    global_cab_options = {}
    for id in idlist:
        if id in europacaboptions:
            global_cab_options[id] = europacaboptions[id]
        elif id in marscaboptions:
            global_cab_options[id] = marscaboptions[id]
        else:
            global_cab_options[id] = earthcaboptions[id]

    cab_fill(only_one_thatll_fit(global_cab_options,df))

    
    return global_cab_options

In [68]:
glob = cab_filler(togeth)

In [69]:
togeth.isna().sum()

PassengerId        0
HomePlanet        10
CryoSleep        310
Cabin             55
Destination      274
Age              270
VIP              296
RoomService      263
FoodCourt        289
ShoppingMall     306
Spa              284
VRDeck           268
Name             294
Transported     4277
Group              0
GroupNumber        0
CabinDeck         55
CabinSide         55
CabinNum          55
FirstName        294
LastName         294
dtype: int64

In [59]:
europacaboptions = caboptionsbyplanet('Europa',togeth)[0]
marscaboptions = caboptionsbyplanet('Mars',togeth)[0]
earthcaboptions = caboptionsbyplanet('Earth',togeth)[0]

indexlist = [indexfromid(x) for x in list(europacaboptions.keys())] + [indexfromid(x) for x in list(marscaboptions.keys())] + [indexfromid(x) for x in list(earthcaboptions.keys())]
indexlist.sort()
idlist = [idfromindex(x) for x in indexlist]
global_cab_options = {}
for id in idlist:
    if id in europacaboptions:
        global_cab_options[id] = europacaboptions[id]
    elif id in marscaboptions:
        global_cab_options[id] = marscaboptions[id]
    else:
        global_cab_options[id] = earthcaboptions[id]

for item in global_cab_options:
    print(item,global_cab_options[item])

0244_01 [[52, 53, 'F', 'P'], [46, 47, 'F', 'S'], [7, 8, 'D', 'P'], [7, 8, 'D', 'S'], [11, 12, 'E', 'P'], [15, 16, 'E', 'S']]
0278_01 [[61, 62, 'F', 'P'], [52, 53, 'F', 'S'], [44, 45, 'G', 'P'], [39, 40, 'G', 'S'], [14, 15, 'E', 'P'], [17, 18, 'E', 'S']]
0293_01 [[12, 14, 'B', 'P'], [7, 8, 'B', 'S'], [2, 3, 'A', 'P'], [3, 4, 'A', 'S'], [6, 7, 'C', 'P'], [12, 14, 'C', 'S'], [10, 11, 'D', 'P'], [10, 11, 'D', 'S'], [16, 17, 'E', 'P'], [17, 18, 'E', 'S'], [-2, 0, 'T', 'P'], [-2, 0, 'T', 'S']]
0310_01 [[12, 14, 'B', 'P'], [8, 9, 'B', 'S'], [3, 4, 'A', 'P'], [3, 4, 'A', 'S'], [7, 8, 'C', 'P'], [12, 14, 'C', 'S'], [11, 12, 'D', 'P'], [10, 11, 'D', 'S'], [16, 17, 'E', 'P'], [19, 20, 'E', 'S'], [-2, 0, 'T', 'P'], [-2, 0, 'T', 'S']]
0348_02 [[76, 77, 'F', 'P'], [64, 65, 'F', 'S'], [12, 13, 'D', 'P'], [10, 11, 'D', 'S'], [19, 22, 'E', 'P'], [21, 22, 'E', 'S']]
0364_02 [[81, 82, 'F', 'P'], [68, 69, 'F', 'S'], [12, 13, 'D', 'P'], [10, 11, 'D', 'S'], [19, 22, 'E', 'P'], [22, 23, 'E', 'S']]
0374_02 [[86, 87, 'F', 'P'], [68, 69, 'F', 'S'], [62, 63, 'G', 'P'], [53, 54, 'G', 'S'], [19, 22, 'E', 'P'], [22, 23, 'E', 'S']]
0709_03 [[29, 30, 'B', 'P'], [25, 26, 'B', 'S'], [3, 4, 'A', 'P'], [7, 8, 'A', 'S'], [23, 24, 'C', 'P'], [27, 28, 'C', 'S'], [30, 31, 'D', 'P'], [25, 26, 'D', 'S'], [41, 42, 'E', 'P'], [49, 50, 'E', 'S'], [-2, 0, 'T', 'P'], [0, 1, 'T', 'S']]
0884_02 [[180, 182, 'F', 'P'], [166, 167, 'F', 'S'], [128, 129, 'G', 'P'], [132, 133, 'G', 'S'], [50, 51, 'E', 'P'], [63, 64, 'E', 'S']]
0992_04 [[37, 38, 'B', 'P'], [40, 41, 'B', 'S'], [7, 8, 'A', 'P'], [10, 11, 'A', 'S'], [35, 36, 'C', 'P'], [38, 39, 'C', 'S'], [38, 39, 'D', 'P'], [35, 35, 'D', 'S'], [57, 59, 'E', 'P'], [73, 74, 'E', 'S'], [-2, 0, 'T', 'P'], [0, 1, 'T', 'S']]
1006_03 [[205, 206, 'F', 'P'], [187, 188, 'F', 'S'], [147, 148, 'G', 'P'], [156, 157, 'G', 'S'], [57, 59, 'E', 'P'], [74, 75, 'E', 'S']]
1011_01 [[206, 207, 'F', 'P'], [188, 189, 'F', 'S'], [147, 148, 'G', 'P'], [157, 158, 'G', 'S'], [57, 59, 'E', 'P'], [74, 75, 'E', 'S']]
1041_01 [[37, 38, 'B', 'P'], [40, 41, 'B', 'S'], [7, 8, 'A', 'P'], [12, 13, 'A', 'S'], [37, 38, 'C', 'P'], [39, 41, 'C', 'S'], [39, 40, 'D', 'P'], [35, 37, 'D', 'S'], [57, 59, 'E', 'P'], [74, 75, 'E', 'S'], [-2, 0, 'T', 'P'], [0, 1, 'T', 'S']]
1095_01 [[38, 39, 'B', 'P'], [42, 43, 'B', 'S'], [8, 9, 'A', 'P'], [12, 13, 'A', 'S'], [41, 42, 'C', 'P'], [39, 41, 'C', 'S'], [42, 43, 'D', 'P'], [35, 37, 'D', 'S'], [61, 62, 'E', 'P'], [75, 76, 'E', 'S'], [0, 1, 'T', 'P'], [0, 1, 'T', 'S']]
1135_02 [[41, 42, 'B', 'P'], [45, 45, 'B', 'S'], [8, 9, 'A', 'P'], [12, 13, 'A', 'S'], [41, 42, 'C', 'P'], [44, 45, 'C', 'S'], [42, 43, 'D', 'P'], [38, 39, 'D', 'S'], [65, 66, 'E', 'P'], [81, 82, 'E', 'S'], [0, 1, 'T', 'P'], [0, 1, 'T', 'S']]
1685_01 [[332, 333, 'F', 'P'], [320, 321, 'F', 'S'], [271, 272, 'G', 'P'], [261, 262, 'G', 'S'], [103, 104, 'E', 'P'], [123, 124, 'E', 'S']]
1688_02 [[334, 335, 'F', 'P'], [320, 321, 'F', 'S'], [272, 273, 'G', 'P'], [261, 262, 'G', 'S'], [103, 104, 'E', 'P'], [124, 125, 'E', 'S']]
1709_03 [[338, 339, 'F', 'P'], [326, 326, 'F', 'S'], [53, 54, 'D', 'P'], [61, 61, 'D', 'S'], [103, 104, 'E', 'P'], [126, 127, 'E', 'S']]
2092_03 [[414, 415, 'F', 'P'], [409, 410, 'F', 'S'], [65, 66, 'D', 'P'], [70, 70, 'D', 'S'], [127, 128, 'E', 'P'], [153, 154, 'E', 'S']]
2425_05 [[495, 496, 'F', 'P'], [465, 466, 'F', 'S'], [396, 396, 'G', 'P'], [393, 394, 'G', 'S'], [145, 146, 'E', 'P'], [169, 170, 'E', 'S']]
2481_02 [[512, 513, 'F', 'P'], [476, 477, 'F', 'S'], [404, 405, 'G', 'P'], [400, 401, 'G', 'S'], [148, 149, 'E', 'P'], [173, 175, 'E', 'S']]
2513_01 [[518, 520, 'F', 'P'], [483, 484, 'F', 'S'], [405, 406, 'G', 'P'], [404, 405, 'G', 'S'], [149, 151, 'E', 'P'], [176, 177, 'E', 'S']]
2514_01 [[518, 520, 'F', 'P'], [483, 484, 'F', 'S'], [405, 406, 'G', 'P'], [404, 405, 'G', 'S'], [149, 151, 'E', 'P'], [176, 177, 'E', 'S']]
2547_01 [[77, 78, 'B', 'P'], [97, 98, 'B', 'S'], [19, 20, 'A', 'P'], [31, 32, 'A', 'S'], [89, 90, 'C', 'P'], [91, 92, 'C', 'S'], [74, 75, 'D', 'P'], [86, 87, 'D', 'S'], [153, 154, 'E', 'P'], [177, 178, 'E', 'S'], [1, 2, 'T', 'P'], [1, 2, 'T', 'S']]
2637_01 [[546, 547, 'F', 'P'], [508, 509, 'F', 'S'], [428, 429, 'G', 'P'], [419, 420, 'G', 'S'], [160, 162, 'E', 'P'], [180, 181, 'E', 'S']]
3287_02 [[684, 685, 'F', 'P'], [620, 621, 'F', 'S'], [535, 536, 'G', 'P'], [522, 523, 'G', 'S'], [202, 203, 'E', 'P'], [220, 221, 'E', 'S']]
3411_02 [[701, 702, 'F', 'P'], [644, 645, 'F', 'S'], [107, 108, 'D', 'P'], [110, 111, 'D', 'S'], [208, 209, 'E', 'P'], [232, 233, 'E', 'S']]
3521_01 [[113, 114, 'B', 'P'], [134, 135, 'B', 'S'], [32, 33, 'A', 'P'], [39, 40, 'A', 'S'], [115, 116, 'C', 'P'], [127, 128, 'C', 'S'], [113, 114, 'D', 'P'], [111, 112, 'D', 'S'], [210, 211, 'E', 'P'], [238, 239, 'E', 'S'], [4, -2, 'T', 'P'], [1, 2, 'T', 'S']]
3535_01 [[732, 733, 'F', 'P'], [667, 668, 'F', 'S'], [113, 114, 'D', 'P'], [111, 112, 'D', 'S'], [211, 212, 'E', 'P'], [238, 239, 'E', 'S']]
3598_01 [[745, 746, 'F', 'P'], [677, 678, 'F', 'S'], [589, 591, 'G', 'P'], [578, 580, 'G', 'S'], [215, 216, 'E', 'P'], [240, 241, 'E', 'S']]
3599_01 [[745, 746, 'F', 'P'], [677, 678, 'F', 'S'], [589, 591, 'G', 'P'], [578, 580, 'G', 'S'], [215, 216, 'E', 'P'], [240, 241, 'E', 'S']]
3712_01 [[770, 771, 'F', 'P'], [700, 701, 'F', 'S'], [601, 602, 'G', 'P'], [605, 606, 'G', 'S'], [220, 221, 'E', 'P'], [248, 249, 'E', 'S']]
3719_01 [[770, 771, 'F', 'P'], [703, 704, 'F', 'S'], [125, 126, 'D', 'P'], [116, 117, 'D', 'S'], [220, 221, 'E', 'P'], [248, 249, 'E', 'S']]
3755_01 [[776, 777, 'F', 'P'], [706, 707, 'F', 'S'], [611, 612, 'G', 'P'], [616, 617, 'G', 'S'], [221, 222, 'E', 'P'], [249, 250, 'E', 'S']]
4005_04 [[828, 829, 'F', 'P'], [758, 759, 'F', 'S'], [657, 657, 'G', 'P'], [659, 660, 'G', 'S'], [242, 243, 'E', 'P'], [267, 268, 'E', 'S']]
4100_01 [[127, 128, 'B', 'P'], [157, 158, 'B', 'S'], [35, 36, 'A', 'P'], [48, 49, 'A', 'S'], [132, 133, 'C', 'P'], [146, 147, 'C', 'S'], [138, 140, 'D', 'P'], [133, 134, 'D', 'S'], [253, 254, 'E', 'P'], [269, 270, 'E', 'S'], [4, -2, 'T', 'P'], [1, 2, 'T', 'S']]
4130_01 [[847, 848, 'F', 'P'], [776, 777, 'F', 'S'], [138, 140, 'D', 'P'], [133, 134, 'D', 'S'], [256, 258, 'E', 'P'], [271, 272, 'E', 'S']]
4378_02 [[142, 143, 'B', 'P'], [168, 169, 'B', 'S'], [38, 39, 'A', 'P'], [53, 54, 'A', 'S'], [139, 140, 'C', 'P'], [158, 159, 'C', 'S'], [148, 149, 'D', 'P'], [140, 141, 'D', 'S'], [277, 278, 'E', 'P'], [284, 285, 'E', 'S'], [4, -2, 'T', 'P'], [1, 2, 'T', 'S']]
5098_02 [[1039, 1040, 'F', 'P'], [976, 977, 'F', 'S'], [823, 824, 'G', 'P'], [831, 832, 'G', 'S'], [316, 317, 'E', 'P'], [328, 329, 'E', 'S']]
5428_02 [[1118, 1119, 'F', 'P'], [1039, 1040, 'F', 'S'], [872, 873, 'G', 'P'], [873, 875, 'G', 'S'], [342, 343, 'E', 'P'], [349, 350, 'E', 'S']]
5601_03 [[1163, 1164, 'F', 'P'], [1068, 1069, 'F', 'S'], [896, 897, 'G', 'P'], [904, 904, 'G', 'S'], [350, 351, 'E', 'P'], [364, 365, 'E', 'S']]
6028_04 [[205, 206, 'B', 'P'], [232, 233, 'B', 'S'], [57, 57, 'A', 'P'], [71, 72, 'A', 'S'], [184, 185, 'C', 'P'], [224, 225, 'C', 'S'], [190, 192, 'D', 'P'], [183, 184, 'D', 'S'], [383, 384, 'E', 'P'], [395, 396, 'E', 'S'], [4, -2, 'T', 'P'], [2, 3, 'T', 'S']]
6048_01 [[1250, 1251, 'F', 'P'], [1149, 1150, 'F', 'S'], [190, 192, 'D', 'P'], [183, 184, 'D', 'S'], [386, 388, 'E', 'P'], [397, 398, 'E', 'S']]
6060_01 [[1253, 1254, 'F', 'P'], [1152, 1153, 'F', 'S'], [190, 192, 'D', 'P'], [184, 185, 'D', 'S'], [386, 388, 'E', 'P'], [397, 398, 'E', 'S']]
6302_04 [[1305, 1306, 'F', 'P'], [1206, 1207, 'F', 'S'], [1015, 1015, 'G', 'P'], [1021, 1022, 'G', 'S'], [400, 401, 'E', 'P'], [416, 417, 'E', 'S']]
6363_01 [[1317, 1318, 'F', 'P'], [1214, 1215, 'F', 'S'], [1025, 1026, 'G', 'P'], [1031, 1032, 'G', 'S'], [404, 405, 'E', 'P'], [423, 424, 'E', 'S']]
6391_01 [[1325, 1326, 'F', 'P'], [1221, 1222, 'F', 'S'], [200, 201, 'D', 'P'], [192, 193, 'D', 'S'], [405, 406, 'E', 'P'], [425, 426, 'E', 'S']]
6405_02 [[1327, 1328, 'F', 'P'], [1224, 1225, 'F', 'S'], [1032, 1033, 'G', 'P'], [1038, 1039, 'G', 'S'], [406, 407, 'E', 'P'], [427, 428, 'E', 'S']]
6406_01 [[216, 217, 'B', 'P'], [248, 249, 'B', 'S'], [64, 65, 'A', 'P'], [76, 77, 'A', 'S'], [196, 197, 'C', 'P'], [238, 239, 'C', 'S'], [200, 201, 'D', 'P'], [192, 193, 'D', 'S'], [406, 407, 'E', 'P'], [427, 428, 'E', 'S'], [4, -2, 'T', 'P'], [2, 3, 'T', 'S']]
6612_03 [[1375, 1376, 'F', 'P'], [1266, 1268, 'F', 'S'], [1069, 1070, 'G', 'P'], [1077, 1077, 'G', 'S'], [421, 422, 'E', 'P'], [439, 440, 'E', 'S']]
6612_05 [[1375, 1376, 'F', 'P'], [1266, 1268, 'F', 'S'], [1069, 1070, 'G', 'P'], [1077, 1077, 'G', 'S'], [421, 422, 'E', 'P'], [439, 440, 'E', 'S']]
7182_01 [[1488, 1490, 'F', 'P'], [1380, 1381, 'F', 'S'], [1156, 1158, 'G', 'P'], [1169, 1170, 'G', 'S'], [460, 461, 'E', 'P'], [478, 479, 'E', 'S']]
7183_01 [[1488, 1490, 'F', 'P'], [1380, 1381, 'F', 'S'], [1156, 1158, 'G', 'P'], [1169, 1170, 'G', 'S'], [460, 461, 'E', 'P'], [478, 479, 'E', 'S']]
7353_03 [[241, 242, 'B', 'P'], [274, 275, 'B', 'S'], [78, 79, 'A', 'P'], [89, 90, 'A', 'S'], [238, 239, 'C', 'P'], [269, 271, 'C', 'S'], [233, 234, 'D', 'P'], [221, 222, 'D', 'S'], [476, 477, 'E', 'P'], [490, 491, 'E', 'S'], [4, -2, 'T', 'P'], [3, -2, 'T', 'S']]
7368_01 [[242, 243, 'B', 'P'], [274, 275, 'B', 'S'], [78, 79, 'A', 'P'], [89, 90, 'A', 'S'], [239, 240, 'C', 'P'], [269, 271, 'C', 'S'], [234, 236, 'D', 'P'], [221, 222, 'D', 'S'], [476, 477, 'E', 'P'], [492, 493, 'E', 'S'], [4, -2, 'T', 'P'], [3, -2, 'T', 'S']]
7429_01 [[1538, 1539, 'F', 'P'], [1423, 1425, 'F', 'S'], [234, 236, 'D', 'P'], [222, 223, 'D', 'S'], [480, 481, 'E', 'P'], [494, 495, 'E', 'S']]
7440_01 [[1538, 1539, 'F', 'P'], [1423, 1425, 'F', 'S'], [1202, 1203, 'G', 'P'], [1205, 1207, 'G', 'S'], [483, 484, 'E', 'P'], [494, 495, 'E', 'S']]
7442_02 [[1538, 1539, 'F', 'P'], [1423, 1425, 'F', 'S'], [1202, 1203, 'G', 'P'], [1205, 1207, 'G', 'S'], [483, 484, 'E', 'P'], [495, 496, 'E', 'S']]
7463_01 [[1543, 1545, 'F', 'P'], [1423, 1425, 'F', 'S'], [1206, 1207, 'G', 'P'], [1211, 1213, 'G', 'S'], [483, 484, 'E', 'P'], [496, 497, 'E', 'S']]
7469_01 [[1543, 1545, 'F', 'P'], [1425, 1426, 'F', 'S'], [1207, 1208, 'G', 'P'], [1211, 1213, 'G', 'S'], [484, 485, 'E', 'P'], [498, 499, 'E', 'S']]
7556_03 [[246, 247, 'B', 'P'], [286, 287, 'B', 'S'], [81, 82, 'A', 'P'], [90, 91, 'A', 'S'], [243, 244, 'C', 'P'], [280, 280, 'C', 'S'], [234, 236, 'D', 'P'], [225, 226, 'D', 'S'], [491, 492, 'E', 'P'], [501, 502, 'E', 'S'], [4, -2, 'T', 'P'], [3, -2, 'T', 'S']]
7848_01 [[1628, 1629, 'F', 'P'], [1500, 1501, 'F', 'S'], [246, 247, 'D', 'P'], [228, 229, 'D', 'S'], [507, 508, 'E', 'P'], [513, 514, 'E', 'S']]
7890_03 [[1635, 1636, 'F', 'P'], [1508, 1509, 'F', 'S'], [1275, 1276, 'G', 'P'], [1273, 1274, 'G', 'S'], [512, 513, 'E', 'P'], [518, 519, 'E', 'S']]
7942_02 [[1644, 1645, 'F', 'P'], [1521, 1522, 'F', 'S'], [1285, 1287, 'G', 'P'], [1281, 1283, 'G', 'S'], [515, 516, 'E', 'P'], [523, 524, 'E', 'S']]
7948_01 [[1646, 1647, 'F', 'P'], [1522, 1523, 'F', 'S'], [1285, 1287, 'G', 'P'], [1281, 1283, 'G', 'S'], [515, 516, 'E', 'P'], [523, 524, 'E', 'S']]
7983_01 [[261, 262, 'B', 'P'], [312, 313, 'B', 'S'], [84, 85, 'A', 'P'], [95, 96, 'A', 'S'], [259, 260, 'C', 'P'], [297, 299, 'C', 'S'], [247, 248, 'D', 'P'], [232, 233, 'D', 'S'], [516, 517, 'E', 'P'], [527, 529, 'E', 'S'], [4, -2, 'T', 'P'], [3, -2, 'T', 'S']]
7995_01 [[261, 262, 'B', 'P'], [313, 314, 'B', 'S'], [84, 85, 'A', 'P'], [96, 97, 'A', 'S'], [260, 261, 'C', 'P'], [297, 299, 'C', 'S'], [248, 249, 'D', 'P'], [232, 233, 'D', 'S'], [516, 517, 'E', 'P'], [527, 529, 'E', 'S'], [4, -2, 'T', 'P'], [3, -2, 'T', 'S']]
8129_01 [[1682, 1683, 'F', 'P'], [1556, 1557, 'F', 'S'], [1312, 1313, 'G', 'P'], [1307, 1308, 'G', 'S'], [521, 522, 'E', 'P'], [537, 538, 'E', 'S']]
8728_07 [[1798, 1799, 'F', 'P'], [1690, 1691, 'F', 'S'], [1416, 1416, 'G', 'P'], [1405, 1406, 'G', 'S'], [558, 559, 'E', 'P'], [568, 569, 'E', 'S']]
9057_01 [[295, 296, 'B', 'P'], [345, 346, 'B', 'S'], [93, 95, 'A', 'P'], [106, 107, 'A', 'S'], [301, 302, 'C', 'P'], [336, 337, 'C', 'S'], [289, 290, 'D', 'P'], [274, 275, 'D', 'S'], [579, 580, 'E', 'P'], [593, 594, 'E', 'S'], [4, -2, 'T', 'P'], [3, -2, 'T', 'S']]
9062_02 [[1854, 1855, 'F', 'P'], [1753, 1754, 'F', 'S'], [1473, 1475, 'G', 'P'], [1458, 1459, 'G', 'S'], [579, 580, 'E', 'P'], [593, 594, 'E', 'S']]
9069_03 [[297, 297, 'B', 'P'], [346, 347, 'B', 'S'], [93, 95, 'A', 'P'], [106, 107, 'A', 'S'], [301, 302, 'C', 'P'], [337, 338, 'C', 'S'], [289, 290, 'D', 'P'], [276, 277, 'D', 'S'], [579, 580, 'E', 'P'], [593, 594, 'E', 'S'], [4, -2, 'T', 'P'], [3, -2, 'T', 'S']]
9070_01 [[1854, 1855, 'F', 'P'], [1756, 1757, 'F', 'S'], [1473, 1475, 'G', 'P'], [1459, 1460, 'G', 'S'], [579, 580, 'E', 'P'], [593, 594, 'E', 'S']]
9081_03 [[1858, 1858, 'F', 'P'], [1758, 1759, 'F', 'S'], [1476, 1476, 'G', 'P'], [1461, 1462, 'G', 'S'], [580, 581, 'E', 'P'], [595, 596, 'E', 'S']]
9238_05 [[1889, 1890, 'F', 'P'], [1790, 1791, 'F', 'S'], [1501, 1501, 'G', 'P'], [1488, 1489, 'G', 'S'], [592, 593, 'E', 'P'], [605, 606, 'E', 'S']]

In [43]:
togeth[togeth.Group == 5480]

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported,Group,GroupNumber,CabinDeck,CabinSide,CabinNum,FirstName,LastName
7638,5480_01,Europa,False,NaN,TRAPPIST-1e,37.0,False,31.0,9307.0,0.0,904.0,11213.0,Avijava Ellcefulve,False,5480.0,1.0,NaN,<NA>,<NA>,Avijava,Ellcefulve

In [41]:
togeth[togeth.Cabin == 'G/832/S']

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported,Group,GroupNumber,CabinDeck,CabinSide,CabinNum,FirstName,LastName
7127,5098_03,Earth,True,G/832/S,55 Cancri e,2.0,False,0.0,0.0,0.0,0.0,0.0,Delody Kellyons,NaN,5098.0,3.0,G,S,832,Delody,Kellyons

In [39]:
togeth[togeth.PassengerId == '4974_02']

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported,Group,GroupNumber,CabinDeck,CabinSide,CabinNum,FirstName,LastName
6952,4974_02,Europa,True,NaN,55 Cancri e,45.0,False,0.0,0.0,0.0,0.0,NaN,Lesat Vendeck,True,4974.0,2.0,NaN,<NA>,<NA>,Lesat,Vendeck

In [38]:
(togeth[(togeth.CabinDeck == 'B') & (togeth.CabinSide == 'P')].FoodCourt > 0).sum()

215

In [39]:
(togeth[(togeth.CabinDeck == 'C') & (togeth.CabinSide == 'S')].FoodCourt > 0).sum()

306

In [41]:
togeth[togeth.Group == 293]

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported,Group,GroupNumber,CabinDeck,CabinSide,CabinNum,FirstName,LastName
404,0293_01,Europa,True,NaN,TRAPPIST-1e,47.0,False,0.0,0.0,0.0,0.0,0.0,Tauxon Suptibler,NaN,293.0,1.0,NaN,<NA>,<NA>,Tauxon,Suptibler

In [26]:
togeth[togeth.PassengerId == '0310_01']

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported,Group,GroupNumber,CabinDeck,CabinSide,CabinNum,FirstName,LastName
421,0310_01,Europa,False,NaN,TRAPPIST-1e,67.0,False,NaN,230.0,0.0,4476.0,241.0,Naviton Coudered,False,310.0,1.0,NaN,<NA>,<NA>,Naviton,Coudered

In [25]:
togeth[togeth.PassengerId == '0293_01']

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported,Group,GroupNumber,CabinDeck,CabinSide,CabinNum,FirstName,LastName
404,0293_01,Europa,True,NaN,TRAPPIST-1e,47.0,False,0.0,0.0,0.0,0.0,0.0,Tauxon Suptibler,NaN,293.0,1.0,NaN,<NA>,<NA>,Tauxon,Suptibler

In [70]:
def print_rows_with_different_group(df):
    unique_cabins = df['Cabin'].unique()
    
    for cabin in unique_cabins:
        group_list = df[df['Cabin'] == cabin]['Group'].unique()
        
        if len(group_list) > 1:
            print(cabin)

# Call the function with your DataFrame
print_rows_with_different_group(togeth)

In [71]:
newdict = {}
for item in togeth.iterrows():
    item = item[1]
    if not pd.isna(item.Cabin):
        newdict[item.PassengerId] = item.Cabin

In [72]:
import pickle
with open('idtocabin.pkl', 'wb') as fp:
    pickle.dump(newdict, fp)
    print('dictionary saved successfully to file')

dictionary saved successfully to file

In [1]:
togeth[togeth.Cabin.isna()]

NameError: name 'togeth' is not defined