In [16]:
import os
import pandas as pd
from fastbook import *
from fastai.tabular.all import *
from sklearn.tree import DecisionTreeRegressor
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error
from dtreeviz.trees import *
import sklearn


traindf = pd.read_csv('C:/Users/jsult/Desktop/spacetitanic3/train.csv',low_memory=False)
testdf = pd.read_csv('C:/Users/jsult/Desktop/spacetitanic3/test.csv',low_memory= False)
traindf['Set'] = 'Train'
testdf['Set'] = 'Test'
togeth = pd.concat([testdf,traindf])

In [17]:
togeth[togeth.Cabin == 'G/2/S']

Empty DataFrame
Columns: [PassengerId, HomePlanet, CryoSleep, Cabin, Destination, Age, VIP, RoomService, FoodCourt, ShoppingMall, Spa, VRDeck, Name, Set, Transported]
Index: []

## Need to set to categories after !!

In [18]:
togeth.isna().sum().sum()

7718

In [19]:
def split_group_number(df):
    df['Group'] = df['PassengerId'].apply(lambda x: x.split("_")[0] if pd.notna(x) else pd.NA)
    df.Group = df.Group.astype('float')
    df['GroupNumber'] = df['PassengerId'].apply(lambda x: x.split("_")[1] if pd.notna(x) else pd.NA)
    df.GroupNumber = df.GroupNumber.astype('float')
    return df
togeth = split_group_number(togeth)


def split_cabin(df):
    df['CabinDeck'] = df['Cabin'].apply(lambda x: x.split("/" )[0] if pd.notna(x) else pd.NA)
    custom_order = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'T']
    df['CabinDeck'] = pd.Categorical(df['CabinDeck'], categories=custom_order, ordered=True)
    df['CabinSide'] = df['Cabin'].apply(lambda x: x.split("/")[2] if pd.notna(x) else pd.NA)
    df['CabinNum'] = df['Cabin'].apply(lambda x: int(x.split("/")[1]) if pd.notna(x) else pd.NA)
    return df
togeth = split_cabin(togeth)



def split_names(df):
    # Create new columns for first name and last name
    df['FirstName'] = df['Name'].apply(lambda x: x.split()[0] if pd.notna(x) else pd.NA)
    df['LastName'] = df['Name'].apply(lambda x: x.split()[1] if pd.notna(x) else pd.NA)
    return df
togeth = split_names(togeth)

def group_size(df):
    def group_size_apply(row):
        group = df[df.Group == row.Group]
        return len(group)
    df['GroupSize'] = df.apply(group_size_apply, axis = 1)
    return df
togeth = group_size(togeth)


togeth = togeth.sort_values(by = ['Group','GroupNumber'])
togeth.reset_index(inplace = True)
togeth.drop(columns = 'index',inplace = True)


def fill_home_planet_by_last_name(df):
    for index, row in df.iterrows():
        if pd.isna(row['HomePlanet']):
            matching_rows = df[df['LastName'] == row['LastName']]
            non_nan_planet = matching_rows.dropna(subset=['HomePlanet'])
            if not non_nan_planet.empty:
                planet_to_fill = non_nan_planet['HomePlanet'].values[0]
                df.at[index, 'HomePlanet'] = planet_to_fill
    return df
def fill_home_planet_by_group(df):
    for index, row in df.iterrows():
        if pd.isna(row['HomePlanet']):
            matching_rows = df[df['Group'] == row['Group']]
            non_nan_planet = matching_rows.dropna(subset=['HomePlanet'])
            if not non_nan_planet.empty:
                planet_to_fill = non_nan_planet['HomePlanet'].values[0]
                df.at[index, 'HomePlanet'] = planet_to_fill
    return df
def home_planet_from_cabindeck_abc(df):
    df.loc[df['CabinDeck'].isin(['A', 'B', 'C']), 'HomePlanet'] = df.loc[df['CabinDeck'].isin(['A', 'B', 'C']), 'HomePlanet'].fillna('Europa')
    return df
def home_planet_from_cabindeck_g(df):
    df.loc[df['CabinDeck']== 'G', 'HomePlanet'] = df.loc[df['CabinDeck'] == 'G', 'HomePlanet'].fillna('Earth')
    return df
def homeplanet_impute(df):
    df = fill_home_planet_by_group(df)
    df = fill_home_planet_by_last_name(df)
    df = home_planet_from_cabindeck_abc(df)
    df = home_planet_from_cabindeck_g(df)
    return df
togeth = homeplanet_impute(togeth)

In [20]:
togeth[togeth.Cabin == 'G/2/S']

Empty DataFrame
Columns: [PassengerId, HomePlanet, CryoSleep, Cabin, Destination, Age, VIP, RoomService, FoodCourt, ShoppingMall, Spa, VRDeck, Name, Set, Transported, Group, GroupNumber, CabinDeck, CabinSide, CabinNum, FirstName, LastName, GroupSize]
Index: []

In [21]:
def fill_home_planet_by_last_name(df):
    for index, row in df.iterrows():
        if pd.isna(row['HomePlanet']):
            matching_rows = df[df['LastName'] == row['LastName']]
            non_nan_planet = matching_rows.dropna(subset=['HomePlanet'])
            if not non_nan_planet.empty:
                planet_to_fill = non_nan_planet['HomePlanet'].values[0]
                df.at[index, 'HomePlanet'] = planet_to_fill
    return df
def fill_home_planet_by_group(df):
    for index, row in df.iterrows():
        if pd.isna(row['HomePlanet']):
            matching_rows = df[df['Group'] == row['Group']]
            non_nan_planet = matching_rows.dropna(subset=['HomePlanet'])
            if not non_nan_planet.empty:
                planet_to_fill = non_nan_planet['HomePlanet'].values[0]
                df.at[index, 'HomePlanet'] = planet_to_fill
    return df
def home_planet_from_cabindeck_abc(df):
    df.loc[df['CabinDeck'].isin(['A', 'B', 'C']), 'HomePlanet'] = df.loc[df['CabinDeck'].isin(['A', 'B', 'C']), 'HomePlanet'].fillna('Europa')
    return df
def home_planet_from_cabindeck_g(df):
    df.loc[df['CabinDeck']== 'G', 'HomePlanet'] = df.loc[df['CabinDeck'] == 'G', 'HomePlanet'].fillna('Earth')
    return df
def homeplanet_impute(df):
    df = fill_home_planet_by_group(df)
    df = fill_home_planet_by_last_name(df)
    df = home_planet_from_cabindeck_abc(df)
    df = home_planet_from_cabindeck_g(df)
    return df
togeth = homeplanet_impute(togeth)

In [7]:
def cabin_size(df):
    def cabin_size_apply(row):
        if pd.isna(row.Cabin):
            if row.GroupSize == 1:
                return 1
            else:
                return pd.NA
        else:
            samecabin = df[df.Cabin == row.Cabin]
            return len(samecabin)
    df['CabinSize'] = df.apply(cabin_size_apply, axis = 1)
    return df
togeth = cabin_size(togeth)

In [ ]:
import pickle
with open('idtocabin.pkl', 'wb') as fp:
    pickle.dump(idtocabin, fp)
    print('dictionary saved successfully to file')

dictionary saved successfully to file

In [8]:
togeth[togeth.Cabin == 'G/2/S']

Empty DataFrame
Columns: [PassengerId, HomePlanet, CryoSleep, Cabin, Destination, Age, VIP, RoomService, FoodCourt, ShoppingMall, Spa, VRDeck, Name, Transported, Set, Group, GroupNumber, CabinDeck, CabinSide, CabinNum, FirstName, LastName, GroupSize, CabinSize]
Index: []

In [22]:
togeth.isna().sum()

PassengerId        0
HomePlanet        10
CryoSleep        310
Cabin            299
Destination      274
Age              270
VIP              296
RoomService      263
FoodCourt        289
ShoppingMall     306
Spa              284
VRDeck           268
Name             294
Set                0
Transported     4277
Group              0
GroupNumber        0
CabinDeck        299
CabinSide        299
CabinNum         299
FirstName        294
LastName         294
GroupSize          0
dtype: int64

In [23]:
def indexfromid(id):
    return togeth[togeth.PassengerId == id].index.item()
def idfromindex(index):
    return togeth.loc[index].PassengerId

In [24]:
def cabfill(cabfilllist):
    for item in cabfilllist:
        ind = indexfromid(item[0])
        togeth.at[ind,'Cabin'] = item[1]

In [25]:
togeth[togeth.PassengerId == '3034_01']

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Set,Transported,Group,GroupNumber,CabinDeck,CabinSide,CabinNum,FirstName,LastName,GroupSize
4233,3034_01,Europa,False,NaN,TRAPPIST-1e,40.0,False,0.0,0.0,0.0,0.0,0.0,Dscheat Noxnuther,Train,False,3034.0,1.0,NaN,<NA>,<NA>,Dscheat,Noxnuther,1

In [26]:
togeth.at[indexfromid('3034_01'),'Cabin'] = 'B/98/P'
togeth.at[indexfromid('3053_01'),'Cabin'] = 'B/99/P'
togeth.at[indexfromid('4637_01'),'Cabin'] = 'E/300/S'
togeth.at[indexfromid('4652_01'),'Cabin'] = 'E/301/S'
togeth.at[indexfromid('4953_01'),'Cabin'] = 'C/193/S'
togeth.at[indexfromid('4974_02'),'Cabin'] = 'A/44/P'
togeth.at[indexfromid('5098_02'),'Cabin'] = 'G/832/S'
togeth.at[indexfromid('5480_01'),'Cabin'] = 'C/214/S'
togeth.at[indexfromid('5642_02'),'Cabin'] = 'B/216/S'
togeth.at[indexfromid('9223_01'),'Cabin'] = 'F/1785/S'
togeth.at[indexfromid('9223_02'),'Cabin'] = 'F/1785/S'

In [27]:
def caboptionstest():
    deckss = {'Europa':list(togeth[togeth.HomePlanet == 'Europa'].CabinDeck.dropna().unique()),
    'Earth':list(togeth[togeth.HomePlanet == 'Earth'].CabinDeck.dropna().unique()),
    'Mars':list(togeth[togeth.HomePlanet == 'Mars'].CabinDeck.dropna().unique())}
  
    sides = {'P':0,'S':0}
    side = ['P','S']
    caboptions = {}
    #cabin options
    for i,row in togeth.iterrows():
        if pd.isna(row.Cabin):
            bef = togeth.iloc[:i].dropna(subset=['Cabin'])
            aft = togeth.iloc[i+1:].dropna(subset=['Cabin'])
            decks = deckss[row.HomePlanet]
        
                
            for deck in decks:
                for sid in side:
                    before = bef[(bef.CabinDeck == deck) & (bef.CabinSide == sid)]
                    after = aft[(aft.CabinDeck == deck) & (aft.CabinSide == sid)]
                    if len(before) == 0:
                        minn = -2
                    else:
                        minn = max(list(before.CabinNum))
                    if len(after) == 0:
                        maxx = -2
                    else:
                        maxx = min(list(after.CabinNum))
                    if maxx - minn != 1 and maxx != 0:
                        if row.PassengerId in caboptions:
                            caboptions[row.PassengerId].append([minn,maxx,deck,sid])
                        else:
                            caboptions[row.PassengerId] = [[minn,maxx,deck,sid]]
    return caboptions

In [28]:
def caboptions():
    deckss = {'Europa':list(togeth[togeth.HomePlanet == 'Europa'].CabinDeck.dropna().unique()),
    'Earth':list(togeth[togeth.HomePlanet == 'Earth'].CabinDeck.dropna().unique()),
    'Mars':list(togeth[togeth.HomePlanet == 'Mars'].CabinDeck.dropna().unique())}
    sides = {'P':0,'S':0}
    side = ['P','S']
    caboptions = {}
    
    #cabin options
    for i,row in togeth.iterrows():
        if pd.isna(row.Cabin):
            bef = togeth.iloc[:i].dropna(subset=['Cabin'])
            aft = togeth.iloc[i+1:].dropna(subset=['Cabin'])
            decks = deckss[row.HomePlanet]
                
            for deck in decks:
                for sid in side:
                    before = bef[(bef.CabinDeck == deck) & (bef.CabinSide == sid)]
                    after = aft[(aft.CabinDeck == deck) & (aft.CabinSide == sid)]
                    if len(before) == 0:
                        minn = -2
                    else:
                        minn = max(list(before.CabinNum))
                    if len(after) == 0:
                        maxx = -2
                    else:
                        maxx = min(list(after.CabinNum))
                    if row.PassengerId in caboptions:
                        caboptions[row.PassengerId].append([minn,maxx,deck,sid])
                    else:
                        caboptions[row.PassengerId] = [[minn,maxx,deck,sid]]
    return caboptions

In [29]:
togeth[togeth.PassengerId == '4953_01']

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Set,Transported,Group,GroupNumber,CabinDeck,CabinSide,CabinNum,FirstName,LastName,GroupSize
6927,4953_01,Europa,True,NaN,TRAPPIST-1e,49.0,False,0.0,0.0,0.0,0.0,0.0,Solam Slable,Test,NaN,4953.0,1.0,NaN,<NA>,<NA>,Solam,Slable,1

In [30]:
togethkeep = togeth.copy()

In [31]:
togeth = togethkeep.copy()

In [40]:

decks_by_homeplanet = {'Europa':list(togeth[togeth.HomePlanet == 'Europa'].CabinDeck.dropna().unique()),
    'Earth':list(togeth[togeth.HomePlanet == 'Earth'].CabinDeck.dropna().unique()),
    'Mars':list(togeth[togeth.HomePlanet == 'Mars'].CabinDeck.dropna().unique())}

def cabfiller(df):
    def caboptionsbyplanet(planet,df):
        df = split_cabin(df)
        decks = decks_by_homeplanet[planet]
        sides = {'P':0,'S':0}
        side = ['P','S']
        caboptions = {}
        #cabin options
        for i,row in df[df.HomePlanet == planet].iterrows():
            if pd.isna(row.Cabin):
                bef = df.iloc[:i].dropna(subset=['Cabin'])
                aft = df.iloc[i+1:].dropna(subset=['Cabin'])
                for deck in decks:
                    for sid in side:
                        before = bef[(bef.CabinDeck == deck) & (bef.CabinSide == sid)]
                        after = aft[(aft.CabinDeck == deck) & (aft.CabinSide == sid)]
                        minn = list(before.CabinNum)
                        minn.append(-2)
                        minn = max(minn)
                        if len(after) == 0:
                            maxx = -2
                        else:
                            maxx = min(list(after.CabinNum))
                        if row.PassengerId in caboptions:
                            caboptions[row.PassengerId].append([minn,maxx,deck,sid])
                        else:
                            caboptions[row.PassengerId] = [[minn,maxx,deck,sid]]
        return caboptions, df

    for planet in ['Europa','Mars','Earth']:
        
        planetcaboptions, df = caboptionsbyplanet(planet,df)

        def one_option_solo_group(indicaboptions):
        #only one option and solo group
            found = []
            for passenger in indicaboptions:
                if passenger == '0239_01'	:
                    print("'0239_01' first")
                if passenger == '0244_01':
                    print("'0244_01' first")
                count = 0
                for decks in indicaboptions[passenger]:
                    if decks[1] - decks[0] != 1:
                        count += 1
                    if decks[0] == -2 and decks[1] == 0:
                        count -= 1
                if len(df[df.Group == int(passenger[:4])]) == 1 and count == 1:
                    found.append(passenger)
            #which cabin is theres
            earthplug = []
            for passen in found:
                foundcabs = indicaboptions[passen]
                for item in foundcabs:
                    if item[1] - item[0] == 2 and item[0] != -2:
                        earthplug.append([passen, item[2] + "/" + str(item[0] + 1) +"/" + item[3]])
            for item in earthplug:
                if item[0] == '0239_01':
                    print("first 1")
                if item[0] == '0244_01':
                    print("first 2 ")
            #fill em
            cabfill(earthplug)
        one_option_solo_group(planetcaboptions)                                                                      
        

        def no_options(planetcaboptions):
        #no options
            found = []
            same = []
            for passenger in planetcaboptions:
                if passenger == '5098_02':
                    print("slay")
                if passenger == '0239_01'	:
                    print("'0239_01' second")
                if passenger == '0244_01':
                    print("'0244_01' second")
                count = 0
                for decks in planetcaboptions[passenger]:
                    if decks[1] - decks[0] > 1:
                        count += 1
                    if decks[0] == -2 and decks[1] == 0:
                        count -= 1
                if count == 0:
                    found.append(passenger)
                
            #which cabin is theres
            earthplug = []
            for passen in found:
                if len(list(df[df.Group == int(passen[:4])].Cabin.unique())) > 1:
                    cabs = list(df[df.Group == int(passen[:4])].Cabin.unique())
                    cabs = [x for x in cabs if not pd.isna(x)]
                    if len(cabs) > 1:
                        print(passen,cabs)
                    earthplug.append([passen,cabs[0]])          
            #fill em
            for item in earthplug:
                if item[0] == '0239_01':
                    print("")

                    print("second 1")
                if item[0] == '0244_01':
                    print("")

                    print("second 2 ")

            cabfill(earthplug)

        planetcaboptions, df = caboptionsbyplanet(planet,df)
    
        no_options(planetcaboptions)
    

        

    print(list(caboptionsbyplanet('Europa',df)[0].keys()))
    print(list(caboptionsbyplanet('Mars',df)[0].keys()))
    print(list(caboptionsbyplanet('Earth',df)[0].keys()))

    europacaboptions, df = caboptionsbyplanet('Europa',df)
    marscaboptions, df = caboptionsbyplanet('Mars',df)
    earthcaboptions, df = caboptionsbyplanet('Earth',df)

    print([indexfromid(x) for x in list(europacaboptions.keys())])
    print([indexfromid(x) for x in list(marscaboptions.keys())])
    indexlist = [indexfromid(x) for x in list(europacaboptions.keys())] + [indexfromid(x) for x in list(marscaboptions.keys())] + [indexfromid(x) for x in list(earthcaboptions.keys())]
    indexlist.sort()
    idlist = [idfromindex(x) for x in indexlist]
    globalcaboptions = {}
    for id in idlist:
        if id in europacaboptions:
            globalcaboptions[id] = europacaboptions[id]
        elif id in marscaboptions:
            globalcaboptions[id] = marscaboptions[id]
        else:
            globalcaboptions[id] = earthcaboptions[id]
    

    #only one that'll fit
    earthplug = []
    for i1,passenger in enumerate(globalcaboptions.keys()):
        if passenger == '0239_01':
            print("")
            print("'0239_01' third")
        if passenger == '0244_01':
            print("")
            print("'0244_01' third")
        for i2, cabs in enumerate(globalcaboptions[passenger]):
            if cabs[1] != 0 and cabs[1] == cabs[0] + 2:
                if passenger == '0239_01':
                    print('0239',"i2",i2,"cabs",cabs)
                if passenger == '0244_01':
                    print('0244',"i2",i2,"cabs",cabs)

                good = True
                low = i1 - 1
                high = i1  + 1
                lowchecking = True
                highchecking = True
                while lowchecking and low >= 0:
                    option = globalcaboptions[list(globalcaboptions.keys())[low]]
                    for choices in option:
                        if choices[2] == cabs[2] and choices[3] == cabs[3]:
                            lowchecking = False
                            if choices[1] >= cabs[0] + 1:
                                good = False
                    low -=1
                while highchecking and good and high <= len(globalcaboptions.keys()) -1 :
                    option = globalcaboptions[list(globalcaboptions.keys())[high]]
                    for choices in option:
                        if choices[2] == cabs[2] and choices[3] == cabs[3]:
                            highchecking = False
                            if choices[0] <= cabs[1] - 1:
                                good = False
                    high += 1
                if good:
                    earthplug.append([passenger,cabs[2] + "/" + str(cabs[0] + 1) + "/" + cabs[3]])
    for item in earthplug:
        if item[0] == '0239_01':
            print("third 1")
        if item[0] == '0244_01':
            print("third 2 ")
    cabfill(earthplug)

    return df


togeth = cabfiller(togeth)

['0293_01', '0310_01', '0992_04', '1041_01', '1095_01', '4953_01', '4974_02', '5480_01', '5642_02', '6028_04', '7353_03', '7368_01', '7556_03', '7983_01', '7995_01', '9057_01', '9069_03']
['0348_02', '0364_02', '6048_01', '6060_01', '7429_01']
['0374_02', '1006_03', '1011_01', '2513_01', '2514_01', '3598_01', '3599_01', '6612_03', '6612_05', '7182_01', '7183_01', '7440_01', '7442_02', '7463_01', '7469_01', '7942_02', '7948_01', '9062_02', '9070_01']
[404, 421, 1401, 1466, 1543, 6927, 6952, 7638, 7863, 8413, 10290, 10313, 10558, 11129, 11148, 12651, 12668]
[479, 505, 8450, 8465, 10394]

In [43]:
togeth.Cabin.isna().sum()

41

In [47]:
togeth[togeth.Cabin.isna()]

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Set,Transported,Group,GroupNumber,CabinDeck,CabinSide,CabinNum,FirstName,LastName,GroupSize
404,0293_01,Europa,True,NaN,TRAPPIST-1e,47.0,False,0.0,0.0,0.0,0.0,0.0,Tauxon Suptibler,Test,NaN,293.0,1.0,NaN,<NA>,<NA>,Tauxon,Suptibler,1
421,0310_01,Europa,False,NaN,TRAPPIST-1e,67.0,False,NaN,230.0,0.0,4476.0,241.0,Naviton Coudered,Train,False,310.0,1.0,NaN,<NA>,<NA>,Naviton,Coudered,1
479,0348_02,Mars,NaN,NaN,TRAPPIST-1e,36.0,False,520.0,0.0,1865.0,0.0,0.0,Weet Mane,Train,True,348.0,2.0,NaN,<NA>,<NA>,Weet,Mane,2
505,0364_02,Mars,False,NaN,TRAPPIST-1e,37.0,False,731.0,0.0,517.0,50.0,0.0,Anakes Chité,Test,NaN,364.0,2.0,NaN,<NA>,<NA>,Anakes,Chité,2
517,0374_02,Earth,False,NaN,TRAPPIST-1e,36.0,False,6.0,0.0,0.0,783.0,0.0,Tamie Sterreray,Test,NaN,374.0,2.0,NaN,<NA>,<NA>,Tamie,Sterreray,2
1401,0992_04,Europa,False,NaN,55 Cancri e,35.0,True,8030.0,300.0,0.0,0.0,1436.0,Naosa Herpumble,Train,False,992.0,4.0,NaN,<NA>,<NA>,Naosa,Herpumble,6
1423,1006_03,Earth,False,NaN,TRAPPIST-1e,12.0,False,0.0,0.0,0.0,0.0,0.0,Stenny Summington,Train,True,1006.0,3.0,NaN,<NA>,<NA>,Stenny,Summington,3
1429,1011_01,Earth,False,NaN,TRAPPIST-1e,31.0,False,1633.0,4.0,49.0,6.0,0.0,Camie Prinson,Train,False,1011.0,1.0,NaN,<NA>,<NA>,Camie,Prinson,2
1466,1041_01,Europa,True,NaN,TRAPPIST-1e,46.0,False,0.0,0.0,0.0,0.0,0.0,Algrafi Heedry,Train,True,1041.0,1.0,NaN,<NA>,<NA>,Algrafi,Heedry,1
1543,1095_01,Europa,True,NaN,TRAPPIST-1e,34.0,False,0.0,0.0,0.0,0.0,0.0,Alhail Drelcate,Train,True,1095.0,1.0,NaN,<NA>,<NA>,Alhail,Drelcate,1
3529,2513_01,Earth,False,NaN,TRAPPIST-1e,28.0,False,0.0,55.0,0.0,656.0,0.0,Loree Mathison,Train,False,2513.0,1.0,NaN,<NA>,<NA>,Loree,Mathison,1
3530,2514_01,Earth,False,NaN,TRAPPIST-1e,36.0,False,3.0,755.0,0.0,33.0,0.0,Ianne Doughan,Test,NaN,2514.0,1.0,NaN,<NA>,<NA>,Ianne,Doughan,1
5016,3598_01,Earth,False,NaN,55 Cancri e,19.0,False,616.0,0.0,46.0,0.0,14.0,Dony Olivasquez,Train,False,3598.0,1.0,NaN,<NA>,<NA>,Dony,Olivasquez,1
5017,3599_01,Earth,False,NaN,TRAPPIST-1e,46.0,False,48.0,856.0,0.0,0.0,4.0,Philda Newtontoss,Test,NaN,3599.0,1.0,NaN,<NA>,<NA>,Philda,Newtontoss,1
6927,4953_01,Europa,True,NaN,TRAPPIST-1e,49.0,False,0.0,0.0,0.0,0.0,0.0,Solam Slable,Test,NaN,4953.0,1.0,NaN,<NA>,<NA>,Solam,Slable,1
6952,4974_02,Europa,True,NaN,55 Cancri e,45.0,False,0.0,0.0,0.0,0.0,NaN,Lesat Vendeck,Train,True,4974.0,2.0,NaN,<NA>,<NA>,Lesat,Vendeck,2
7638,5480_01,Europa,False,NaN,TRAPPIST-1e,37.0,False,31.0,9307.0,0.0,904.0,11213.0,Avijava Ellcefulve,Train,False,5480.0,1.0,NaN,<NA>,<NA>,Avijava,Ellcefulve,1
7863,5642_02,Europa,True,NaN,55 Cancri e,37.0,False,0.0,0.0,0.0,0.0,0.0,Isoton Supred,Train,True,5642.0,2.0,NaN,<NA>,<NA>,Isoton,Supred,2
8413,6028_04,Europa,False,NaN,TRAPPIST-1e,26.0,True,0.0,3638.0,0.0,1043.0,0.0,Kumark Preeldy,Train,True,6028.0,4.0,NaN,<NA>,<NA>,Kumark,Preeldy,5
8450,6048_01,Mars,True,NaN,NaN,25.0,False,0.0,0.0,0.0,0.0,0.0,Mele Clake,Train,False,6048.0,1.0,NaN,<NA>,<NA>,Mele,Clake,1
8465,6060_01,Mars,False,NaN,TRAPPIST-1e,37.0,False,1517.0,NaN,2104.0,0.0,147.0,Bleda Barte,Test,NaN,6060.0,1.0,NaN,<NA>,<NA>,Bleda,Barte,1
9265,6612_03,Earth,False,NaN,TRAPPIST-1e,29.0,False,121.0,0.0,55.0,12.0,638.0,Daley Dickley,Test,NaN,6612.0,3.0,NaN,<NA>,<NA>,Daley,Dickley,6
9267,6612_05,Earth,False,NaN,TRAPPIST-1e,2.0,False,0.0,0.0,0.0,0.0,0.0,Maurie Dickley,Test,NaN,6612.0,5.0,NaN,<NA>,<NA>,Maurie,Dickley,6
10081,7182_01,Earth,False,NaN,TRAPPIST-1e,46.0,False,438.0,283.0,944.0,0.0,355.0,Jacki Ricews,Train,False,7182.0,1.0,NaN,<NA>,<NA>,Jacki,Ricews,1
10082,7183_01,Earth,True,NaN,TRAPPIST-1e,19.0,NaN,0.0,0.0,0.0,0.0,0.0,Janne Brookes,Test,NaN,7183.0,1.0,NaN,<NA>,<NA>,Janne,Brookes,1
10290,7353_03,Europa,False,NaN,TRAPPIST-1e,58.0,False,0.0,1386.0,2.0,128.0,2577.0,Auvam Openduave,Train,True,7353.0,3.0,NaN,<NA>,<NA>,Auvam,Openduave,3
10313,7368_01,Europa,True,NaN,TRAPPIST-1e,31.0,False,0.0,0.0,0.0,0.0,0.0,Pharmus Frolestty,Test,NaN,7368.0,1.0,NaN,<NA>,<NA>,Pharmus,Frolestty,1
10394,7429_01,Mars,False,NaN,TRAPPIST-1e,38.0,False,1126.0,0.0,23.0,34.0,0.0,Cuses Pread,Train,False,7429.0,1.0,NaN,<NA>,<NA>,Cuses,Pread,1
10408,7440_01,Earth,False,NaN,TRAPPIST-1e,36.0,False,698.0,63.0,1.0,1.0,135.0,Ine Pollarkeeks,Test,NaN,7440.0,1.0,NaN,<NA>,<NA>,Ine,Pollarkeeks,1
10411,7442_02,Earth,True,NaN,PSO J318.5-22,17.0,False,0.0,0.0,0.0,0.0,0.0,Franda Morrencis,Train,False,7442.0,2.0,NaN,<NA>,<NA>,Franda,Morrencis,2
10434,7463_01,Earth,False,NaN,TRAPPIST-1e,18.0,False,0.0,0.0,0.0,0.0,677.0,Terrie Mickersones,Test,NaN,7463.0,1.0,NaN,<NA>,<NA>,Terrie,Mickersones,1
10440,7469_01,Earth,False,NaN,TRAPPIST-1e,24.0,False,433.0,110.0,209.0,23.0,0.0,Cliney Baxterson,Test,NaN,7469.0,1.0,NaN,<NA>,<NA>,Cliney,Baxterson,1
10558,7556_03,Europa,False,NaN,TRAPPIST-1e,33.0,False,0.0,673.0,0.0,0.0,783.0,Cella Mosteraked,Test,NaN,7556.0,3.0,NaN,<NA>,<NA>,Cella,Mosteraked,4
11074,7942_02,Earth,False,NaN,TRAPPIST-1e,2.0,False,0.0,0.0,0.0,0.0,0.0,Ralda Hales,Test,NaN,7942.0,2.0,NaN,<NA>,<NA>,Ralda,Hales,2
11082,7948_01,Earth,False,NaN,TRAPPIST-1e,28.0,False,2.0,0.0,0.0,754.0,0.0,Elinda Flynner,Test,NaN,7948.0,1.0,NaN,<NA>,<NA>,Elinda,Flynner,1
11129,7983_01,Europa,True,NaN,TRAPPIST-1e,53.0,False,0.0,0.0,0.0,0.0,0.0,Alderak Wassird,Train,True,7983.0,1.0,NaN,<NA>,<NA>,Alderak,Wassird,1
11148,7995_01,Europa,True,NaN,TRAPPIST-1e,36.0,False,0.0,0.0,0.0,0.0,0.0,Grum Stiviorad,Train,True,7995.0,1.0,NaN,<NA>,<NA>,Grum,Stiviorad,1
12651,9057_01,Europa,False,NaN,55 Cancri e,36.0,True,132.0,3479.0,0.0,3786.0,0.0,Coxan Statch,Train,False,9057.0,1.0,NaN,<NA>,<NA>,Coxan,Statch,2
12658,9062_02,Earth,True,NaN,TRAPPIST-1e,65.0,False,0.0,0.0,0.0,0.0,0.0,Lerion Pughlinsons,Test,NaN,9062.0,2.0,NaN,<NA>,<NA>,Lerion,Pughlinsons,2
12668,9069_03,Europa,True,NaN,55 Cancri e,25.0,False,0.0,0.0,0.0,0.0,0.0,Bath Brakeng,Train,True,9069.0,3.0,NaN,<NA>,<NA>,Bath,Brakeng,5
12671,9070_01,Earth,False,NaN,TRAPPIST-1e,20.0,False,323.0,0.0,542.0,0.0,0.0,Oraryn Flynney,Test,NaN,9070.0,1.0,NaN,<NA>,<NA>,Oraryn,Flynney,2

In [48]:
newdict1 = {}
for item in togeth.iterrows():
    item = item[1]
    if not pd.isna(item.Cabin):
        newdict1[item.PassengerId] = item.Cabin

In [49]:
len(newdict1)

12929

In [50]:
import pickle
with open('idtocabin11.pkl', 'wb') as fp:
    pickle.dump(newdict1, fp)
    print('dictionary saved successfully to file')

dictionary saved successfully to file

In [46]:
len(newdict)

12929

In [ ]:
togeth.at[indexfromid('5098_02'),'Cabin'] = 'G/832/S'

In [40]:
togeth[togeth.Group == 2425]

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Set,Transported,Group,GroupNumber,CabinDeck,CabinSide,CabinNum,FirstName,LastName,GroupSize
3412,2425_01,Earth,True,G/396/P,TRAPPIST-1e,0.0,False,0.0,0.0,NaN,0.0,0.0,Raulia Tranklinay,Test,NaN,2425.0,1.0,G,P,396,Raulia,Tranklinay,6
3413,2425_02,Earth,False,G/396/P,PSO J318.5-22,28.0,False,0.0,NaN,1059.0,8.0,83.0,Trice Tranklinay,Test,NaN,2425.0,2.0,G,P,396,Trice,Tranklinay,6
3414,2425_03,Earth,False,F/495/P,TRAPPIST-1e,30.0,False,0.0,1307.0,848.0,246.0,0.0,Rickie Tranklinay,Test,NaN,2425.0,3.0,F,P,495,Rickie,Tranklinay,6
3415,2425_04,Earth,False,G/396/P,55 Cancri e,9.0,False,0.0,0.0,0.0,0.0,0.0,Elenna Tranklinay,Test,NaN,2425.0,4.0,G,P,396,Elenna,Tranklinay,6
3416,2425_05,Earth,True,G/396/P,TRAPPIST-1e,0.0,False,0.0,0.0,0.0,0.0,0.0,Coley Tranklinay,Test,NaN,2425.0,5.0,G,P,396,Coley,Tranklinay,6
3417,2425_06,Earth,True,G/396/P,TRAPPIST-1e,4.0,False,0.0,0.0,0.0,0.0,0.0,Lan Tranklinay,Test,NaN,2425.0,6.0,G,P,396,Lan,Tranklinay,6

In [152]:

for cab in togeth.Cabin.unique():
    group = togeth[togeth.Cabin == cab]
    if len(group.Group.unique()) > 1:
        print(cab)

In [16]:
togeth[togeth.Cabin == 'G/2/S']

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Set,Transported,Group,GroupNumber,CabinDeck,CabinSide,CabinNum,FirstName,LastName,GroupSize,CabinSize
15,0012_01,Earth,False,G/2/S,TRAPPIST-1e,31.0,False,32.0,0.0,876.0,0.0,0.0,Justie Pooles,Train,False,12.0,1.0,G,S,2,Justie,Pooles,1,1

In [156]:
togeth.isna().sum()

PassengerId        0
HomePlanet        10
CryoSleep        310
Cabin             41
Destination      274
Age              270
VIP              296
RoomService      263
FoodCourt        289
ShoppingMall     306
Spa              284
VRDeck           268
Name             294
Set                0
Transported     4277
Group              0
GroupNumber        0
CabinDeck         41
CabinSide         41
CabinNum          41
FirstName        294
LastName         294
GroupSize          0
CabinSize        139
dtype: int64

In [101]:
newdf = {}
for item in cabopts:
    newdf[item] = [cabopts[item]]
df = pd.DataFrame(newdf)
df = df.transpose()
df.to_csv('pdcd.csv')

In [100]:
df

                                                                          0
0293_01                                    [[12, 14, B, P], [12, 14, C, S]]
0310_01                                    [[12, 14, B, P], [12, 14, C, S]]
0348_02                                                    [[19, 22, E, P]]
0364_02                                                    [[19, 22, E, P]]
0374_02                                                    [[19, 22, E, P]]
0992_04                                    [[35, 35, D, S], [57, 59, E, P]]
1006_03                                                    [[57, 59, E, P]]
1011_01                                                    [[57, 59, E, P]]
1041_01                                    [[39, 41, C, S], [35, 37, D, S]]
1095_01                                    [[39, 41, C, S], [35, 37, D, S]]
2513_01                                [[518, 520, F, P], [149, 151, E, P]]
2514_01                                [[518, 520, F, P], [149, 151, E, P]]
3598_01                                [[589, 591, G, P], [578, 580, G, S]]
3599_01                                [[589, 591, G, P], [578, 580, G, S]]
4953_01                                   [[192, 194, C, S], [4, -2, T, P]]
4974_02                                   [[192, 194, C, S], [4, -2, T, P]]
5480_01                                   [[213, 215, C, S], [4, -2, T, P]]
5642_02                                   [[213, 215, C, S], [4, -2, T, P]]
6028_04                                     [[57, 57, A, P], [4, -2, T, P]]
6048_01                                [[190, 192, D, P], [386, 388, E, P]]
6060_01                                [[190, 192, D, P], [386, 388, E, P]]
6612_03                            [[1266, 1268, F, S], [1077, 1077, G, S]]
6612_05                            [[1266, 1268, F, S], [1077, 1077, G, S]]
7182_01                            [[1488, 1490, F, P], [1156, 1158, G, P]]
7183_01                            [[1488, 1490, F, P], [1156, 1158, G, P]]
7353_03                    [[269, 271, C, S], [4, -2, T, P], [3, -2, T, S]]
7368_01  [[269, 271, C, S], [234, 236, D, P], [4, -2, T, P], [3, -2, T, S]]
7429_01                              [[1423, 1425, F, S], [234, 236, D, P]]
7440_01                            [[1423, 1425, F, S], [1205, 1207, G, S]]
7442_02                            [[1423, 1425, F, S], [1205, 1207, G, S]]
7463_01                            [[1543, 1545, F, P], [1211, 1213, G, S]]
7469_01                            [[1543, 1545, F, P], [1211, 1213, G, S]]
7556_03  [[280, 280, C, S], [234, 236, D, P], [4, -2, T, P], [3, -2, T, S]]
7942_02                            [[1285, 1287, G, P], [1281, 1283, G, S]]
7948_01                            [[1285, 1287, G, P], [1281, 1283, G, S]]
7983_01                                [[297, 299, C, S], [527, 529, E, S]]
7995_01                                [[297, 299, C, S], [527, 529, E, S]]
9057_01                      [[93, 95, A, P], [4, -2, T, P], [3, -2, T, S]]
9062_02                                                [[1473, 1475, G, P]]
9069_03    [[297, 297, B, P], [93, 95, A, P], [4, -2, T, P], [3, -2, T, S]]
9070_01                                                [[1473, 1475, G, P]]

In [552]:
def print_rows_with_different_group(df):
    unique_cabins = df['Cabin'].unique()
    
    for cabin in unique_cabins:
        group_list = df[df['Cabin'] == cabin]['Group'].unique()
        
        if len(group_list) > 1:
            print(cabin)

# Call the function with your DataFrame
print_rows_with_different_group(togeth)

In [537]:
sum = 0
remains = []
for cabinside in ['P','S']:
    for cabindeck in list(togeth.CabinDeck.unique()):
        setss = set(togeth[(togeth.CabinDeck == cabindeck) & (togeth.CabinSide == cabinside)].CabinNum)
        if len(setss) > 1:
            sum += len(set(range(min(setss),max(setss) + 1)).difference(setss))
            a = list((set(range(min(setss),max(setss) + 1))).difference(setss))
            a.sort()
            remains.append((cabindeck,cabinside,a))
            print(cabindeck,cabinside,a)
sum

B P [13, 98, 99]
F P [519, 1489, 1544]
A P [94]
G P [590, 1157, 1286, 1474]
C P []
E P [20, 21, 58, 150, 387]
D P [191, 235]
T P []
B S []
F S [1267, 1424, 1785]
A S []
G S [579, 1206, 1212, 1282]
C S [13, 40, 193, 214, 270, 298]
E S [300, 301, 528]
D S [36]
T S []

35

In [ ]:
togeth.at[indexfromid('3034_01'),'Cabin'] = 'B/98/P'
togeth.at[indexfromid('3053_01'),'Cabin'] = 'B/99/P'
togeth.at[indexfromid('9062_02'),'Cabin'] = 'F/1854/P'
togeth.at[indexfromid('9070_01'),'Cabin'] = 'G/1474/P'
togeth.at[indexfromid('9223_01'),'Cabin'] = 'F/1785/S'
togeth.at[indexfromid('9223_02'),'Cabin'] = 'F/1785/S'

In [546]:
cabopts = caboptions()
cabopts

{'0293_01': [[12, 14, 'B', 'P'],
  [7, 8, 'B', 'S'],
  [2, 3, 'A', 'P'],
  [3, 4, 'A', 'S'],
  [6, 7, 'C', 'P'],
  [12, 14, 'C', 'S'],
  [10, 11, 'D', 'P'],
  [10, 11, 'D', 'S'],
  [16, 17, 'E', 'P'],
  [17, 18, 'E', 'S'],
  [-2, 0, 'T', 'P'],
  [-2, 0, 'T', 'S']],
 '0310_01': [[12, 14, 'B', 'P'],
  [8, 9, 'B', 'S'],
  [3, 4, 'A', 'P'],
  [3, 4, 'A', 'S'],
  [7, 8, 'C', 'P'],
  [12, 14, 'C', 'S'],
  [11, 12, 'D', 'P'],
  [10, 11, 'D', 'S'],
  [16, 17, 'E', 'P'],
  [19, 20, 'E', 'S'],
  [-2, 0, 'T', 'P'],
  [-2, 0, 'T', 'S']],
 '0348_02': [[76, 77, 'F', 'P'],
  [64, 65, 'F', 'S'],
  [12, 13, 'D', 'P'],
  [10, 11, 'D', 'S'],
  [19, 22, 'E', 'P'],
  [21, 22, 'E', 'S']],
 '0364_02': [[81, 82, 'F', 'P'],
  [68, 69, 'F', 'S'],
  [12, 13, 'D', 'P'],
  [10, 11, 'D', 'S'],
  [19, 22, 'E', 'P'],
  [22, 23, 'E', 'S']],
 '0374_02': [[86, 87, 'F', 'P'],
  [68, 69, 'F', 'S'],
  [62, 63, 'G', 'P'],
  [53, 54, 'G', 'S'],
  [19, 22, 'E', 'P'],
  [22, 23, 'E', 'S']],
 '0992_04': [[37, 38, 'B', 'P'],
  [40, 41, 'B', 'S'],
  [7, 8, 'A', 'P'],
  [10, 11, 'A', 'S'],
  [35, 36, 'C', 'P'],
  [38, 39, 'C', 'S'],
  [38, 39, 'D', 'P'],
  [35, 35, 'D', 'S'],
  [57, 59, 'E', 'P'],
  [73, 74, 'E', 'S'],
  [-2, 0, 'T', 'P'],
  [0, 1, 'T', 'S']],
 '1006_03': [[205, 206, 'F', 'P'],
  [187, 188, 'F', 'S'],
  [147, 148, 'G', 'P'],
  [156, 157, 'G', 'S'],
  [57, 59, 'E', 'P'],
  [74, 75, 'E', 'S']],
 '1011_01': [[206, 207, 'F', 'P'],
  [188, 189, 'F', 'S'],
  [147, 148, 'G', 'P'],
  [157, 158, 'G', 'S'],
  [57, 59, 'E', 'P'],
  [74, 75, 'E', 'S']],
 '1041_01': [[37, 38, 'B', 'P'],
  [40, 41, 'B', 'S'],
  [7, 8, 'A', 'P'],
  [12, 13, 'A', 'S'],
  [37, 38, 'C', 'P'],
  [39, 41, 'C', 'S'],
  [39, 40, 'D', 'P'],
  [35, 37, 'D', 'S'],
  [57, 59, 'E', 'P'],
  [74, 75, 'E', 'S'],
  [-2, 0, 'T', 'P'],
  [0, 1, 'T', 'S']],
 '1095_01': [[38, 39, 'B', 'P'],
  [42, 43, 'B', 'S'],
  [8, 9, 'A', 'P'],
  [12, 13, 'A', 'S'],
  [41, 42, 'C', 'P'],
  [39, 41, 'C', 'S'],
  [42, 43, 'D', 'P'],
  [35, 37, 'D', 'S'],
  [61, 62, 'E', 'P'],
  [75, 76, 'E', 'S'],
  [0, 1, 'T', 'P'],
  [0, 1, 'T', 'S']],
 '2513_01': [[518, 520, 'F', 'P'],
  [483, 484, 'F', 'S'],
  [405, 406, 'G', 'P'],
  [404, 405, 'G', 'S'],
  [149, 151, 'E', 'P'],
  [176, 177, 'E', 'S']],
 '2514_01': [[518, 520, 'F', 'P'],
  [483, 484, 'F', 'S'],
  [405, 406, 'G', 'P'],
  [404, 405, 'G', 'S'],
  [149, 151, 'E', 'P'],
  [176, 177, 'E', 'S']],
 '3034_01': [[97, 100, 'B', 'P'],
  [112, 113, 'B', 'S'],
  [24, 25, 'A', 'P'],
  [36, 37, 'A', 'S'],
  [103, 104, 'C', 'P'],
  [115, 116, 'C', 'S'],
  [92, 93, 'D', 'P'],
  [97, 98, 'D', 'S'],
  [187, 188, 'E', 'P'],
  [199, 200, 'E', 'S'],
  [3, 4, 'T', 'P'],
  [1, 2, 'T', 'S']],
 '3053_01': [[97, 100, 'B', 'P'],
  [112, 113, 'B', 'S'],
  [24, 25, 'A', 'P'],
  [37, 38, 'A', 'S'],
  [104, 105, 'C', 'P'],
  [116, 117, 'C', 'S'],
  [93, 94, 'D', 'P'],
  [97, 98, 'D', 'S'],
  [191, 192, 'E', 'P'],
  [200, 201, 'E', 'S'],
  [3, 4, 'T', 'P'],
  [1, 2, 'T', 'S']],
 '3598_01': [[745, 746, 'F', 'P'],
  [677, 678, 'F', 'S'],
  [589, 591, 'G', 'P'],
  [578, 580, 'G', 'S'],
  [215, 216, 'E', 'P'],
  [240, 241, 'E', 'S']],
 '3599_01': [[745, 746, 'F', 'P'],
  [677, 678, 'F', 'S'],
  [589, 591, 'G', 'P'],
  [578, 580, 'G', 'S'],
  [215, 216, 'E', 'P'],
  [240, 241, 'E', 'S']],
 '4637_01': [[946, 947, 'F', 'P'],
  [870, 871, 'F', 'S'],
  [153, 154, 'D', 'P'],
  [146, 147, 'D', 'S'],
  [289, 290, 'E', 'P'],
  [299, 302, 'E', 'S']],
 '4652_01': [[947, 948, 'F', 'P'],
  [874, 875, 'F', 'S'],
  [755, 756, 'G', 'P'],
  [762, 763, 'G', 'S'],
  [290, 291, 'E', 'P'],
  [299, 302, 'E', 'S']],
 '4953_01': [[161, 162, 'B', 'P'],
  [196, 197, 'B', 'S'],
  [43, 44, 'A', 'P'],
  [60, 61, 'A', 'S'],
  [154, 155, 'C', 'P'],
  [192, 194, 'C', 'S'],
  [161, 162, 'D', 'P'],
  [153, 154, 'D', 'S'],
  [307, 308, 'E', 'P'],
  [319, 320, 'E', 'S'],
  [4, -2, 'T', 'P'],
  [2, 3, 'T', 'S']],
 '4974_02': [[162, 163, 'B', 'P'],
  [197, 198, 'B', 'S'],
  [44, 45, 'A', 'P'],
  [60, 61, 'A', 'S'],
  [155, 156, 'C', 'P'],
  [192, 194, 'C', 'S'],
  [161, 162, 'D', 'P'],
  [154, 155, 'D', 'S'],
  [309, 310, 'E', 'P'],
  [319, 320, 'E', 'S'],
  [4, -2, 'T', 'P'],
  [2, 3, 'T', 'S']],
 '5480_01': [[185, 186, 'B', 'P'],
  [208, 209, 'B', 'S'],
  [50, 51, 'A', 'P'],
  [66, 67, 'A', 'S'],
  [173, 174, 'C', 'P'],
  [213, 215, 'C', 'S'],
  [174, 175, 'D', 'P'],
  [165, 166, 'D', 'S'],
  [344, 345, 'E', 'P'],
  [353, 354, 'E', 'S'],
  [4, -2, 'T', 'P'],
  [2, 3, 'T', 'S']],
 '5642_02': [[190, 191, 'B', 'P'],
  [216, 217, 'B', 'S'],
  [51, 52, 'A', 'P'],
  [69, 70, 'A', 'S'],
  [177, 178, 'C', 'P'],
  [213, 215, 'C', 'S'],
  [179, 180, 'D', 'P'],
  [172, 173, 'D', 'S'],
  [353, 354, 'E', 'P'],
  [368, 369, 'E', 'S'],
  [4, -2, 'T', 'P'],
  [2, 3, 'T', 'S']],
 '6028_04': [[205, 206, 'B', 'P'],
  [232, 233, 'B', 'S'],
  [57, 57, 'A', 'P'],
  [71, 72, 'A', 'S'],
  [184, 185, 'C', 'P'],
  [224, 225, 'C', 'S'],
  [190, 192, 'D', 'P'],
  [183, 184, 'D', 'S'],
  [383, 384, 'E', 'P'],
  [395, 396, 'E', 'S'],
  [4, -2, 'T', 'P'],
  [2, 3, 'T', 'S']],
 '6048_01': [[1250, 1251, 'F', 'P'],
  [1149, 1150, 'F', 'S'],
  [190, 192, 'D', 'P'],
  [183, 184, 'D', 'S'],
  [386, 388, 'E', 'P'],
  [397, 398, 'E', 'S']],
 '6060_01': [[1253, 1254, 'F', 'P'],
  [1152, 1153, 'F', 'S'],
  [190, 192, 'D', 'P'],
  [184, 185, 'D', 'S'],
  [386, 388, 'E', 'P'],
  [397, 398, 'E', 'S']],
 '6612_03': [[1375, 1376, 'F', 'P'],
  [1266, 1268, 'F', 'S'],
  [1069, 1070, 'G', 'P'],
  [1077, 1077, 'G', 'S'],
  [421, 422, 'E', 'P'],
  [439, 440, 'E', 'S']],
 '6612_05': [[1375, 1376, 'F', 'P'],
  [1266, 1268, 'F', 'S'],
  [1069, 1070, 'G', 'P'],
  [1077, 1077, 'G', 'S'],
  [421, 422, 'E', 'P'],
  [439, 440, 'E', 'S']],
 '7182_01': [[1488, 1490, 'F', 'P'],
  [1380, 1381, 'F', 'S'],
  [1156, 1158, 'G', 'P'],
  [1169, 1170, 'G', 'S'],
  [460, 461, 'E', 'P'],
  [478, 479, 'E', 'S']],
 '7183_01': [[1488, 1490, 'F', 'P'],
  [1380, 1381, 'F', 'S'],
  [1156, 1158, 'G', 'P'],
  [1169, 1170, 'G', 'S'],
  [460, 461, 'E', 'P'],
  [478, 479, 'E', 'S']],
 '7353_03': [[241, 242, 'B', 'P'],
  [274, 275, 'B', 'S'],
  [78, 79, 'A', 'P'],
  [89, 90, 'A', 'S'],
  [238, 239, 'C', 'P'],
  [269, 271, 'C', 'S'],
  [233, 234, 'D', 'P'],
  [221, 222, 'D', 'S'],
  [476, 477, 'E', 'P'],
  [490, 491, 'E', 'S'],
  [4, -2, 'T', 'P'],
  [3, -2, 'T', 'S']],
 '7368_01': [[242, 243, 'B', 'P'],
  [274, 275, 'B', 'S'],
  [78, 79, 'A', 'P'],
  [89, 90, 'A', 'S'],
  [239, 240, 'C', 'P'],
  [269, 271, 'C', 'S'],
  [234, 236, 'D', 'P'],
  [221, 222, 'D', 'S'],
  [476, 477, 'E', 'P'],
  [492, 493, 'E', 'S'],
  [4, -2, 'T', 'P'],
  [3, -2, 'T', 'S']],
 '7429_01': [[1538, 1539, 'F', 'P'],
  [1423, 1425, 'F', 'S'],
  [234, 236, 'D', 'P'],
  [222, 223, 'D', 'S'],
  [480, 481, 'E', 'P'],
  [494, 495, 'E', 'S']],
 '7440_01': [[1538, 1539, 'F', 'P'],
  [1423, 1425, 'F', 'S'],
  [1202, 1203, 'G', 'P'],
  [1205, 1207, 'G', 'S'],
  [483, 484, 'E', 'P'],
  [494, 495, 'E', 'S']],
 '7442_02': [[1538, 1539, 'F', 'P'],
  [1423, 1425, 'F', 'S'],
  [1202, 1203, 'G', 'P'],
  [1205, 1207, 'G', 'S'],
  [483, 484, 'E', 'P'],
  [495, 496, 'E', 'S']],
 '7463_01': [[1543, 1545, 'F', 'P'],
  [1423, 1425, 'F', 'S'],
  [1206, 1207, 'G', 'P'],
  [1211, 1213, 'G', 'S'],
  [483, 484, 'E', 'P'],
  [496, 497, 'E', 'S']],
 '7469_01': [[1543, 1545, 'F', 'P'],
  [1425, 1426, 'F', 'S'],
  [1207, 1208, 'G', 'P'],
  [1211, 1213, 'G', 'S'],
  [484, 485, 'E', 'P'],
  [498, 499, 'E', 'S']],
 '7556_03': [[246, 247, 'B', 'P'],
  [286, 287, 'B', 'S'],
  [81, 82, 'A', 'P'],
  [90, 91, 'A', 'S'],
  [243, 244, 'C', 'P'],
  [280, 280, 'C', 'S'],
  [234, 236, 'D', 'P'],
  [225, 226, 'D', 'S'],
  [491, 492, 'E', 'P'],
  [501, 502, 'E', 'S'],
  [4, -2, 'T', 'P'],
  [3, -2, 'T', 'S']],
 '7942_02': [[1644, 1645, 'F', 'P'],
  [1521, 1522, 'F', 'S'],
  [1285, 1287, 'G', 'P'],
  [1281, 1283, 'G', 'S'],
  [515, 516, 'E', 'P'],
  [523, 524, 'E', 'S']],
 '7948_01': [[1646, 1647, 'F', 'P'],
  [1522, 1523, 'F', 'S'],
  [1285, 1287, 'G', 'P'],
  [1281, 1283, 'G', 'S'],
  [515, 516, 'E', 'P'],
  [523, 524, 'E', 'S']],
 '7983_01': [[261, 262, 'B', 'P'],
  [312, 313, 'B', 'S'],
  [84, 85, 'A', 'P'],
  [95, 96, 'A', 'S'],
  [259, 260, 'C', 'P'],
  [297, 299, 'C', 'S'],
  [247, 248, 'D', 'P'],
  [232, 233, 'D', 'S'],
  [516, 517, 'E', 'P'],
  [527, 529, 'E', 'S'],
  [4, -2, 'T', 'P'],
  [3, -2, 'T', 'S']],
 '7995_01': [[261, 262, 'B', 'P'],
  [313, 314, 'B', 'S'],
  [84, 85, 'A', 'P'],
  [96, 97, 'A', 'S'],
  [260, 261, 'C', 'P'],
  [297, 299, 'C', 'S'],
  [248, 249, 'D', 'P'],
  [232, 233, 'D', 'S'],
  [516, 517, 'E', 'P'],
  [527, 529, 'E', 'S'],
  [4, -2, 'T', 'P'],
  [3, -2, 'T', 'S']],
 '9057_01': [[295, 296, 'B', 'P'],
  [345, 346, 'B', 'S'],
  [93, 95, 'A', 'P'],
  [106, 107, 'A', 'S'],
  [301, 302, 'C', 'P'],
  [336, 337, 'C', 'S'],
  [289, 290, 'D', 'P'],
  [274, 275, 'D', 'S'],
  [579, 580, 'E', 'P'],
  [593, 594, 'E', 'S'],
  [4, -2, 'T', 'P'],
  [3, -2, 'T', 'S']],
 '9062_02': [[1854, 1855, 'F', 'P'],
  [1753, 1754, 'F', 'S'],
  [1473, 1475, 'G', 'P'],
  [1458, 1459, 'G', 'S'],
  [579, 580, 'E', 'P'],
  [593, 594, 'E', 'S']],
 '9069_03': [[297, 297, 'B', 'P'],
  [346, 347, 'B', 'S'],
  [93, 95, 'A', 'P'],
  [106, 107, 'A', 'S'],
  [301, 302, 'C', 'P'],
  [337, 338, 'C', 'S'],
  [289, 290, 'D', 'P'],
  [276, 277, 'D', 'S'],
  [579, 580, 'E', 'P'],
  [593, 594, 'E', 'S'],
  [4, -2, 'T', 'P'],
  [3, -2, 'T', 'S']],
 '9070_01': [[1854, 1855, 'F', 'P'],
  [1756, 1757, 'F', 'S'],
  [1473, 1475, 'G', 'P'],
  [1459, 1460, 'G', 'S'],
  [579, 580, 'E', 'P'],
  [593, 594, 'E', 'S']],
 '9223_01': [[1886, 1887, 'F', 'P'],
  [1784, 1786, 'F', 'S'],
  [295, 296, 'D', 'P'],
  [277, 278, 'D', 'S'],
  [591, 592, 'E', 'P'],
  [604, 605, 'E', 'S']],
 '9223_02': [[1886, 1887, 'F', 'P'],
  [1784, 1786, 'F', 'S'],
  [295, 296, 'D', 'P'],
  [277, 278, 'D', 'S'],
  [591, 592, 'E', 'P'],
  [604, 605, 'E', 'S']]}

In [543]:
ak = indexfromid(togeth[togeth.Cabin.isna()].iloc[-1].PassengerId)
togeth.iloc[ak -5 : ak + 5]

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Set,Transported,Group,GroupNumber,CabinDeck,CabinSide,CabinNum,FirstName,LastName,GroupSize
12888,9220_02,Earth,True,G/1496/P,TRAPPIST-1e,20.0,False,0.0,0.0,0.0,0.0,0.0,Frey Meyerthy,Train,True,9220.0,2.0,G,P,1496,Frey,Meyerthy,3
12889,9220_03,Earth,False,F/1886/P,PSO J318.5-22,22.0,False,623.0,0.0,NaN,0.0,53.0,Kennie Barrilloney,Train,True,9220.0,3.0,F,P,1886,Kennie,Barrilloney,3
12890,9221_01,Earth,True,G/1497/P,TRAPPIST-1e,21.0,False,0.0,0.0,0.0,0.0,NaN,Elicey Beachez,Train,False,9221.0,1.0,G,P,1497,Elicey,Beachez,1
12891,9222_01,Mars,True,F/1784/S,TRAPPIST-1e,50.0,False,0.0,0.0,0.0,NaN,0.0,Carves Chate,Train,True,9222.0,1.0,F,S,1784,Carves,Chate,1
12892,9223_01,Mars,True,NaN,TRAPPIST-1e,24.0,False,0.0,0.0,NaN,0.0,0.0,Weessh Sun,Test,NaN,9223.0,1.0,NaN,<NA>,<NA>,Weessh,Sun,2
12893,9223_02,Mars,True,NaN,TRAPPIST-1e,17.0,False,0.0,0.0,0.0,0.0,0.0,Perit Sun,Test,NaN,9223.0,2.0,NaN,<NA>,<NA>,Perit,Sun,2
12894,9224_01,Mars,False,F/1786/S,TRAPPIST-1e,24.0,False,745.0,639.0,977.0,4.0,0.0,Bants Reke,Train,False,9224.0,1.0,F,S,1786,Bants,Reke,1
12895,9225_01,Earth,False,F/1787/S,TRAPPIST-1e,45.0,False,1.0,197.0,0.0,660.0,15.0,Lynnon Meyersones,Train,False,9225.0,1.0,F,S,1787,Lynnon,Meyersones,1
12896,9226_01,Earth,False,F/1788/S,NaN,22.0,False,676.0,0.0,13.0,0.0,12.0,Stendy Connelson,Train,False,9226.0,1.0,F,S,1788,Stendy,Connelson,1
12897,9227_01,Earth,True,G/1498/P,TRAPPIST-1e,7.0,False,0.0,0.0,0.0,0.0,0.0,Glendy Hinglendez,Train,False,9227.0,1.0,G,P,1498,Glendy,Hinglendez,5

In [200]:
remains

[('A', 'P', []),
 ('B', 'P', [13, 98, 99]),
 ('C', 'P', []),
 ('D', 'P', [191, 235]),
 ('E', 'P', [20, 21, 58, 150, 387]),
 ('F', 'P', [152, 519, 1489, 1544]),
 ('G', 'P', [273, 590, 775, 1157, 1286, 1474]),
 ('T', 'P', []),
 ('A', 'S', []),
 ('B', 'S', []),
 ('C', 'S', [13, 40, 193, 270, 298]),
 ('D', 'S', [36]),
 ('E', 'S', [300, 301, 528]),
 ('F', 'S', [674, 1267, 1424, 1785]),
 ('G', 'S', [579, 1206, 1212, 1282]),
 ('T', 'S', [])]

In [547]:
togeth[togeth.HomePlanet == 'Mars'].CabinDeck.value_counts()

CabinDeck
F    1788
E     535
D     420
A       0
B       0
C       0
G       0
T       0
Name: count, dtype: int64

In [548]:
dict = {}
for item in list(cabopts.keys()):
    concern = togeth.loc[indexfromid(item)]
    if concern in dict:
        dict[concern] += 1
    else:
        dict[concern] = 1
dict

TypeError: unhashable type: 'Series'

In [549]:
cabopts

{'0293_01': [[12, 14, 'B', 'P'],
  [7, 8, 'B', 'S'],
  [2, 3, 'A', 'P'],
  [3, 4, 'A', 'S'],
  [6, 7, 'C', 'P'],
  [12, 14, 'C', 'S'],
  [10, 11, 'D', 'P'],
  [10, 11, 'D', 'S'],
  [16, 17, 'E', 'P'],
  [17, 18, 'E', 'S'],
  [-2, 0, 'T', 'P'],
  [-2, 0, 'T', 'S']],
 '0310_01': [[12, 14, 'B', 'P'],
  [8, 9, 'B', 'S'],
  [3, 4, 'A', 'P'],
  [3, 4, 'A', 'S'],
  [7, 8, 'C', 'P'],
  [12, 14, 'C', 'S'],
  [11, 12, 'D', 'P'],
  [10, 11, 'D', 'S'],
  [16, 17, 'E', 'P'],
  [19, 20, 'E', 'S'],
  [-2, 0, 'T', 'P'],
  [-2, 0, 'T', 'S']],
 '0348_02': [[76, 77, 'F', 'P'],
  [64, 65, 'F', 'S'],
  [12, 13, 'D', 'P'],
  [10, 11, 'D', 'S'],
  [19, 22, 'E', 'P'],
  [21, 22, 'E', 'S']],
 '0364_02': [[81, 82, 'F', 'P'],
  [68, 69, 'F', 'S'],
  [12, 13, 'D', 'P'],
  [10, 11, 'D', 'S'],
  [19, 22, 'E', 'P'],
  [22, 23, 'E', 'S']],
 '0374_02': [[86, 87, 'F', 'P'],
  [68, 69, 'F', 'S'],
  [62, 63, 'G', 'P'],
  [53, 54, 'G', 'S'],
  [19, 22, 'E', 'P'],
  [22, 23, 'E', 'S']],
 '0992_04': [[37, 38, 'B', 'P'],
  [40, 41, 'B', 'S'],
  [7, 8, 'A', 'P'],
  [10, 11, 'A', 'S'],
  [35, 36, 'C', 'P'],
  [38, 39, 'C', 'S'],
  [38, 39, 'D', 'P'],
  [35, 35, 'D', 'S'],
  [57, 59, 'E', 'P'],
  [73, 74, 'E', 'S'],
  [-2, 0, 'T', 'P'],
  [0, 1, 'T', 'S']],
 '1006_03': [[205, 206, 'F', 'P'],
  [187, 188, 'F', 'S'],
  [147, 148, 'G', 'P'],
  [156, 157, 'G', 'S'],
  [57, 59, 'E', 'P'],
  [74, 75, 'E', 'S']],
 '1011_01': [[206, 207, 'F', 'P'],
  [188, 189, 'F', 'S'],
  [147, 148, 'G', 'P'],
  [157, 158, 'G', 'S'],
  [57, 59, 'E', 'P'],
  [74, 75, 'E', 'S']],
 '1041_01': [[37, 38, 'B', 'P'],
  [40, 41, 'B', 'S'],
  [7, 8, 'A', 'P'],
  [12, 13, 'A', 'S'],
  [37, 38, 'C', 'P'],
  [39, 41, 'C', 'S'],
  [39, 40, 'D', 'P'],
  [35, 37, 'D', 'S'],
  [57, 59, 'E', 'P'],
  [74, 75, 'E', 'S'],
  [-2, 0, 'T', 'P'],
  [0, 1, 'T', 'S']],
 '1095_01': [[38, 39, 'B', 'P'],
  [42, 43, 'B', 'S'],
  [8, 9, 'A', 'P'],
  [12, 13, 'A', 'S'],
  [41, 42, 'C', 'P'],
  [39, 41, 'C', 'S'],
  [42, 43, 'D', 'P'],
  [35, 37, 'D', 'S'],
  [61, 62, 'E', 'P'],
  [75, 76, 'E', 'S'],
  [0, 1, 'T', 'P'],
  [0, 1, 'T', 'S']],
 '2513_01': [[518, 520, 'F', 'P'],
  [483, 484, 'F', 'S'],
  [405, 406, 'G', 'P'],
  [404, 405, 'G', 'S'],
  [149, 151, 'E', 'P'],
  [176, 177, 'E', 'S']],
 '2514_01': [[518, 520, 'F', 'P'],
  [483, 484, 'F', 'S'],
  [405, 406, 'G', 'P'],
  [404, 405, 'G', 'S'],
  [149, 151, 'E', 'P'],
  [176, 177, 'E', 'S']],
 '3034_01': [[97, 100, 'B', 'P'],
  [112, 113, 'B', 'S'],
  [24, 25, 'A', 'P'],
  [36, 37, 'A', 'S'],
  [103, 104, 'C', 'P'],
  [115, 116, 'C', 'S'],
  [92, 93, 'D', 'P'],
  [97, 98, 'D', 'S'],
  [187, 188, 'E', 'P'],
  [199, 200, 'E', 'S'],
  [3, 4, 'T', 'P'],
  [1, 2, 'T', 'S']],
 '3053_01': [[97, 100, 'B', 'P'],
  [112, 113, 'B', 'S'],
  [24, 25, 'A', 'P'],
  [37, 38, 'A', 'S'],
  [104, 105, 'C', 'P'],
  [116, 117, 'C', 'S'],
  [93, 94, 'D', 'P'],
  [97, 98, 'D', 'S'],
  [191, 192, 'E', 'P'],
  [200, 201, 'E', 'S'],
  [3, 4, 'T', 'P'],
  [1, 2, 'T', 'S']],
 '3598_01': [[745, 746, 'F', 'P'],
  [677, 678, 'F', 'S'],
  [589, 591, 'G', 'P'],
  [578, 580, 'G', 'S'],
  [215, 216, 'E', 'P'],
  [240, 241, 'E', 'S']],
 '3599_01': [[745, 746, 'F', 'P'],
  [677, 678, 'F', 'S'],
  [589, 591, 'G', 'P'],
  [578, 580, 'G', 'S'],
  [215, 216, 'E', 'P'],
  [240, 241, 'E', 'S']],
 '4637_01': [[946, 947, 'F', 'P'],
  [870, 871, 'F', 'S'],
  [153, 154, 'D', 'P'],
  [146, 147, 'D', 'S'],
  [289, 290, 'E', 'P'],
  [299, 302, 'E', 'S']],
 '4652_01': [[947, 948, 'F', 'P'],
  [874, 875, 'F', 'S'],
  [755, 756, 'G', 'P'],
  [762, 763, 'G', 'S'],
  [290, 291, 'E', 'P'],
  [299, 302, 'E', 'S']],
 '4953_01': [[161, 162, 'B', 'P'],
  [196, 197, 'B', 'S'],
  [43, 44, 'A', 'P'],
  [60, 61, 'A', 'S'],
  [154, 155, 'C', 'P'],
  [192, 194, 'C', 'S'],
  [161, 162, 'D', 'P'],
  [153, 154, 'D', 'S'],
  [307, 308, 'E', 'P'],
  [319, 320, 'E', 'S'],
  [4, -2, 'T', 'P'],
  [2, 3, 'T', 'S']],
 '4974_02': [[162, 163, 'B', 'P'],
  [197, 198, 'B', 'S'],
  [44, 45, 'A', 'P'],
  [60, 61, 'A', 'S'],
  [155, 156, 'C', 'P'],
  [192, 194, 'C', 'S'],
  [161, 162, 'D', 'P'],
  [154, 155, 'D', 'S'],
  [309, 310, 'E', 'P'],
  [319, 320, 'E', 'S'],
  [4, -2, 'T', 'P'],
  [2, 3, 'T', 'S']],
 '5480_01': [[185, 186, 'B', 'P'],
  [208, 209, 'B', 'S'],
  [50, 51, 'A', 'P'],
  [66, 67, 'A', 'S'],
  [173, 174, 'C', 'P'],
  [213, 215, 'C', 'S'],
  [174, 175, 'D', 'P'],
  [165, 166, 'D', 'S'],
  [344, 345, 'E', 'P'],
  [353, 354, 'E', 'S'],
  [4, -2, 'T', 'P'],
  [2, 3, 'T', 'S']],
 '5642_02': [[190, 191, 'B', 'P'],
  [216, 217, 'B', 'S'],
  [51, 52, 'A', 'P'],
  [69, 70, 'A', 'S'],
  [177, 178, 'C', 'P'],
  [213, 215, 'C', 'S'],
  [179, 180, 'D', 'P'],
  [172, 173, 'D', 'S'],
  [353, 354, 'E', 'P'],
  [368, 369, 'E', 'S'],
  [4, -2, 'T', 'P'],
  [2, 3, 'T', 'S']],
 '6028_04': [[205, 206, 'B', 'P'],
  [232, 233, 'B', 'S'],
  [57, 57, 'A', 'P'],
  [71, 72, 'A', 'S'],
  [184, 185, 'C', 'P'],
  [224, 225, 'C', 'S'],
  [190, 192, 'D', 'P'],
  [183, 184, 'D', 'S'],
  [383, 384, 'E', 'P'],
  [395, 396, 'E', 'S'],
  [4, -2, 'T', 'P'],
  [2, 3, 'T', 'S']],
 '6048_01': [[1250, 1251, 'F', 'P'],
  [1149, 1150, 'F', 'S'],
  [190, 192, 'D', 'P'],
  [183, 184, 'D', 'S'],
  [386, 388, 'E', 'P'],
  [397, 398, 'E', 'S']],
 '6060_01': [[1253, 1254, 'F', 'P'],
  [1152, 1153, 'F', 'S'],
  [190, 192, 'D', 'P'],
  [184, 185, 'D', 'S'],
  [386, 388, 'E', 'P'],
  [397, 398, 'E', 'S']],
 '6612_03': [[1375, 1376, 'F', 'P'],
  [1266, 1268, 'F', 'S'],
  [1069, 1070, 'G', 'P'],
  [1077, 1077, 'G', 'S'],
  [421, 422, 'E', 'P'],
  [439, 440, 'E', 'S']],
 '6612_05': [[1375, 1376, 'F', 'P'],
  [1266, 1268, 'F', 'S'],
  [1069, 1070, 'G', 'P'],
  [1077, 1077, 'G', 'S'],
  [421, 422, 'E', 'P'],
  [439, 440, 'E', 'S']],
 '7182_01': [[1488, 1490, 'F', 'P'],
  [1380, 1381, 'F', 'S'],
  [1156, 1158, 'G', 'P'],
  [1169, 1170, 'G', 'S'],
  [460, 461, 'E', 'P'],
  [478, 479, 'E', 'S']],
 '7183_01': [[1488, 1490, 'F', 'P'],
  [1380, 1381, 'F', 'S'],
  [1156, 1158, 'G', 'P'],
  [1169, 1170, 'G', 'S'],
  [460, 461, 'E', 'P'],
  [478, 479, 'E', 'S']],
 '7353_03': [[241, 242, 'B', 'P'],
  [274, 275, 'B', 'S'],
  [78, 79, 'A', 'P'],
  [89, 90, 'A', 'S'],
  [238, 239, 'C', 'P'],
  [269, 271, 'C', 'S'],
  [233, 234, 'D', 'P'],
  [221, 222, 'D', 'S'],
  [476, 477, 'E', 'P'],
  [490, 491, 'E', 'S'],
  [4, -2, 'T', 'P'],
  [3, -2, 'T', 'S']],
 '7368_01': [[242, 243, 'B', 'P'],
  [274, 275, 'B', 'S'],
  [78, 79, 'A', 'P'],
  [89, 90, 'A', 'S'],
  [239, 240, 'C', 'P'],
  [269, 271, 'C', 'S'],
  [234, 236, 'D', 'P'],
  [221, 222, 'D', 'S'],
  [476, 477, 'E', 'P'],
  [492, 493, 'E', 'S'],
  [4, -2, 'T', 'P'],
  [3, -2, 'T', 'S']],
 '7429_01': [[1538, 1539, 'F', 'P'],
  [1423, 1425, 'F', 'S'],
  [234, 236, 'D', 'P'],
  [222, 223, 'D', 'S'],
  [480, 481, 'E', 'P'],
  [494, 495, 'E', 'S']],
 '7440_01': [[1538, 1539, 'F', 'P'],
  [1423, 1425, 'F', 'S'],
  [1202, 1203, 'G', 'P'],
  [1205, 1207, 'G', 'S'],
  [483, 484, 'E', 'P'],
  [494, 495, 'E', 'S']],
 '7442_02': [[1538, 1539, 'F', 'P'],
  [1423, 1425, 'F', 'S'],
  [1202, 1203, 'G', 'P'],
  [1205, 1207, 'G', 'S'],
  [483, 484, 'E', 'P'],
  [495, 496, 'E', 'S']],
 '7463_01': [[1543, 1545, 'F', 'P'],
  [1423, 1425, 'F', 'S'],
  [1206, 1207, 'G', 'P'],
  [1211, 1213, 'G', 'S'],
  [483, 484, 'E', 'P'],
  [496, 497, 'E', 'S']],
 '7469_01': [[1543, 1545, 'F', 'P'],
  [1425, 1426, 'F', 'S'],
  [1207, 1208, 'G', 'P'],
  [1211, 1213, 'G', 'S'],
  [484, 485, 'E', 'P'],
  [498, 499, 'E', 'S']],
 '7556_03': [[246, 247, 'B', 'P'],
  [286, 287, 'B', 'S'],
  [81, 82, 'A', 'P'],
  [90, 91, 'A', 'S'],
  [243, 244, 'C', 'P'],
  [280, 280, 'C', 'S'],
  [234, 236, 'D', 'P'],
  [225, 226, 'D', 'S'],
  [491, 492, 'E', 'P'],
  [501, 502, 'E', 'S'],
  [4, -2, 'T', 'P'],
  [3, -2, 'T', 'S']],
 '7942_02': [[1644, 1645, 'F', 'P'],
  [1521, 1522, 'F', 'S'],
  [1285, 1287, 'G', 'P'],
  [1281, 1283, 'G', 'S'],
  [515, 516, 'E', 'P'],
  [523, 524, 'E', 'S']],
 '7948_01': [[1646, 1647, 'F', 'P'],
  [1522, 1523, 'F', 'S'],
  [1285, 1287, 'G', 'P'],
  [1281, 1283, 'G', 'S'],
  [515, 516, 'E', 'P'],
  [523, 524, 'E', 'S']],
 '7983_01': [[261, 262, 'B', 'P'],
  [312, 313, 'B', 'S'],
  [84, 85, 'A', 'P'],
  [95, 96, 'A', 'S'],
  [259, 260, 'C', 'P'],
  [297, 299, 'C', 'S'],
  [247, 248, 'D', 'P'],
  [232, 233, 'D', 'S'],
  [516, 517, 'E', 'P'],
  [527, 529, 'E', 'S'],
  [4, -2, 'T', 'P'],
  [3, -2, 'T', 'S']],
 '7995_01': [[261, 262, 'B', 'P'],
  [313, 314, 'B', 'S'],
  [84, 85, 'A', 'P'],
  [96, 97, 'A', 'S'],
  [260, 261, 'C', 'P'],
  [297, 299, 'C', 'S'],
  [248, 249, 'D', 'P'],
  [232, 233, 'D', 'S'],
  [516, 517, 'E', 'P'],
  [527, 529, 'E', 'S'],
  [4, -2, 'T', 'P'],
  [3, -2, 'T', 'S']],
 '9057_01': [[295, 296, 'B', 'P'],
  [345, 346, 'B', 'S'],
  [93, 95, 'A', 'P'],
  [106, 107, 'A', 'S'],
  [301, 302, 'C', 'P'],
  [336, 337, 'C', 'S'],
  [289, 290, 'D', 'P'],
  [274, 275, 'D', 'S'],
  [579, 580, 'E', 'P'],
  [593, 594, 'E', 'S'],
  [4, -2, 'T', 'P'],
  [3, -2, 'T', 'S']],
 '9062_02': [[1854, 1855, 'F', 'P'],
  [1753, 1754, 'F', 'S'],
  [1473, 1475, 'G', 'P'],
  [1458, 1459, 'G', 'S'],
  [579, 580, 'E', 'P'],
  [593, 594, 'E', 'S']],
 '9069_03': [[297, 297, 'B', 'P'],
  [346, 347, 'B', 'S'],
  [93, 95, 'A', 'P'],
  [106, 107, 'A', 'S'],
  [301, 302, 'C', 'P'],
  [337, 338, 'C', 'S'],
  [289, 290, 'D', 'P'],
  [276, 277, 'D', 'S'],
  [579, 580, 'E', 'P'],
  [593, 594, 'E', 'S'],
  [4, -2, 'T', 'P'],
  [3, -2, 'T', 'S']],
 '9070_01': [[1854, 1855, 'F', 'P'],
  [1756, 1757, 'F', 'S'],
  [1473, 1475, 'G', 'P'],
  [1459, 1460, 'G', 'S'],
  [579, 580, 'E', 'P'],
  [593, 594, 'E', 'S']],
 '9223_01': [[1886, 1887, 'F', 'P'],
  [1784, 1786, 'F', 'S'],
  [295, 296, 'D', 'P'],
  [277, 278, 'D', 'S'],
  [591, 592, 'E', 'P'],
  [604, 605, 'E', 'S']],
 '9223_02': [[1886, 1887, 'F', 'P'],
  [1784, 1786, 'F', 'S'],
  [295, 296, 'D', 'P'],
  [277, 278, 'D', 'S'],
  [591, 592, 'E', 'P'],
  [604, 605, 'E', 'S']]}

this one help?

In [204]:
togeth.at[indexfromid('3034_01'),'Cabin'] = 'B/98/P'
togeth.at[indexfromid('3053_01'),'Cabin'] = 'B/99/P'
togeth.at[indexfromid('9062_02'),'Cabin'] = 'F/1854/P'
togeth.at[indexfromid('9070_01'),'Cabin'] = 'G/1474/P'
togeth.at[indexfromid('9223_01'),'Cabin'] = 'F/1785/S'
togeth.at[indexfromid('9223_02'),'Cabin'] = 'F/1785/S'

In [170]:
akk =list(togeth[togeth.HomePlanet == 'Europa'].PassengerId)

In [172]:
for item in akk:
    if item in sdx:
        
        print(item, sdx[item])

0293_01 [[12, 14, 'B', 'P'], [7, 8, 'B', 'S'], [2, 3, 'A', 'P'], [3, 4, 'A', 'S'], [6, 7, 'C', 'P'], [12, 14, 'C', 'S'], [10, 11, 'D', 'P'], [10, 11, 'D', 'S'], [16, 17, 'E', 'P'], [17, 18, 'E', 'S'], [-2, 0, 'T', 'P'], [-2, 0, 'T', 'S']]
0310_01 [[12, 14, 'B', 'P'], [8, 9, 'B', 'S'], [3, 4, 'A', 'P'], [3, 4, 'A', 'S'], [7, 8, 'C', 'P'], [12, 14, 'C', 'S'], [11, 12, 'D', 'P'], [10, 11, 'D', 'S'], [16, 17, 'E', 'P'], [19, 20, 'E', 'S'], [-2, 0, 'T', 'P'], [-2, 0, 'T', 'S']]
0992_04 [[37, 38, 'B', 'P'], [40, 41, 'B', 'S'], [7, 8, 'A', 'P'], [10, 11, 'A', 'S'], [35, 36, 'C', 'P'], [38, 39, 'C', 'S'], [38, 39, 'D', 'P'], [35, 35, 'D', 'S'], [57, 59, 'E', 'P'], [73, 74, 'E', 'S'], [-2, 0, 'T', 'P'], [0, 1, 'T', 'S']]
1041_01 [[37, 38, 'B', 'P'], [40, 41, 'B', 'S'], [7, 8, 'A', 'P'], [12, 13, 'A', 'S'], [37, 38, 'C', 'P'], [39, 41, 'C', 'S'], [39, 40, 'D', 'P'], [35, 37, 'D', 'S'], [57, 59, 'E', 'P'], [74, 75, 'E', 'S'], [-2, 0, 'T', 'P'], [0, 1, 'T', 'S']]
1095_01 [[38, 39, 'B', 'P'], [42, 43, 'B', 'S'], [8, 9, 'A', 'P'], [12, 13, 'A', 'S'], [41, 42, 'C', 'P'], [39, 41, 'C', 'S'], [42, 43, 'D', 'P'], [35, 37, 'D', 'S'], [61, 62, 'E', 'P'], [75, 76, 'E', 'S'], [0, 1, 'T', 'P'], [0, 1, 'T', 'S']]
4953_01 [[161, 162, 'B', 'P'], [196, 197, 'B', 'S'], [43, 44, 'A', 'P'], [60, 61, 'A', 'S'], [154, 155, 'C', 'P'], [192, 194, 'C', 'S'], [161, 162, 'D', 'P'], [153, 154, 'D', 'S'], [307, 308, 'E', 'P'], [319, 320, 'E', 'S'], [4, -2, 'T', 'P'], [2, 3, 'T', 'S']]
4974_02 [[162, 163, 'B', 'P'], [197, 198, 'B', 'S'], [44, 45, 'A', 'P'], [60, 61, 'A', 'S'], [155, 156, 'C', 'P'], [192, 194, 'C', 'S'], [161, 162, 'D', 'P'], [154, 155, 'D', 'S'], [309, 310, 'E', 'P'], [319, 320, 'E', 'S'], [4, -2, 'T', 'P'], [2, 3, 'T', 'S']]
5480_01 [[185, 186, 'B', 'P'], [208, 209, 'B', 'S'], [50, 51, 'A', 'P'], [66, 67, 'A', 'S'], [173, 174, 'C', 'P'], [213, 215, 'C', 'S'], [174, 175, 'D', 'P'], [165, 166, 'D', 'S'], [344, 345, 'E', 'P'], [353, 354, 'E', 'S'], [4, -2, 'T', 'P'], [2, 3, 'T', 'S']]
5642_02 [[190, 191, 'B', 'P'], [216, 217, 'B', 'S'], [51, 52, 'A', 'P'], [69, 70, 'A', 'S'], [177, 178, 'C', 'P'], [213, 215, 'C', 'S'], [179, 180, 'D', 'P'], [172, 173, 'D', 'S'], [353, 354, 'E', 'P'], [368, 369, 'E', 'S'], [4, -2, 'T', 'P'], [2, 3, 'T', 'S']]
6028_04 [[205, 206, 'B', 'P'], [232, 233, 'B', 'S'], [57, 57, 'A', 'P'], [71, 72, 'A', 'S'], [184, 185, 'C', 'P'], [224, 225, 'C', 'S'], [190, 192, 'D', 'P'], [183, 184, 'D', 'S'], [383, 384, 'E', 'P'], [395, 396, 'E', 'S'], [4, -2, 'T', 'P'], [2, 3, 'T', 'S']]
7353_03 [[241, 242, 'B', 'P'], [274, 275, 'B', 'S'], [78, 79, 'A', 'P'], [89, 90, 'A', 'S'], [238, 239, 'C', 'P'], [269, 271, 'C', 'S'], [233, 234, 'D', 'P'], [221, 222, 'D', 'S'], [476, 477, 'E', 'P'], [490, 491, 'E', 'S'], [4, -2, 'T', 'P'], [3, -2, 'T', 'S']]
7368_01 [[242, 243, 'B', 'P'], [274, 275, 'B', 'S'], [78, 79, 'A', 'P'], [89, 90, 'A', 'S'], [239, 240, 'C', 'P'], [269, 271, 'C', 'S'], [234, 236, 'D', 'P'], [221, 222, 'D', 'S'], [476, 477, 'E', 'P'], [492, 493, 'E', 'S'], [4, -2, 'T', 'P'], [3, -2, 'T', 'S']]
7556_03 [[246, 247, 'B', 'P'], [286, 287, 'B', 'S'], [81, 82, 'A', 'P'], [90, 91, 'A', 'S'], [243, 244, 'C', 'P'], [280, 280, 'C', 'S'], [234, 236, 'D', 'P'], [225, 226, 'D', 'S'], [491, 492, 'E', 'P'], [501, 502, 'E', 'S'], [4, -2, 'T', 'P'], [3, -2, 'T', 'S']]
7983_01 [[261, 262, 'B', 'P'], [312, 313, 'B', 'S'], [84, 85, 'A', 'P'], [95, 96, 'A', 'S'], [259, 260, 'C', 'P'], [297, 299, 'C', 'S'], [247, 248, 'D', 'P'], [232, 233, 'D', 'S'], [516, 517, 'E', 'P'], [527, 529, 'E', 'S'], [4, -2, 'T', 'P'], [3, -2, 'T', 'S']]
7995_01 [[261, 262, 'B', 'P'], [313, 314, 'B', 'S'], [84, 85, 'A', 'P'], [96, 97, 'A', 'S'], [260, 261, 'C', 'P'], [297, 299, 'C', 'S'], [248, 249, 'D', 'P'], [232, 233, 'D', 'S'], [516, 517, 'E', 'P'], [527, 529, 'E', 'S'], [4, -2, 'T', 'P'], [3, -2, 'T', 'S']]
9057_01 [[295, 296, 'B', 'P'], [345, 346, 'B', 'S'], [93, 95, 'A', 'P'], [106, 107, 'A', 'S'], [301, 302, 'C', 'P'], [336, 337, 'C', 'S'], [289, 290, 'D', 'P'], [274, 275, 'D', 'S'], [579, 580, 'E', 'P'], [593, 594, 'E', 'S'], [4, -2, 'T', 'P'], [3, -2, 'T', 'S']]
9069_03 [[297, 297, 'B', 'P'], [346, 347, 'B', 'S'], [93, 95, 'A', 'P'], [106, 107, 'A', 'S'], [301, 302, 'C', 'P'], [337, 338, 'C', 'S'], [289, 290, 'D', 'P'], [276, 277, 'D', 'S'], [579, 580, 'E', 'P'], [593, 594, 'E', 'S'], [4, -2, 'T', 'P'], [3, -2, 'T', 'S']]

In [174]:
for item in sdx:
    if item not in akk:
        print(item, sdx[item])

0348_02 [[76, 77, 'F', 'P'], [64, 65, 'F', 'S'], [12, 13, 'D', 'P'], [10, 11, 'D', 'S'], [19, 22, 'E', 'P'], [21, 22, 'E', 'S']]
0364_02 [[81, 82, 'F', 'P'], [68, 69, 'F', 'S'], [12, 13, 'D', 'P'], [10, 11, 'D', 'S'], [19, 22, 'E', 'P'], [22, 23, 'E', 'S']]
0374_02 [[86, 87, 'F', 'P'], [68, 69, 'F', 'S'], [62, 63, 'G', 'P'], [53, 54, 'G', 'S'], [19, 22, 'E', 'P'], [22, 23, 'E', 'S']]
1006_03 [[205, 206, 'F', 'P'], [187, 188, 'F', 'S'], [147, 148, 'G', 'P'], [156, 157, 'G', 'S'], [57, 59, 'E', 'P'], [74, 75, 'E', 'S']]
1011_01 [[206, 207, 'F', 'P'], [188, 189, 'F', 'S'], [147, 148, 'G', 'P'], [157, 158, 'G', 'S'], [57, 59, 'E', 'P'], [74, 75, 'E', 'S']]
2513_01 [[518, 520, 'F', 'P'], [483, 484, 'F', 'S'], [405, 406, 'G', 'P'], [404, 405, 'G', 'S'], [149, 151, 'E', 'P'], [176, 177, 'E', 'S']]
2514_01 [[518, 520, 'F', 'P'], [483, 484, 'F', 'S'], [405, 406, 'G', 'P'], [404, 405, 'G', 'S'], [149, 151, 'E', 'P'], [176, 177, 'E', 'S']]
3598_01 [[745, 746, 'F', 'P'], [677, 678, 'F', 'S'], [589, 591, 'G', 'P'], [578, 580, 'G', 'S'], [215, 216, 'E', 'P'], [240, 241, 'E', 'S']]
3599_01 [[745, 746, 'F', 'P'], [677, 678, 'F', 'S'], [589, 591, 'G', 'P'], [578, 580, 'G', 'S'], [215, 216, 'E', 'P'], [240, 241, 'E', 'S']]
6048_01 [[1250, 1251, 'F', 'P'], [1149, 1150, 'F', 'S'], [190, 192, 'D', 'P'], [183, 184, 'D', 'S'], [386, 388, 'E', 'P'], [397, 398, 'E', 'S']]
6060_01 [[1253, 1254, 'F', 'P'], [1152, 1153, 'F', 'S'], [190, 192, 'D', 'P'], [184, 185, 'D', 'S'], [386, 388, 'E', 'P'], [397, 398, 'E', 'S']]
6612_03 [[1375, 1376, 'F', 'P'], [1266, 1268, 'F', 'S'], [1069, 1070, 'G', 'P'], [1077, 1077, 'G', 'S'], [421, 422, 'E', 'P'], [439, 440, 'E', 'S']]
6612_05 [[1375, 1376, 'F', 'P'], [1266, 1268, 'F', 'S'], [1069, 1070, 'G', 'P'], [1077, 1077, 'G', 'S'], [421, 422, 'E', 'P'], [439, 440, 'E', 'S']]
7182_01 [[1488, 1490, 'F', 'P'], [1380, 1381, 'F', 'S'], [1156, 1158, 'G', 'P'], [1169, 1170, 'G', 'S'], [460, 461, 'E', 'P'], [478, 479, 'E', 'S']]
7183_01 [[1488, 1490, 'F', 'P'], [1380, 1381, 'F', 'S'], [1156, 1158, 'G', 'P'], [1169, 1170, 'G', 'S'], [460, 461, 'E', 'P'], [478, 479, 'E', 'S']]
7429_01 [[1538, 1539, 'F', 'P'], [1423, 1425, 'F', 'S'], [234, 236, 'D', 'P'], [222, 223, 'D', 'S'], [480, 481, 'E', 'P'], [494, 495, 'E', 'S']]
7440_01 [[1538, 1539, 'F', 'P'], [1423, 1425, 'F', 'S'], [1202, 1203, 'G', 'P'], [1205, 1207, 'G', 'S'], [483, 484, 'E', 'P'], [494, 495, 'E', 'S']]
7442_02 [[1538, 1539, 'F', 'P'], [1423, 1425, 'F', 'S'], [1202, 1203, 'G', 'P'], [1205, 1207, 'G', 'S'], [483, 484, 'E', 'P'], [495, 496, 'E', 'S']]
7463_01 [[1543, 1545, 'F', 'P'], [1423, 1425, 'F', 'S'], [1206, 1207, 'G', 'P'], [1211, 1213, 'G', 'S'], [483, 484, 'E', 'P'], [496, 497, 'E', 'S']]
7469_01 [[1543, 1545, 'F', 'P'], [1425, 1426, 'F', 'S'], [1207, 1208, 'G', 'P'], [1211, 1213, 'G', 'S'], [484, 485, 'E', 'P'], [498, 499, 'E', 'S']]
7942_02 [[1644, 1645, 'F', 'P'], [1521, 1522, 'F', 'S'], [1285, 1287, 'G', 'P'], [1281, 1283, 'G', 'S'], [515, 516, 'E', 'P'], [523, 524, 'E', 'S']]
7948_01 [[1646, 1647, 'F', 'P'], [1522, 1523, 'F', 'S'], [1285, 1287, 'G', 'P'], [1281, 1283, 'G', 'S'], [515, 516, 'E', 'P'], [523, 524, 'E', 'S']]
9062_02 [[1854, 1855, 'F', 'P'], [1753, 1754, 'F', 'S'], [1473, 1475, 'G', 'P'], [1458, 1459, 'G', 'S'], [579, 580, 'E', 'P'], [593, 594, 'E', 'S']]
9070_01 [[1854, 1855, 'F', 'P'], [1756, 1757, 'F', 'S'], [1473, 1475, 'G', 'P'], [1459, 1460, 'G', 'S'], [579, 580, 'E', 'P'], [593, 594, 'E', 'S']]