In [192]:
import os
import pandas as pd
from fastbook import *
from fastai.tabular.all import *
import sklearn


traindf = pd.read_csv('C:/Users/jsult/Desktop/spacetitanic3/train.csv',low_memory=False)
testdf = pd.read_csv('C:/Users/jsult/Desktop/spacetitanic3/test.csv',low_memory= False)
togeth = pd.concat([testdf,traindf])

In [193]:
togeth.isna().sum().sum()

7718

In [194]:
togeth

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0013_01,Earth,True,G/3/S,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,0.0,0.0,Nelly Carsoning,NaN
1,0018_01,Earth,False,F/4/S,TRAPPIST-1e,19.0,False,0.0,9.0,0.0,2823.0,0.0,Lerome Peckers,NaN
2,0019_01,Europa,True,C/0/S,55 Cancri e,31.0,False,0.0,0.0,0.0,0.0,0.0,Sabih Unhearfus,NaN
3,0021_01,Europa,False,C/1/S,TRAPPIST-1e,38.0,False,0.0,6652.0,0.0,181.0,585.0,Meratz Caltilter,NaN
4,0023_01,Earth,False,F/5/S,TRAPPIST-1e,20.0,False,10.0,0.0,635.0,0.0,0.0,Brence Harperez,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,Europa,False,A/98/P,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,False
8689,9278_01,Earth,True,G/1499/S,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,False
8690,9279_01,Earth,False,G/1500/S,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,True
8691,9280_01,Europa,False,E/608/S,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,False
8692,9280_02,Europa,False,E/608/S,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,True

Need to set to categories after !!

In [195]:
togeth[togeth.PassengerId == '0293_01']

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
135,0293_01,Europa,True,NaN,TRAPPIST-1e,47.0,False,0.0,0.0,0.0,0.0,0.0,Tauxon Suptibler,NaN

In [222]:
def split_group_number(df):
    df['Group'] = df['PassengerId'].apply(lambda x: x.split("_")[0] if pd.notna(x) else pd.NA)
    df.Group = df.Group.astype('float')
    df['GroupNumber'] = df['PassengerId'].apply(lambda x: x.split("_")[1] if pd.notna(x) else pd.NA)
    df.GroupNumber = df.GroupNumber.astype('float')
    return df

def split_cabin(df):
    df['CabinDeck'] = df['Cabin'].apply(lambda x: x.split("/" )[0] if pd.notna(x) else pd.NA)
    custom_order = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'T']
    df['CabinDeck'] = pd.Categorical(df['CabinDeck'], categories=custom_order, ordered=True)
    df['CabinSide'] = df['Cabin'].apply(lambda x: x.split("/")[2] if pd.notna(x) else pd.NA)
    df['CabinNum'] = df['Cabin'].apply(lambda x: int(x.split("/")[1]) if pd.notna(x) else pd.NA)
    return df

def split_names(df):
    # Create new columns for first name and last name
    df['FirstName'] = df['Name'].apply(lambda x: x.split()[0] if pd.notna(x) else pd.NA)
    df['LastName'] = df['Name'].apply(lambda x: x.split()[1] if pd.notna(x) else pd.NA)
    return df

def fill_home_planet_by_last_name(df):
    for index, row in df.iterrows():
        if pd.isna(row['HomePlanet']):
            matching_rows = df[df['LastName'] == row['LastName']]
            non_nan_planet = matching_rows.dropna(subset=['HomePlanet'])
            if not non_nan_planet.empty:
                planet_to_fill = non_nan_planet['HomePlanet'].values[0]
                df.at[index, 'HomePlanet'] = planet_to_fill
    return df

def fill_home_planet_by_group(df):
    for index, row in df.iterrows():
        if pd.isna(row['HomePlanet']):
            matching_rows = df[df['Group'] == row['Group']]
            non_nan_planet = matching_rows.dropna(subset=['HomePlanet'])
            if not non_nan_planet.empty:
                planet_to_fill = non_nan_planet['HomePlanet'].values[0]
                df.at[index, 'HomePlanet'] = planet_to_fill
    return df

def home_planet_from_cabindeck_abc(df):
    df.loc[df['CabinDeck'].isin(['A', 'B', 'C']), 'HomePlanet'] = df.loc[df['CabinDeck'].isin(['A', 'B', 'C']), 'HomePlanet'].fillna('Europa')
    return df

def home_planet_from_cabindeck_g(df):
    df.loc[df['CabinDeck']== 'G', 'HomePlanet'] = df.loc[df['CabinDeck'] == 'G', 'HomePlanet'].fillna('Earth')
    return df

def cabin_dm(df):
    df = split_group_number(df)
    df = split_cabin(df)
    df = split_names(df)
    df = df.sort_values(by = ['Group','GroupNumber'])
    df.reset_index(inplace = True)
    df.drop(columns = 'index',inplace = True)
    df = fill_home_planet_by_group(df)
    df = fill_home_planet_by_last_name(df)
    df = home_planet_from_cabindeck_abc(df)
    df = home_planet_from_cabindeck_g(df)
    return df

In [341]:
togeth = cabin_dm(togeth)

In [198]:
def indexfromid(id):
    return togeth[togeth.PassengerId == id].index.item()

def idfromindex(index):
    return togeth.loc[index].PassengerId
    
def cab_fill(cabfilllist):
    for item in cabfilllist:
        ind = indexfromid(item[0])
        togeth.at[ind,'Cabin'] = item[1]

In [199]:
temp = togeth.copy()

In [385]:
togeth = temp.copy()

In [440]:
togeth.at[indexfromid('3034_01'),'Cabin'] = 'B/98/P'
togeth.at[indexfromid('3053_01'),'Cabin'] = 'B/99/P'
togeth.at[indexfromid('4953_01'),'Cabin'] = 'C/193/S'
togeth.at[indexfromid('5480_01 '),'Cabin'] = 'C/214/S'

togeth.at[indexfromid('9223_02'),'Cabin'] = 'F/1785/S'
togeth.at[indexfromid('9223_02'),'Cabin'] = 'F/1785/S'

ValueError: can only convert an array of size 1 to a Python scalar

In [441]:
decks_by_homeplanet = {'Europa':list(togeth[togeth.HomePlanet == 'Europa'].CabinDeck.dropna().unique()),
    'Earth':list(togeth[togeth.HomePlanet == 'Earth'].CabinDeck.dropna().unique()),
    'Mars':list(togeth[togeth.HomePlanet == 'Mars'].CabinDeck.dropna().unique())}

def caboptionsbyplanet(planet,df):
    df = split_cabin(df)
    decks = decks_by_homeplanet[planet]
    sides = {'P':0,'S':0}
    caboptions = {}
    for i,row in df[df.HomePlanet == planet].iterrows():
        if pd.isna(row.Cabin):
            bef = df.iloc[:i].dropna(subset=['Cabin'])
            aft = df.iloc[i+1:].dropna(subset=['Cabin'])
            for deck in decks:
                for side in sides.keys():
                    before = bef[(bef.CabinDeck == deck) & (bef.CabinSide == side)]
                    after = aft[(aft.CabinDeck == deck) & (aft.CabinSide == side)]
                    if len(before) == 0:
                        minn = -2
                    else:
                        minn = max(list(before.CabinNum))
                    if len(after) == 0:
                        maxx = -2
                    else:
                        maxx = min(list(after.CabinNum))
                    if row.PassengerId in caboptions:
                        caboptions[row.PassengerId].append([minn,maxx,deck,side])
                    else:
                        caboptions[row.PassengerId] = [[minn,maxx,deck,side]]
    return caboptions, df

def one_option_solo_group(potential_spots,df):
    cabin_to_fill = []
    for passenger in potential_spots:
        if len(df[df.Group == int(passenger[:4])]) == 1:
            ind = -1
            for i,decks in enumerate(potential_spots[passenger]):
                if decks[1] - decks[0] != 1:
                    if ind == -1:
                        ind = i
                    elif decks[1] != 0:
                        ind = -2
            if ind != -2 and ind != -1:
                #check this line
                cabin_to_fill.append([passenger, potential_spots[passenger][ind][2] + "/" + str(potential_spots[passenger][ind][0] + 1) +"/" + potential_spots[passenger][ind][3]])
    return cabin_to_fill

def no_options(potential_spots,df):
        #no options
    cabin_to_fill = []
    for passenger in potential_spots:
        count = 0
        no_potential_spots = True
        for decks in potential_spots[passenger]:
            if (decks[1] - decks[0] > 1 and decks[1] != 0):
                no_potential_spots = False
        if no_potential_spots:
            if len(list(df[df.Group == int(passenger[:4])].dropna(subset = 'Cabin').Cabin.unique())) == 1:
                cabin_to_fill.append([passenger,list(df[df.Group == int(passenger[:4])].dropna(subset = 'Cabin').Cabin.unique())[0]])
    return cabin_to_fill
 
def only_one_thatll_fit(potential_spots,df):
    cabin_to_fill = []
    for i1,passenger in enumerate(potential_spots.keys()):            
        for i2, cabins in enumerate(potential_spots[passenger]):
            if cabins[1] != 0 and cabins[1] == cabins[0] + 2:
                good = True
                low = i1 - 1
                high = i1  + 1
                lowchecking = True
                highchecking = True
                while lowchecking and low >= 0:
                    option = potential_spots[list(potential_spots.keys())[low]]
                    for choices in option:
                        if choices[2] == cabins[2] and choices[3] == cabins[3]:
                            lowchecking = False
                            if choices[1] >= cabins[0] + 1:
                                good = False
                    low -=1
                while highchecking and good and high <= len(potential_spots.keys()) -1 :
                    option = potential_spots[list(potential_spots.keys())[high]]
                    for choices in option:
                        if choices[2] == cabins[2] and choices[3] == cabins[3]:
                            highchecking = False
                            if choices[0] <= cabins[1] - 1:
                                good = False
                    high += 1                                   
                if good:
                    cabin_to_fill.append([passenger, cabins[2] + "/" + str(cabins[0] + 1) +"/" + cabins[3]])
    return cabin_to_fill

def cab_filler(df):
    
    for planet in ['Europa','Mars','Earth']:
        planet_cab_options, df = caboptionsbyplanet(planet,df)
        cab_fill(no_options(planet_cab_options,df))
    
    
    for planet in ['Europa','Mars','Earth']:
        planet_cab_options, df = caboptionsbyplanet(planet,df)
        cab_fill(one_option_solo_group(planet_cab_options,df))


    europacaboptions = caboptionsbyplanet('Europa',df)[0]
    marscaboptions = caboptionsbyplanet('Mars',df)[0]
    earthcaboptions = caboptionsbyplanet('Earth',df)[0]

    indexlist = [indexfromid(x) for x in list(europacaboptions.keys())] + [indexfromid(x) for x in list(marscaboptions.keys())] + [indexfromid(x) for x in list(earthcaboptions.keys())]
    indexlist.sort()
    idlist = [idfromindex(x) for x in indexlist]
    global_cab_options = {}
    for id in idlist:
        if id in europacaboptions:
            global_cab_options[id] = europacaboptions[id]
        elif id in marscaboptions:
            global_cab_options[id] = marscaboptions[id]
        else:
            global_cab_options[id] = earthcaboptions[id]

    cab_fill(only_one_thatll_fit(global_cab_options,df))

    
    return global_cab_options

In [442]:
glob = cab_filler(togeth)

In [444]:
togeth.isna().sum()

PassengerId        0
HomePlanet        10
CryoSleep        310
Cabin             59
Destination      274
Age              270
VIP              296
RoomService      263
FoodCourt        289
ShoppingMall     306
Spa              284
VRDeck           268
Name             294
Transported     4277
Group              0
GroupNumber        0
CabinDeck         59
CabinSide         59
CabinNum          59
FirstName        294
LastName         294
dtype: int64

In [409]:
europacaboptions = caboptionsbyplanet('Europa',togeth)[0]
marscaboptions = caboptionsbyplanet('Mars',togeth)[0]
earthcaboptions = caboptionsbyplanet('Earth',togeth)[0]

indexlist = [indexfromid(x) for x in list(europacaboptions.keys())] + [indexfromid(x) for x in list(marscaboptions.keys())] + [indexfromid(x) for x in list(earthcaboptions.keys())]
indexlist.sort()
idlist = [idfromindex(x) for x in indexlist]
global_cab_options = {}
for id in idlist:
    if id in europacaboptions:
        global_cab_options[id] = europacaboptions[id]
    elif id in marscaboptions:
        global_cab_options[id] = marscaboptions[id]
    else:
        global_cab_options[id] = earthcaboptions[id]

for item in global_cab_options:
    print(item,global_cab_options[item])

0293_01 [[12, 14, 'B', 'P'], [7, 8, 'B', 'S'], [2, 3, 'A', 'P'], [3, 4, 'A', 'S'], [6, 7, 'C', 'P'], [12, 14, 'C', 'S'], [10, 11, 'D', 'P'], [10, 11, 'D', 'S'], [16, 17, 'E', 'P'], [17, 18, 'E', 'S'], [-2, 0, 'T', 'P'], [-2, 0, 'T', 'S']]
0310_01 [[12, 14, 'B', 'P'], [8, 9, 'B', 'S'], [3, 4, 'A', 'P'], [3, 4, 'A', 'S'], [7, 8, 'C', 'P'], [12, 14, 'C', 'S'], [11, 12, 'D', 'P'], [10, 11, 'D', 'S'], [16, 17, 'E', 'P'], [19, 20, 'E', 'S'], [-2, 0, 'T', 'P'], [-2, 0, 'T', 'S']]
0348_02 [[76, 77, 'F', 'P'], [64, 65, 'F', 'S'], [12, 13, 'D', 'P'], [10, 11, 'D', 'S'], [19, 22, 'E', 'P'], [21, 22, 'E', 'S']]
0364_02 [[81, 82, 'F', 'P'], [68, 69, 'F', 'S'], [12, 13, 'D', 'P'], [10, 11, 'D', 'S'], [19, 22, 'E', 'P'], [22, 23, 'E', 'S']]
0374_02 [[86, 87, 'F', 'P'], [68, 69, 'F', 'S'], [62, 63, 'G', 'P'], [53, 54, 'G', 'S'], [19, 22, 'E', 'P'], [22, 23, 'E', 'S']]
0992_04 [[37, 38, 'B', 'P'], [40, 41, 'B', 'S'], [7, 8, 'A', 'P'], [10, 11, 'A', 'S'], [35, 36, 'C', 'P'], [38, 39, 'C', 'S'], [38, 39, 'D', 'P'], [35, 35, 'D', 'S'], [57, 59, 'E', 'P'], [73, 74, 'E', 'S'], [-2, 0, 'T', 'P'], [0, 1, 'T', 'S']]
1006_03 [[205, 206, 'F', 'P'], [187, 188, 'F', 'S'], [147, 148, 'G', 'P'], [156, 157, 'G', 'S'], [57, 59, 'E', 'P'], [74, 75, 'E', 'S']]
1011_01 [[206, 207, 'F', 'P'], [188, 189, 'F', 'S'], [147, 148, 'G', 'P'], [157, 158, 'G', 'S'], [57, 59, 'E', 'P'], [74, 75, 'E', 'S']]
1041_01 [[37, 38, 'B', 'P'], [40, 41, 'B', 'S'], [7, 8, 'A', 'P'], [12, 13, 'A', 'S'], [37, 38, 'C', 'P'], [39, 41, 'C', 'S'], [39, 40, 'D', 'P'], [35, 37, 'D', 'S'], [57, 59, 'E', 'P'], [74, 75, 'E', 'S'], [-2, 0, 'T', 'P'], [0, 1, 'T', 'S']]
1095_01 [[38, 39, 'B', 'P'], [42, 43, 'B', 'S'], [8, 9, 'A', 'P'], [12, 13, 'A', 'S'], [41, 42, 'C', 'P'], [39, 41, 'C', 'S'], [42, 43, 'D', 'P'], [35, 37, 'D', 'S'], [61, 62, 'E', 'P'], [75, 76, 'E', 'S'], [0, 1, 'T', 'P'], [0, 1, 'T', 'S']]
1688_02 [[334, 335, 'F', 'P'], [320, 321, 'F', 'S'], [272, 273, 'G', 'P'], [261, 262, 'G', 'S'], [103, 104, 'E', 'P'], [124, 125, 'E', 'S']]
1709_03 [[338, 339, 'F', 'P'], [326, 326, 'F', 'S'], [53, 54, 'D', 'P'], [61, 61, 'D', 'S'], [103, 104, 'E', 'P'], [126, 127, 'E', 'S']]
2092_03 [[414, 415, 'F', 'P'], [409, 410, 'F', 'S'], [65, 66, 'D', 'P'], [70, 70, 'D', 'S'], [127, 128, 'E', 'P'], [153, 154, 'E', 'S']]
2425_05 [[495, 496, 'F', 'P'], [465, 466, 'F', 'S'], [396, 396, 'G', 'P'], [393, 394, 'G', 'S'], [145, 146, 'E', 'P'], [169, 170, 'E', 'S']]
2513_01 [[518, 520, 'F', 'P'], [483, 484, 'F', 'S'], [405, 406, 'G', 'P'], [404, 405, 'G', 'S'], [149, 151, 'E', 'P'], [176, 177, 'E', 'S']]
2514_01 [[518, 520, 'F', 'P'], [483, 484, 'F', 'S'], [405, 406, 'G', 'P'], [404, 405, 'G', 'S'], [149, 151, 'E', 'P'], [176, 177, 'E', 'S']]
3287_02 [[684, 685, 'F', 'P'], [620, 621, 'F', 'S'], [535, 536, 'G', 'P'], [522, 523, 'G', 'S'], [202, 203, 'E', 'P'], [220, 221, 'E', 'S']]
3411_02 [[701, 702, 'F', 'P'], [644, 645, 'F', 'S'], [107, 108, 'D', 'P'], [110, 111, 'D', 'S'], [208, 209, 'E', 'P'], [232, 233, 'E', 'S']]
3598_01 [[745, 746, 'F', 'P'], [677, 678, 'F', 'S'], [589, 591, 'G', 'P'], [578, 580, 'G', 'S'], [215, 216, 'E', 'P'], [240, 241, 'E', 'S']]
3599_01 [[745, 746, 'F', 'P'], [677, 678, 'F', 'S'], [589, 591, 'G', 'P'], [578, 580, 'G', 'S'], [215, 216, 'E', 'P'], [240, 241, 'E', 'S']]
3712_01 [[770, 771, 'F', 'P'], [700, 701, 'F', 'S'], [601, 602, 'G', 'P'], [605, 606, 'G', 'S'], [220, 221, 'E', 'P'], [248, 249, 'E', 'S']]
4005_04 [[828, 829, 'F', 'P'], [758, 759, 'F', 'S'], [657, 657, 'G', 'P'], [659, 660, 'G', 'S'], [242, 243, 'E', 'P'], [267, 268, 'E', 'S']]
4953_01 [[161, 162, 'B', 'P'], [196, 197, 'B', 'S'], [43, 44, 'A', 'P'], [60, 61, 'A', 'S'], [154, 155, 'C', 'P'], [192, 194, 'C', 'S'], [161, 162, 'D', 'P'], [153, 154, 'D', 'S'], [307, 308, 'E', 'P'], [319, 320, 'E', 'S'], [4, -2, 'T', 'P'], [2, 3, 'T', 'S']]
4974_02 [[162, 163, 'B', 'P'], [197, 198, 'B', 'S'], [44, 45, 'A', 'P'], [60, 61, 'A', 'S'], [155, 156, 'C', 'P'], [192, 194, 'C', 'S'], [161, 162, 'D', 'P'], [154, 155, 'D', 'S'], [309, 310, 'E', 'P'], [319, 320, 'E', 'S'], [4, -2, 'T', 'P'], [2, 3, 'T', 'S']]
5098_02 [[1039, 1040, 'F', 'P'], [976, 977, 'F', 'S'], [823, 824, 'G', 'P'], [831, 832, 'G', 'S'], [316, 317, 'E', 'P'], [328, 329, 'E', 'S']]
5480_01 [[185, 186, 'B', 'P'], [208, 209, 'B', 'S'], [50, 51, 'A', 'P'], [66, 67, 'A', 'S'], [173, 174, 'C', 'P'], [213, 215, 'C', 'S'], [174, 175, 'D', 'P'], [165, 166, 'D', 'S'], [344, 345, 'E', 'P'], [353, 354, 'E', 'S'], [4, -2, 'T', 'P'], [2, 3, 'T', 'S']]
5601_03 [[1163, 1164, 'F', 'P'], [1068, 1069, 'F', 'S'], [896, 897, 'G', 'P'], [904, 904, 'G', 'S'], [350, 351, 'E', 'P'], [364, 365, 'E', 'S']]
5642_02 [[190, 191, 'B', 'P'], [216, 217, 'B', 'S'], [51, 52, 'A', 'P'], [69, 70, 'A', 'S'], [177, 178, 'C', 'P'], [213, 215, 'C', 'S'], [179, 180, 'D', 'P'], [172, 173, 'D', 'S'], [353, 354, 'E', 'P'], [368, 369, 'E', 'S'], [4, -2, 'T', 'P'], [2, 3, 'T', 'S']]
6028_04 [[205, 206, 'B', 'P'], [232, 233, 'B', 'S'], [57, 57, 'A', 'P'], [71, 72, 'A', 'S'], [184, 185, 'C', 'P'], [224, 225, 'C', 'S'], [190, 192, 'D', 'P'], [183, 184, 'D', 'S'], [383, 384, 'E', 'P'], [395, 396, 'E', 'S'], [4, -2, 'T', 'P'], [2, 3, 'T', 'S']]
6048_01 [[1250, 1251, 'F', 'P'], [1149, 1150, 'F', 'S'], [190, 192, 'D', 'P'], [183, 184, 'D', 'S'], [386, 388, 'E', 'P'], [397, 398, 'E', 'S']]
6060_01 [[1253, 1254, 'F', 'P'], [1152, 1153, 'F', 'S'], [190, 192, 'D', 'P'], [184, 185, 'D', 'S'], [386, 388, 'E', 'P'], [397, 398, 'E', 'S']]
6302_04 [[1305, 1306, 'F', 'P'], [1206, 1207, 'F', 'S'], [1015, 1015, 'G', 'P'], [1021, 1022, 'G', 'S'], [400, 401, 'E', 'P'], [416, 417, 'E', 'S']]
6363_01 [[1317, 1318, 'F', 'P'], [1214, 1215, 'F', 'S'], [1025, 1026, 'G', 'P'], [1031, 1032, 'G', 'S'], [404, 405, 'E', 'P'], [423, 424, 'E', 'S']]
6405_02 [[1327, 1328, 'F', 'P'], [1224, 1225, 'F', 'S'], [1032, 1033, 'G', 'P'], [1038, 1039, 'G', 'S'], [406, 407, 'E', 'P'], [427, 428, 'E', 'S']]
6612_03 [[1375, 1376, 'F', 'P'], [1266, 1268, 'F', 'S'], [1069, 1070, 'G', 'P'], [1077, 1077, 'G', 'S'], [421, 422, 'E', 'P'], [439, 440, 'E', 'S']]
6612_05 [[1375, 1376, 'F', 'P'], [1266, 1268, 'F', 'S'], [1069, 1070, 'G', 'P'], [1077, 1077, 'G', 'S'], [421, 422, 'E', 'P'], [439, 440, 'E', 'S']]
7182_01 [[1488, 1490, 'F', 'P'], [1380, 1381, 'F', 'S'], [1156, 1158, 'G', 'P'], [1169, 1170, 'G', 'S'], [460, 461, 'E', 'P'], [478, 479, 'E', 'S']]
7183_01 [[1488, 1490, 'F', 'P'], [1380, 1381, 'F', 'S'], [1156, 1158, 'G', 'P'], [1169, 1170, 'G', 'S'], [460, 461, 'E', 'P'], [478, 479, 'E', 'S']]
7353_03 [[241, 242, 'B', 'P'], [274, 275, 'B', 'S'], [78, 79, 'A', 'P'], [89, 90, 'A', 'S'], [238, 239, 'C', 'P'], [269, 271, 'C', 'S'], [233, 234, 'D', 'P'], [221, 222, 'D', 'S'], [476, 477, 'E', 'P'], [490, 491, 'E', 'S'], [4, -2, 'T', 'P'], [3, -2, 'T', 'S']]
7368_01 [[242, 243, 'B', 'P'], [274, 275, 'B', 'S'], [78, 79, 'A', 'P'], [89, 90, 'A', 'S'], [239, 240, 'C', 'P'], [269, 271, 'C', 'S'], [234, 236, 'D', 'P'], [221, 222, 'D', 'S'], [476, 477, 'E', 'P'], [492, 493, 'E', 'S'], [4, -2, 'T', 'P'], [3, -2, 'T', 'S']]
7429_01 [[1538, 1539, 'F', 'P'], [1423, 1425, 'F', 'S'], [234, 236, 'D', 'P'], [222, 223, 'D', 'S'], [480, 481, 'E', 'P'], [494, 495, 'E', 'S']]
7440_01 [[1538, 1539, 'F', 'P'], [1423, 1425, 'F', 'S'], [1202, 1203, 'G', 'P'], [1205, 1207, 'G', 'S'], [483, 484, 'E', 'P'], [494, 495, 'E', 'S']]
7442_02 [[1538, 1539, 'F', 'P'], [1423, 1425, 'F', 'S'], [1202, 1203, 'G', 'P'], [1205, 1207, 'G', 'S'], [483, 484, 'E', 'P'], [495, 496, 'E', 'S']]
7463_01 [[1543, 1545, 'F', 'P'], [1423, 1425, 'F', 'S'], [1206, 1207, 'G', 'P'], [1211, 1213, 'G', 'S'], [483, 484, 'E', 'P'], [496, 497, 'E', 'S']]
7469_01 [[1543, 1545, 'F', 'P'], [1425, 1426, 'F', 'S'], [1207, 1208, 'G', 'P'], [1211, 1213, 'G', 'S'], [484, 485, 'E', 'P'], [498, 499, 'E', 'S']]
7556_03 [[246, 247, 'B', 'P'], [286, 287, 'B', 'S'], [81, 82, 'A', 'P'], [90, 91, 'A', 'S'], [243, 244, 'C', 'P'], [280, 280, 'C', 'S'], [234, 236, 'D', 'P'], [225, 226, 'D', 'S'], [491, 492, 'E', 'P'], [501, 502, 'E', 'S'], [4, -2, 'T', 'P'], [3, -2, 'T', 'S']]
7890_03 [[1635, 1636, 'F', 'P'], [1508, 1509, 'F', 'S'], [1275, 1276, 'G', 'P'], [1273, 1274, 'G', 'S'], [512, 513, 'E', 'P'], [518, 519, 'E', 'S']]
7942_02 [[1644, 1645, 'F', 'P'], [1521, 1522, 'F', 'S'], [1285, 1287, 'G', 'P'], [1281, 1283, 'G', 'S'], [515, 516, 'E', 'P'], [523, 524, 'E', 'S']]
7948_01 [[1646, 1647, 'F', 'P'], [1522, 1523, 'F', 'S'], [1285, 1287, 'G', 'P'], [1281, 1283, 'G', 'S'], [515, 516, 'E', 'P'], [523, 524, 'E', 'S']]
7983_01 [[261, 262, 'B', 'P'], [312, 313, 'B', 'S'], [84, 85, 'A', 'P'], [95, 96, 'A', 'S'], [259, 260, 'C', 'P'], [297, 299, 'C', 'S'], [247, 248, 'D', 'P'], [232, 233, 'D', 'S'], [516, 517, 'E', 'P'], [527, 529, 'E', 'S'], [4, -2, 'T', 'P'], [3, -2, 'T', 'S']]
7995_01 [[261, 262, 'B', 'P'], [313, 314, 'B', 'S'], [84, 85, 'A', 'P'], [96, 97, 'A', 'S'], [260, 261, 'C', 'P'], [297, 299, 'C', 'S'], [248, 249, 'D', 'P'], [232, 233, 'D', 'S'], [516, 517, 'E', 'P'], [527, 529, 'E', 'S'], [4, -2, 'T', 'P'], [3, -2, 'T', 'S']]
8129_01 [[1682, 1683, 'F', 'P'], [1556, 1557, 'F', 'S'], [1312, 1313, 'G', 'P'], [1307, 1308, 'G', 'S'], [521, 522, 'E', 'P'], [537, 538, 'E', 'S']]
8728_07 [[1798, 1799, 'F', 'P'], [1690, 1691, 'F', 'S'], [1416, 1416, 'G', 'P'], [1405, 1406, 'G', 'S'], [558, 559, 'E', 'P'], [568, 569, 'E', 'S']]
9057_01 [[295, 296, 'B', 'P'], [345, 346, 'B', 'S'], [93, 95, 'A', 'P'], [106, 107, 'A', 'S'], [301, 302, 'C', 'P'], [336, 337, 'C', 'S'], [289, 290, 'D', 'P'], [274, 275, 'D', 'S'], [579, 580, 'E', 'P'], [593, 594, 'E', 'S'], [4, -2, 'T', 'P'], [3, -2, 'T', 'S']]
9062_02 [[1854, 1855, 'F', 'P'], [1753, 1754, 'F', 'S'], [1473, 1475, 'G', 'P'], [1458, 1459, 'G', 'S'], [579, 580, 'E', 'P'], [593, 594, 'E', 'S']]
9069_03 [[297, 297, 'B', 'P'], [346, 347, 'B', 'S'], [93, 95, 'A', 'P'], [106, 107, 'A', 'S'], [301, 302, 'C', 'P'], [337, 338, 'C', 'S'], [289, 290, 'D', 'P'], [276, 277, 'D', 'S'], [579, 580, 'E', 'P'], [593, 594, 'E', 'S'], [4, -2, 'T', 'P'], [3, -2, 'T', 'S']]
9070_01 [[1854, 1855, 'F', 'P'], [1756, 1757, 'F', 'S'], [1473, 1475, 'G', 'P'], [1459, 1460, 'G', 'S'], [579, 580, 'E', 'P'], [593, 594, 'E', 'S']]
9081_03 [[1858, 1858, 'F', 'P'], [1758, 1759, 'F', 'S'], [1476, 1476, 'G', 'P'], [1461, 1462, 'G', 'S'], [580, 581, 'E', 'P'], [595, 596, 'E', 'S']]
9223_01 [[1886, 1887, 'F', 'P'], [1784, 1786, 'F', 'S'], [295, 296, 'D', 'P'], [277, 278, 'D', 'S'], [591, 592, 'E', 'P'], [604, 605, 'E', 'S']]
9223_02 [[1886, 1887, 'F', 'P'], [1784, 1786, 'F', 'S'], [295, 296, 'D', 'P'], [277, 278, 'D', 'S'], [591, 592, 'E', 'P'], [604, 605, 'E', 'S']]
9238_05 [[1889, 1890, 'F', 'P'], [1790, 1791, 'F', 'S'], [1501, 1501, 'G', 'P'], [1488, 1489, 'G', 'S'], [592, 593, 'E', 'P'], [605, 606, 'E', 'S']]

In [439]:
for item in glob:
    if item[-1] == '1':
        if len(togeth[togeth.Group == int(item[:-3])]) == 1:
            print(item,glob[item])

0293_01 [[12, 14, 'B', 'P'], [7, 8, 'B', 'S'], [2, 3, 'A', 'P'], [3, 4, 'A', 'S'], [6, 7, 'C', 'P'], [12, 14, 'C', 'S'], [10, 11, 'D', 'P'], [10, 11, 'D', 'S'], [16, 17, 'E', 'P'], [17, 18, 'E', 'S'], [-2, 0, 'T', 'P'], [-2, 0, 'T', 'S']]
0310_01 [[12, 14, 'B', 'P'], [8, 9, 'B', 'S'], [3, 4, 'A', 'P'], [3, 4, 'A', 'S'], [7, 8, 'C', 'P'], [12, 14, 'C', 'S'], [11, 12, 'D', 'P'], [10, 11, 'D', 'S'], [16, 17, 'E', 'P'], [19, 20, 'E', 'S'], [-2, 0, 'T', 'P'], [-2, 0, 'T', 'S']]
1041_01 [[37, 38, 'B', 'P'], [40, 41, 'B', 'S'], [7, 8, 'A', 'P'], [12, 13, 'A', 'S'], [37, 38, 'C', 'P'], [39, 41, 'C', 'S'], [39, 40, 'D', 'P'], [35, 37, 'D', 'S'], [57, 59, 'E', 'P'], [74, 75, 'E', 'S'], [-2, 0, 'T', 'P'], [0, 1, 'T', 'S']]
1095_01 [[38, 39, 'B', 'P'], [42, 43, 'B', 'S'], [8, 9, 'A', 'P'], [12, 13, 'A', 'S'], [41, 42, 'C', 'P'], [39, 41, 'C', 'S'], [42, 43, 'D', 'P'], [35, 37, 'D', 'S'], [61, 62, 'E', 'P'], [75, 76, 'E', 'S'], [0, 1, 'T', 'P'], [0, 1, 'T', 'S']]
2513_01 [[518, 520, 'F', 'P'], [483, 484, 'F', 'S'], [405, 406, 'G', 'P'], [404, 405, 'G', 'S'], [149, 151, 'E', 'P'], [176, 177, 'E', 'S']]
2514_01 [[518, 520, 'F', 'P'], [483, 484, 'F', 'S'], [405, 406, 'G', 'P'], [404, 405, 'G', 'S'], [149, 151, 'E', 'P'], [176, 177, 'E', 'S']]
3598_01 [[745, 746, 'F', 'P'], [677, 678, 'F', 'S'], [589, 591, 'G', 'P'], [578, 580, 'G', 'S'], [215, 216, 'E', 'P'], [240, 241, 'E', 'S']]
3599_01 [[745, 746, 'F', 'P'], [677, 678, 'F', 'S'], [589, 591, 'G', 'P'], [578, 580, 'G', 'S'], [215, 216, 'E', 'P'], [240, 241, 'E', 'S']]
4953_01 [[161, 162, 'B', 'P'], [196, 197, 'B', 'S'], [43, 44, 'A', 'P'], [60, 61, 'A', 'S'], [154, 155, 'C', 'P'], [192, 194, 'C', 'S'], [161, 162, 'D', 'P'], [153, 154, 'D', 'S'], [307, 308, 'E', 'P'], [319, 320, 'E', 'S'], [4, -2, 'T', 'P'], [2, 3, 'T', 'S']]
5480_01 [[185, 186, 'B', 'P'], [208, 209, 'B', 'S'], [50, 51, 'A', 'P'], [66, 67, 'A', 'S'], [173, 174, 'C', 'P'], [213, 215, 'C', 'S'], [174, 175, 'D', 'P'], [165, 166, 'D', 'S'], [344, 345, 'E', 'P'], [353, 354, 'E', 'S'], [4, -2, 'T', 'P'], [2, 3, 'T', 'S']]
6048_01 [[1250, 1251, 'F', 'P'], [1149, 1150, 'F', 'S'], [190, 192, 'D', 'P'], [183, 184, 'D', 'S'], [386, 388, 'E', 'P'], [397, 398, 'E', 'S']]
6060_01 [[1253, 1254, 'F', 'P'], [1152, 1153, 'F', 'S'], [190, 192, 'D', 'P'], [184, 185, 'D', 'S'], [386, 388, 'E', 'P'], [397, 398, 'E', 'S']]
7182_01 [[1488, 1490, 'F', 'P'], [1380, 1381, 'F', 'S'], [1156, 1158, 'G', 'P'], [1169, 1170, 'G', 'S'], [460, 461, 'E', 'P'], [478, 479, 'E', 'S']]
7183_01 [[1488, 1490, 'F', 'P'], [1380, 1381, 'F', 'S'], [1156, 1158, 'G', 'P'], [1169, 1170, 'G', 'S'], [460, 461, 'E', 'P'], [478, 479, 'E', 'S']]
7368_01 [[242, 243, 'B', 'P'], [274, 275, 'B', 'S'], [78, 79, 'A', 'P'], [89, 90, 'A', 'S'], [239, 240, 'C', 'P'], [269, 271, 'C', 'S'], [234, 236, 'D', 'P'], [221, 222, 'D', 'S'], [476, 477, 'E', 'P'], [492, 493, 'E', 'S'], [4, -2, 'T', 'P'], [3, -2, 'T', 'S']]
7429_01 [[1538, 1539, 'F', 'P'], [1423, 1425, 'F', 'S'], [234, 236, 'D', 'P'], [222, 223, 'D', 'S'], [480, 481, 'E', 'P'], [494, 495, 'E', 'S']]
7440_01 [[1538, 1539, 'F', 'P'], [1423, 1425, 'F', 'S'], [1202, 1203, 'G', 'P'], [1205, 1207, 'G', 'S'], [483, 484, 'E', 'P'], [494, 495, 'E', 'S']]
7463_01 [[1543, 1545, 'F', 'P'], [1423, 1425, 'F', 'S'], [1206, 1207, 'G', 'P'], [1211, 1213, 'G', 'S'], [483, 484, 'E', 'P'], [496, 497, 'E', 'S']]
7469_01 [[1543, 1545, 'F', 'P'], [1425, 1426, 'F', 'S'], [1207, 1208, 'G', 'P'], [1211, 1213, 'G', 'S'], [484, 485, 'E', 'P'], [498, 499, 'E', 'S']]
7948_01 [[1646, 1647, 'F', 'P'], [1522, 1523, 'F', 'S'], [1285, 1287, 'G', 'P'], [1281, 1283, 'G', 'S'], [515, 516, 'E', 'P'], [523, 524, 'E', 'S']]
7983_01 [[261, 262, 'B', 'P'], [312, 313, 'B', 'S'], [84, 85, 'A', 'P'], [95, 96, 'A', 'S'], [259, 260, 'C', 'P'], [297, 299, 'C', 'S'], [247, 248, 'D', 'P'], [232, 233, 'D', 'S'], [516, 517, 'E', 'P'], [527, 529, 'E', 'S'], [4, -2, 'T', 'P'], [3, -2, 'T', 'S']]
7995_01 [[261, 262, 'B', 'P'], [313, 314, 'B', 'S'], [84, 85, 'A', 'P'], [96, 97, 'A', 'S'], [260, 261, 'C', 'P'], [297, 299, 'C', 'S'], [248, 249, 'D', 'P'], [232, 233, 'D', 'S'], [516, 517, 'E', 'P'], [527, 529, 'E', 'S'], [4, -2, 'T', 'P'], [3, -2, 'T', 'S']]

In [413]:
glob.keys()

dict_keys(['0293_01', '0310_01', '0348_02', '0364_02', '0374_02', '0992_04', '1006_03', '1011_01', '1041_01', '1095_01', '1688_02', '1709_03', '2092_03', '2425_05', '2513_01', '2514_01', '3287_02', '3411_02', '3598_01', '3599_01', '3712_01', '4005_04', '4953_01', '4974_02', '5098_02', '5480_01', '5601_03', '5642_02', '6028_04', '6048_01', '6060_01', '6302_04', '6363_01', '6405_02', '6612_03', '6612_05', '7182_01', '7183_01', '7353_03', '7368_01', '7429_01', '7440_01', '7442_02', '7463_01', '7469_01', '7556_03', '7890_03', '7942_02', '7948_01', '7983_01', '7995_01', '8129_01', '8728_07', '9057_01', '9062_02', '9069_03', '9070_01', '9081_03', '9223_01', '9223_02', '9238_05'])

In [426]:
togeth[togeth.Group == 9057]

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported,Group,GroupNumber,CabinDeck,CabinSide,CabinNum,FirstName,LastName
12651,9057_01,Europa,False,NaN,55 Cancri e,36.0,True,132.0,3479.0,0.0,3786.0,0.0,Coxan Statch,False,9057.0,1.0,NaN,<NA>,<NA>,Coxan,Statch
12652,9057_02,Europa,True,B/296/P,TRAPPIST-1e,55.0,False,0.0,0.0,0.0,0.0,0.0,Sitron Statch,True,9057.0,2.0,B,P,296,Sitron,Statch

In [421]:
togeth[togeth.Cabin == 'G/1476/P']

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported,Group,GroupNumber,CabinDeck,CabinSide,CabinNum,FirstName,LastName
12692,9081_01,Earth,False,G/1476/P,TRAPPIST-1e,8.0,False,0.0,0.0,0.0,0.0,0.0,Hanna Clemondsey,False,9081.0,1.0,G,P,1476,Hanna,Clemondsey
12695,9081_04,Earth,False,G/1476/P,TRAPPIST-1e,9.0,False,0.0,0.0,0.0,0.0,0.0,NaN,True,9081.0,4.0,G,P,1476,<NA>,<NA>
12698,9081_07,Earth,True,G/1476/P,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,0.0,0.0,Aliey Clemondsey,True,9081.0,7.0,G,P,1476,Aliey,Clemondsey
12699,9081_08,Earth,True,G/1476/P,PSO J318.5-22,3.0,False,0.0,0.0,0.0,0.0,0.0,Virgie Clemondsey,True,9081.0,8.0,G,P,1476,Virgie,Clemondsey

In [423]:
togeth[togeth.PassengerId== '4637_01']

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported,Group,GroupNumber,CabinDeck,CabinSide,CabinNum,FirstName,LastName
6493,4637_01,Mars,False,E/300/S,TRAPPIST-1e,24.0,False,672.0,0.0,501.0,0.0,NaN,Tark Ches,False,4637.0,1.0,E,S,300,Tark,Ches

In [347]:
togeth

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported,Group,GroupNumber,CabinDeck,CabinSide,CabinNum,FirstName,LastName
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False,1.0,1.0,B,P,0,Maham,Ofracculy
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True,2.0,1.0,F,S,0,Juanna,Vines
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False,3.0,1.0,A,S,0,Altark,Susent
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False,3.0,2.0,A,S,0,Solam,Susent
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True,4.0,1.0,F,S,1,Willy,Santantines
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12965,9277_01,Earth,True,G/1498/S,PSO J318.5-22,43.0,False,0.0,0.0,0.0,0.0,0.0,Lilace Leonzaley,NaN,9277.0,1.0,G,S,1498,Lilace,Leonzaley
12966,9278_01,Earth,True,G/1499/S,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,False,9278.0,1.0,G,S,1499,Kurta,Mondalley
12967,9279_01,Earth,False,G/1500/S,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,True,9279.0,1.0,G,S,1500,Fayey,Connon
12968,9280_01,Europa,False,E/608/S,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,False,9280.0,1.0,E,S,608,Celeon,Hontichre
12969,9280_02,Europa,False,E/608/S,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,True,9280.0,2.0,E,S,608,Propsh,Hontichre

In [361]:
togeth[togeth.PassengerId == '3053_01']

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported,Group,GroupNumber,CabinDeck,CabinSide,CabinNum,FirstName,LastName
4254,3053_01,Europa,False,B/98/P,55 Cancri e,52.0,False,0.0,2.0,0.0,10976.0,810.0,Ainor Fuelisent,False,3053.0,1.0,B,P,98,Ainor,Fuelisent

In [355]:
togeth[togeth.Cabin.isna()].tail(50)

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported,Group,GroupNumber,CabinDeck,CabinSide,CabinNum,FirstName,LastName
2442,1709_03,Mars,False,NaN,TRAPPIST-1e,35.0,False,1313.0,0.0,24.0,0.0,1.0,Bleark Minen,False,1709.0,3.0,NaN,<NA>,<NA>,Bleark,Minen
2970,2092_03,Mars,False,NaN,TRAPPIST-1e,13.0,NaN,6726.0,0.0,1605.0,1266.0,0.0,Cray Stpie,False,2092.0,3.0,NaN,<NA>,<NA>,Cray,Stpie
3416,2425_05,Earth,True,NaN,TRAPPIST-1e,0.0,False,0.0,0.0,0.0,0.0,0.0,Coley Tranklinay,NaN,2425.0,5.0,NaN,<NA>,<NA>,Coley,Tranklinay
3529,2513_01,Earth,False,NaN,TRAPPIST-1e,28.0,False,0.0,55.0,0.0,656.0,0.0,Loree Mathison,False,2513.0,1.0,NaN,<NA>,<NA>,Loree,Mathison
3530,2514_01,Earth,False,NaN,TRAPPIST-1e,36.0,False,3.0,755.0,0.0,33.0,0.0,Ianne Doughan,NaN,2514.0,1.0,NaN,<NA>,<NA>,Ianne,Doughan
4569,3287_02,Earth,False,NaN,TRAPPIST-1e,22.0,False,718.0,2.0,50.0,0.0,0.0,Jerrye Carlsonney,True,3287.0,2.0,NaN,<NA>,<NA>,Jerrye,Carlsonney
4751,3411_02,Mars,False,NaN,TRAPPIST-1e,22.0,False,1127.0,0.0,2451.0,96.0,0.0,Naish Harta,NaN,3411.0,2.0,NaN,<NA>,<NA>,Naish,Harta
5016,3598_01,Earth,False,NaN,55 Cancri e,19.0,False,616.0,0.0,46.0,0.0,14.0,Dony Olivasquez,False,3598.0,1.0,NaN,<NA>,<NA>,Dony,Olivasquez
5017,3599_01,Earth,False,NaN,TRAPPIST-1e,46.0,False,48.0,856.0,0.0,0.0,4.0,Philda Newtontoss,NaN,3599.0,1.0,NaN,<NA>,<NA>,Philda,Newtontoss
5193,3712_01,Earth,True,NaN,55 Cancri e,0.0,False,0.0,0.0,0.0,0.0,0.0,Diandi Blacks,NaN,3712.0,1.0,NaN,<NA>,<NA>,Diandi,Blacks
5614,4005_04,Earth,True,NaN,TRAPPIST-1e,12.0,False,0.0,0.0,0.0,0.0,0.0,Dia Spentley,False,4005.0,4.0,NaN,<NA>,<NA>,Dia,Spentley
6927,4953_01,Europa,True,NaN,TRAPPIST-1e,49.0,False,0.0,0.0,0.0,0.0,0.0,Solam Slable,NaN,4953.0,1.0,NaN,<NA>,<NA>,Solam,Slable
6952,4974_02,Europa,True,NaN,55 Cancri e,45.0,False,0.0,0.0,0.0,0.0,NaN,Lesat Vendeck,True,4974.0,2.0,NaN,<NA>,<NA>,Lesat,Vendeck
7126,5098_02,Earth,True,NaN,PSO J318.5-22,11.0,False,0.0,0.0,0.0,0.0,0.0,Sonald Kellyons,NaN,5098.0,2.0,NaN,<NA>,<NA>,Sonald,Kellyons
7638,5480_01,Europa,False,NaN,TRAPPIST-1e,37.0,False,31.0,9307.0,0.0,904.0,11213.0,Avijava Ellcefulve,False,5480.0,1.0,NaN,<NA>,<NA>,Avijava,Ellcefulve
7810,5601_03,Earth,False,NaN,55 Cancri e,4.0,False,0.0,0.0,0.0,0.0,0.0,Jacque Vandan,True,5601.0,3.0,NaN,<NA>,<NA>,Jacque,Vandan
7863,5642_02,Europa,True,NaN,55 Cancri e,37.0,False,0.0,0.0,0.0,0.0,0.0,Isoton Supred,True,5642.0,2.0,NaN,<NA>,<NA>,Isoton,Supred
8413,6028_04,Europa,False,NaN,TRAPPIST-1e,26.0,True,0.0,3638.0,0.0,1043.0,0.0,Kumark Preeldy,True,6028.0,4.0,NaN,<NA>,<NA>,Kumark,Preeldy
8450,6048_01,Mars,True,NaN,NaN,25.0,False,0.0,0.0,0.0,0.0,0.0,Mele Clake,False,6048.0,1.0,NaN,<NA>,<NA>,Mele,Clake
8465,6060_01,Mars,False,NaN,TRAPPIST-1e,37.0,False,1517.0,NaN,2104.0,0.0,147.0,Bleda Barte,NaN,6060.0,1.0,NaN,<NA>,<NA>,Bleda,Barte
8804,6302_04,Earth,True,NaN,PSO J318.5-22,3.0,False,0.0,0.0,0.0,0.0,0.0,Debony Joycerton,True,6302.0,4.0,NaN,<NA>,<NA>,Debony,Joycerton
8906,6363_01,Earth,True,NaN,TRAPPIST-1e,36.0,False,0.0,0.0,0.0,0.0,0.0,Denis Gouldensen,False,6363.0,1.0,NaN,<NA>,<NA>,Denis,Gouldensen
8973,6405_02,Earth,NaN,NaN,NaN,2.0,False,0.0,0.0,0.0,0.0,0.0,Feline Toddleton,True,6405.0,2.0,NaN,<NA>,<NA>,Feline,Toddleton
9265,6612_03,Earth,False,NaN,TRAPPIST-1e,29.0,False,121.0,0.0,55.0,12.0,638.0,Daley Dickley,NaN,6612.0,3.0,NaN,<NA>,<NA>,Daley,Dickley
9267,6612_05,Earth,False,NaN,TRAPPIST-1e,2.0,False,0.0,0.0,0.0,0.0,0.0,Maurie Dickley,NaN,6612.0,5.0,NaN,<NA>,<NA>,Maurie,Dickley
10081,7182_01,Earth,False,NaN,TRAPPIST-1e,46.0,False,438.0,283.0,944.0,0.0,355.0,Jacki Ricews,False,7182.0,1.0,NaN,<NA>,<NA>,Jacki,Ricews
10082,7183_01,Earth,True,NaN,TRAPPIST-1e,19.0,NaN,0.0,0.0,0.0,0.0,0.0,Janne Brookes,NaN,7183.0,1.0,NaN,<NA>,<NA>,Janne,Brookes
10290,7353_03,Europa,False,NaN,TRAPPIST-1e,58.0,False,0.0,1386.0,2.0,128.0,2577.0,Auvam Openduave,True,7353.0,3.0,NaN,<NA>,<NA>,Auvam,Openduave
10313,7368_01,Europa,True,NaN,TRAPPIST-1e,31.0,False,0.0,0.0,0.0,0.0,0.0,Pharmus Frolestty,NaN,7368.0,1.0,NaN,<NA>,<NA>,Pharmus,Frolestty
10394,7429_01,Mars,False,NaN,TRAPPIST-1e,38.0,False,1126.0,0.0,23.0,34.0,0.0,Cuses Pread,False,7429.0,1.0,NaN,<NA>,<NA>,Cuses,Pread
10408,7440_01,Earth,False,NaN,TRAPPIST-1e,36.0,False,698.0,63.0,1.0,1.0,135.0,Ine Pollarkeeks,NaN,7440.0,1.0,NaN,<NA>,<NA>,Ine,Pollarkeeks
10411,7442_02,Earth,True,NaN,PSO J318.5-22,17.0,False,0.0,0.0,0.0,0.0,0.0,Franda Morrencis,False,7442.0,2.0,NaN,<NA>,<NA>,Franda,Morrencis
10434,7463_01,Earth,False,NaN,TRAPPIST-1e,18.0,False,0.0,0.0,0.0,0.0,677.0,Terrie Mickersones,NaN,7463.0,1.0,NaN,<NA>,<NA>,Terrie,Mickersones
10440,7469_01,Earth,False,NaN,TRAPPIST-1e,24.0,False,433.0,110.0,209.0,23.0,0.0,Cliney Baxterson,NaN,7469.0,1.0,NaN,<NA>,<NA>,Cliney,Baxterson
10558,7556_03,Europa,False,NaN,TRAPPIST-1e,33.0,False,0.0,673.0,0.0,0.0,783.0,Cella Mosteraked,NaN,7556.0,3.0,NaN,<NA>,<NA>,Cella,Mosteraked
10995,7890_03,Earth,True,NaN,TRAPPIST-1e,16.0,False,0.0,0.0,0.0,0.0,0.0,Sonnie Scottney,True,7890.0,3.0,NaN,<NA>,<NA>,Sonnie,Scottney
11074,7942_02,Earth,False,NaN,TRAPPIST-1e,2.0,False,0.0,0.0,0.0,0.0,0.0,Ralda Hales,NaN,7942.0,2.0,NaN,<NA>,<NA>,Ralda,Hales
11082,7948_01,Earth,False,NaN,TRAPPIST-1e,28.0,False,2.0,0.0,0.0,754.0,0.0,Elinda Flynner,NaN,7948.0,1.0,NaN,<NA>,<NA>,Elinda,Flynner
11129,7983_01,Europa,True,NaN,TRAPPIST-1e,53.0,False,0.0,0.0,0.0,0.0,0.0,Alderak Wassird,True,7983.0,1.0,NaN,<NA>,<NA>,Alderak,Wassird
11148,7995_01,Europa,True,NaN,TRAPPIST-1e,36.0,False,0.0,0.0,0.0,0.0,0.0,Grum Stiviorad,True,7995.0,1.0,NaN,<NA>,<NA>,Grum,Stiviorad
11334,8129_01,Earth,True,NaN,55 Cancri e,13.0,False,0.0,0.0,0.0,0.0,0.0,Eline Casonston,True,8129.0,1.0,NaN,<NA>,<NA>,Eline,Casonston
12174,8728_07,Earth,False,NaN,TRAPPIST-1e,44.0,False,266.0,3.0,2.0,0.0,748.0,Delley Fulloydez,False,8728.0,7.0,NaN,<NA>,<NA>,Delley,Fulloydez
12651,9057_01,Europa,False,NaN,55 Cancri e,36.0,True,132.0,3479.0,0.0,3786.0,0.0,Coxan Statch,False,9057.0,1.0,NaN,<NA>,<NA>,Coxan,Statch
12658,9062_02,Earth,True,NaN,TRAPPIST-1e,65.0,False,0.0,0.0,0.0,0.0,0.0,Lerion Pughlinsons,NaN,9062.0,2.0,NaN,<NA>,<NA>,Lerion,Pughlinsons
12668,9069_03,Europa,True,NaN,55 Cancri e,25.0,False,0.0,0.0,0.0,0.0,0.0,Bath Brakeng,True,9069.0,3.0,NaN,<NA>,<NA>,Bath,Brakeng
12671,9070_01,Earth,False,NaN,TRAPPIST-1e,20.0,False,323.0,0.0,542.0,0.0,0.0,Oraryn Flynney,NaN,9070.0,1.0,NaN,<NA>,<NA>,Oraryn,Flynney
12694,9081_03,Earth,True,NaN,TRAPPIST-1e,1.0,False,0.0,0.0,0.0,0.0,0.0,Beula Clemondsey,False,9081.0,3.0,NaN,<NA>,<NA>,Beula,Clemondsey
12892,9223_01,Mars,True,NaN,TRAPPIST-1e,24.0,False,0.0,0.0,NaN,0.0,0.0,Weessh Sun,NaN,9223.0,1.0,NaN,<NA>,<NA>,Weessh,Sun
12893,9223_02,Mars,True,NaN,TRAPPIST-1e,17.0,False,0.0,0.0,0.0,0.0,0.0,Perit Sun,NaN,9223.0,2.0,NaN,<NA>,<NA>,Perit,Sun
12918,9238_05,Earth,True,NaN,TRAPPIST-1e,14.0,False,0.0,0.0,0.0,0.0,0.0,Caseye Emenez,NaN,9238.0,5.0,NaN,<NA>,<NA>,Caseye,Emenez

In [349]:
togeth.isna().sum()

PassengerId        0
HomePlanet        10
CryoSleep        310
Cabin             61
Destination      274
Age              270
VIP              296
RoomService      263
FoodCourt        289
ShoppingMall     306
Spa              284
VRDeck           268
Name             294
Transported     4277
Group              0
GroupNumber        0
CabinDeck         61
CabinSide         61
CabinNum          61
FirstName        294
LastName         294
dtype: int64

In [350]:
togeth[togeth.Cabin == 'A/7/S']

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported,Group,GroupNumber,CabinDeck,CabinSide,CabinNum,FirstName,LastName
1001,0709_01,Europa,False,A/7/S,55 Cancri e,25.0,False,0.0,4949.0,0.0,452.0,15.0,Astorux Missefle,True,709.0,1.0,A,S,7,Astorux,Missefle
1002,0709_02,Europa,True,A/7/S,55 Cancri e,25.0,NaN,0.0,NaN,0.0,0.0,0.0,Thaban Missefle,True,709.0,2.0,A,S,7,Thaban,Missefle
1003,0709_03,Europa,True,A/7/S,55 Cancri e,23.0,False,0.0,0.0,NaN,0.0,0.0,Props Missefle,True,709.0,3.0,A,S,7,Props,Missefle

In [362]:
def print_rows_with_different_group(df):
    unique_cabins = df['Cabin'].unique()
    
    for cabin in unique_cabins:
        group_list = df[df['Cabin'] == cabin]['Group'].unique()
        
        if len(group_list) > 1:
            print(cabin)

# Call the function with your DataFrame
print_rows_with_different_group(togeth)

B/98/P