In [1232]:
import os
import pandas as pd
from fastbook import *
from fastai.tabular.all import *
from sklearn.tree import DecisionTreeRegressor
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import RandomForestRegressor

from sklearn.metrics import mean_absolute_error
from dtreeviz.trees import *
import sklearn

def r_mse(pred,y): return round(math.sqrt(((pred-y)**2).mean()), 6)
def m_rmse(m, xs, y): return r_mse(m.predict(xs), y)

traindf = pd.read_csv('/mnt/c/Users/jsult/Desktop/spacetitanic3/train.csv',low_memory=False)
testdf = pd.read_csv('/mnt/c/Users/jsult/Desktop/spacetitanic3/test.csv',low_memory= False)
traindf['Set'] = 'Train'
testdf['Set'] = 'Test'
togeth = pd.concat([testdf,traindf])




def split_group_number(df):
    df['Group'] = df['PassengerId'].apply(lambda x: x.split("_")[0] if pd.notna(x) else pd.NA)
    df.Group = df.Group.astype('float')
    df['GroupNumber'] = df['PassengerId'].apply(lambda x: x.split("_")[1] if pd.notna(x) else pd.NA)
    df.GroupNumber = df.GroupNumber.astype('float')
    return df
togeth = split_group_number(togeth)


def split_cabin(df):
    df['CabinDeck'] = df['Cabin'].apply(lambda x: x.split("/" )[0] if pd.notna(x) else pd.NA)
    custom_order = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'T']
    df['CabinDeck'] = pd.Categorical(df['CabinDeck'], categories=custom_order, ordered=True)
    df = df.sort_values(by='CabinDeck')
    df['CabinSide'] = df['Cabin'].apply(lambda x: x.split("/")[2] if pd.notna(x) else pd.NA)
    df['CabinNum'] = df['Cabin'].apply(lambda x: int(x.split("/")[1]) if pd.notna(x) else pd.NA)
    return df
togeth = split_cabin(togeth)


def split_cabin(df):
    df['CabinDeck'] = df['Cabin'].apply(lambda x: x.split("/" )[0] if pd.notna(x) else pd.NA)
    custom_order = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'T']
    df['CabinDeck'] = pd.Categorical(df['CabinDeck'], categories=custom_order, ordered=True)
    df = df.sort_values(by='CabinDeck')
    df['CabinSide'] = df['Cabin'].apply(lambda x: x.split("/")[2] if pd.notna(x) else pd.NA)
    df['CabinNum'] = df['Cabin'].apply(lambda x: int(x.split("/")[1]) if pd.notna(x) else pd.NA)
    return df
togeth = split_cabin(togeth)

In [1203]:
len(togeth[togeth.Group == '0001'])

SyntaxError: invalid syntax (1889472585.py, line 1)

# ['6612', '9223'] both have multiple cabins missing in group

NEED to make a list rather than the last missing and pop them along, in case two are missing before the next skip

In [1204]:
togeth = togeth.sort_values(by = ['Group','GroupNumber'])
togeth.reset_index(inplace = True)
togeth.drop(columns = 'index',inplace = True)

heather = togeth.copy()



def check(dic,row):
    df = togeth.iloc[row[0]:]
    for key in dict.keys():
        if len(df[(df.CabinNum == dic[key][0] + 1) & (df.CabinSide == 'P') & (df.CabinDeck == key)]) == 0:
            print('failedkey',key)
            print("CabinNum",key,(df.CabinNum == dic[key][0] + 1).sum())
            print("CabinSide","P",(df.CabinSide == 'P').sum())
            print("cabindeck",key,(df.CabinDeck == key).sum())
            print(df[(df.CabinNum == dic[key][0] + 1) & (df.CabinSide == 'P') & (df.CabinDeck == key)])
            return [False]
        if len(df[(df.CabinNum == dic[key][1] + 1) & (df.CabinSide == 'S') & (df.CabinDeck == key)]) == 0:
            print(df[(df.CabinNum == dic[key][0] + 1) & (df.CabinSide == 'S') & (df.CabinDeck == key)])
            print('failedkey',key)
            return [False]
    return [True]

        
dict = {}
for deck in list(togeth.CabinDeck.unique())[:-1]:
    dict[deck] = [-1,-1]
    

cabinsidemap = {'P' : 1, 'S' : 0}


def fillcabin(length):
    missing = []
    pos = 0 
    j = -1
    for row in togeth.iterrows():
        if j < length:
            j +=1

            print(" ")
            print(j)
            print("missing",missing)
            print("pos",pos)
            
            # missing cabin
            
            if pd.isna(row[1].Cabin):

                print('IS MISSING !!')
                print('IS MISSING !!')
                print('IS MISSING !!')
                print( row[0])
               
                aboverow = togeth.iloc[row[0] + 1]
                side = cabinsidemap[aboverow.CabinSide]
                
                print("NA Cabin")
                                
                if len(togeth[togeth.Group == row[1].Group]) == 1:
                    print("sologroup")
                    missing.append(row[0])     
                #if pos < len(missing):
                elif pos == len(missing):
                    print('no missing cabins to fill')
                    togeth.loc[row[0], 'Cabin'] = 'holder'


                    
                elif (aboverow.Group == row[1].Group) and (dict[aboverow.CabinDeck][side] == aboverow.CabinNum - 1):
                    print("beforesamecabin")
                    print(row[0])
                    togeth.loc[row[0],'Cabin'] = aboverow.Cabin

                elif(row[1].Group in list(togeth.sort_values(by = ['Group','GroupNumber']).iloc[:row[0]].Group)):
                    print("isna seen group")
                    if check(dict,row)[0]:
                        print("isna checked")
                        togeth.loc[row[0], 'Cabin'] = 'same'

                else:
                    print("isna not seen group")
                    missing.append(row[0])


            #not missing cabin
            if not pd.isna(row[1].Cabin):
                #missing gap
                side = cabinsidemap[row[1].CabinSide]
                if dict[row[1].CabinDeck][side] + 1 < row[1].CabinNum:
                    print('GAP')
                    print('GAP')
                    print('GAP')
                    print(row[1].Cabin)
                    print(dict)
                    print("gap found from", row[1].Cabin)
                    togeth.loc[missing[pos], 'Cabin'] = row[1].CabinDeck + '/' + str(row[1].CabinNum - 1) + '/' + row[1].CabinSide
                    pos += 1
                    dict[row[1].CabinDeck][side] += 2
                    
                #next step
                elif dict[row[1].CabinDeck][side] + 1 == row[1].CabinNum:
                    dict[row[1].CabinDeck][side] += 1
                                         


        

            
fillcabin(450)

0
missing []
pos 0

1
missing []
pos 0

2
missing []
pos 0

3
missing []
pos 0

4
missing []
pos 0

5
missing []
pos 0

6
missing []
pos 0

7
missing []
pos 0

8
missing []
pos 0

9
missing []
pos 0

10
missing []
pos 0

11
missing []
pos 0

12
missing []
pos 0

13
missing []
pos 0

14
missing []
pos 0

15
missing []
pos 0
IS MISSING !!
IS MISSING !!
IS MISSING !!
15
NA Cabin
sologroup

16
missing [15]
pos 0
GAP
GAP
GAP
G/3/S
{'B': [-1, 1], 'F': [3, 2], 'A': [0, -1], 'G': [1, -1], nan: [-1, -1], 'C': [-1, -1], 'E': [-1, -1], 'D': [-1, -1]}
gap found from G/3/S

17
missing [15]
pos 1

18
missing [15]
pos 1

19
missing [15]
pos 1

20
missing [15]
pos 1

21
missing [15]
pos 1

22
missing [15]
pos 1

23
missing [15]
pos 1

24
missing [15]
pos 1

25
missing [15]
pos 1

26
missing [15]
pos 1

27
missing [15]
pos 1

28
missing [15]
pos 1

29
missing [15]
pos 1

30
missing [15]
pos 1

31
missing [15]
pos 1

32
missing [15]
pos 1

33
missing [15]
pos 1

34
missing [15]
pos 1

35
missing [15]
pos 1

36
missing [15]
pos 1

37
missing [15]
pos 1

38
missing [15]
pos 1

39
missing [15]
pos 1

40
missing [15]
pos 1

41
missing [15]
pos 1

42
missing [15]
pos 1

43
missing [15]
pos 1

44
missing [15]
pos 1

45
missing [15]
pos 1

46
missing [15]
pos 1

47
missing [15]
pos 1

48
missing [15]
pos 1

49
missing [15]
pos 1

50
missing [15]
pos 1

51
missing [15]
pos 1

52
missing [15]
pos 1

53
missing [15]
pos 1

54
missing [15]
pos 1

55
missing [15]
pos 1

56
missing [15]
pos 1

57
missing [15]
pos 1

58
missing [15]
pos 1

59
missing [15]
pos 1

60
missing [15]
pos 1

61
missing [15]
pos 1

62
missing [15]
pos 1

63
missing [15]
pos 1

64
missing [15]
pos 1

65
missing [15]
pos 1

66
missing [15]
pos 1
IS MISSING !!
IS MISSING !!
IS MISSING !!
66
NA Cabin
no missing cabins to fill

67
missing [15]
pos 1

68
missing [15]
pos 1

69
missing [15]
pos 1

70
missing [15]
pos 1

71
missing [15]
pos 1

72
missing [15]
pos 1

73
missing [15]
pos 1

74
missing [15]
pos 1

75
missing [15]
pos 1

76
missing [15]
pos 1

77
missing [15]
pos 1

78
missing [15]
pos 1

79
missing [15]
pos 1

80
missing [15]
pos 1

81
missing [15]
pos 1

82
missing [15]
pos 1

83
missing [15]
pos 1

84
missing [15]
pos 1

85
missing [15]
pos 1

86
missing [15]
pos 1

87
missing [15]
pos 1

88
missing [15]
pos 1

89
missing [15]
pos 1

90
missing [15]
pos 1

91
missing [15]
pos 1

92
missing [15]
pos 1

93
missing [15]
pos 1

94
missing [15]
pos 1

95
missing [15]
pos 1

96
missing [15]
pos 1

97
missing [15]
pos 1

98
missing [15]
pos 1

99
missing [15]
pos 1

100
missing [15]
pos 1

101
missing [15]
pos 1

102
missing [15]
pos 1

103
missing [15]
pos 1

104
missing [15]
pos 1

105
missing [15]
pos 1

106
missing [15]
pos 1

107
missing [15]
pos 1

108
missing [15]
pos 1

109
missing [15]
pos 1

110
missing [15]
pos 1

111
missing [15]
pos 1

112
missing [15]
pos 1

113
missing [15]
pos 1

114
missing [15]
pos 1

115
missing [15]
pos 1

116
missing [15]
pos 1

117
missing [15]
pos 1

118
missing [15]
pos 1

119
missing [15]
pos 1

120
missing [15]
pos 1

121
missing [15]
pos 1

122
missing [15]
pos 1

123
missing [15]
pos 1

124
missing [15]
pos 1

125
missing [15]
pos 1

126
missing [15]
pos 1

127
missing [15]
pos 1

128
missing [15]
pos 1

129
missing [15]
pos 1

130
missing [15]
pos 1

131
missing [15]
pos 1

132
missing [15]
pos 1

133
missing [15]
pos 1

134
missing [15]
pos 1

135
missing [15]
pos 1

136
missing [15]
pos 1

137
missing [15]
pos 1
IS MISSING !!
IS MISSING !!
IS MISSING !!
137
NA Cabin
sologroup

138
missing [15, 137]
pos 1

139
missing [15, 137]
pos 1

140
missing [15, 137]
pos 1

141
missing [15, 137]
pos 1

142
missing [15, 137]
pos 1

143
missing [15, 137]
pos 1
GAP
GAP
GAP
F/21/P
{'B': [0, 4], 'F': [25, 19], 'A': [2, -1], 'G': [18, 13], nan: [-1, -1], 'C': [5, 1], 'E': [5, 3], 'D': [1, 3]}
gap found from F/21/P

144
missing [15, 137]
pos 2

145
missing [15, 137]
pos 2

146
missing [15, 137]
pos 2

147
missing [15, 137]
pos 2

148
missing [15, 137]
pos 2

149
missing [15, 137]
pos 2

150
missing [15, 137]
pos 2
IS MISSING !!
IS MISSING !!
IS MISSING !!
150
NA Cabin
no missing cabins to fill

151
missing [15, 137]
pos 2

152
missing [15, 137]
pos 2

153
missing [15, 137]
pos 2

154
missing [15, 137]
pos 2

155
missing [15, 137]
pos 2

156
missing [15, 137]
pos 2

157
missing [15, 137]
pos 2

158
missing [15, 137]
pos 2

159
missing [15, 137]
pos 2

160
missing [15, 137]
pos 2

161
missing [15, 137]
pos 2

162
missing [15, 137]
pos 2

163
missing [15, 137]
pos 2

164
missing [15, 137]
pos 2

165
missing [15, 137]
pos 2

166
missing [15, 137]
pos 2

167
missing [15, 137]
pos 2

168
missing [15, 137]
pos 2

169
missing [15, 137]
pos 2

170
missing [15, 137]
pos 2

171
missing [15, 137]
pos 2

172
missing [15, 137]
pos 2

173
missing [15, 137]
pos 2

174
missing [15, 137]
pos 2

175
missing [15, 137]
pos 2

176
missing [15, 137]
pos 2

177
missing [15, 137]
pos 2

178
missing [15, 137]
pos 2

179
missing [15, 137]
pos 2

180
missing [15, 137]
pos 2

181
missing [15, 137]
pos 2

182
missing [15, 137]
pos 2

183
missing [15, 137]
pos 2

184
missing [15, 137]
pos 2

185
missing [15, 137]
pos 2

186
missing [15, 137]
pos 2

187
missing [15, 137]
pos 2

188
missing [15, 137]
pos 2

189
missing [15, 137]
pos 2

190
missing [15, 137]
pos 2

191
missing [15, 137]
pos 2

192
missing [15, 137]
pos 2

193
missing [15, 137]
pos 2

194
missing [15, 137]
pos 2

195
missing [15, 137]
pos 2

196
missing [15, 137]
pos 2

197
missing [15, 137]
pos 2

198
missing [15, 137]
pos 2

199
missing [15, 137]
pos 2

200
missing [15, 137]
pos 2

201
missing [15, 137]
pos 2

202
missing [15, 137]
pos 2

203
missing [15, 137]
pos 2

204
missing [15, 137]
pos 2

205
missing [15, 137]
pos 2

206
missing [15, 137]
pos 2

207
missing [15, 137]
pos 2

208
missing [15, 137]
pos 2

209
missing [15, 137]
pos 2

210
missing [15, 137]
pos 2

211
missing [15, 137]
pos 2

212
missing [15, 137]
pos 2

213
missing [15, 137]
pos 2

214
missing [15, 137]
pos 2

215
missing [15, 137]
pos 2

216
missing [15, 137]
pos 2

217
missing [15, 137]
pos 2

218
missing [15, 137]
pos 2

219
missing [15, 137]
pos 2

220
missing [15, 137]
pos 2

221
missing [15, 137]
pos 2

222
missing [15, 137]
pos 2

223
missing [15, 137]
pos 2

224
missing [15, 137]
pos 2

225
missing [15, 137]
pos 2

226
missing [15, 137]
pos 2

227
missing [15, 137]
pos 2

228
missing [15, 137]
pos 2

229
missing [15, 137]
pos 2

230
missing [15, 137]
pos 2

231
missing [15, 137]
pos 2

232
missing [15, 137]
pos 2

233
missing [15, 137]
pos 2

234
missing [15, 137]
pos 2

235
missing [15, 137]
pos 2

236
missing [15, 137]
pos 2

237
missing [15, 137]
pos 2

238
missing [15, 137]
pos 2

239
missing [15, 137]
pos 2

240
missing [15, 137]
pos 2

241
missing [15, 137]
pos 2

242
missing [15, 137]
pos 2

243
missing [15, 137]
pos 2

244
missing [15, 137]
pos 2

245
missing [15, 137]
pos 2

246
missing [15, 137]
pos 2

247
missing [15, 137]
pos 2

248
missing [15, 137]
pos 2

249
missing [15, 137]
pos 2

250
missing [15, 137]
pos 2

251
missing [15, 137]
pos 2

252
missing [15, 137]
pos 2

253
missing [15, 137]
pos 2

254
missing [15, 137]
pos 2

255
missing [15, 137]
pos 2

256
missing [15, 137]
pos 2

257
missing [15, 137]
pos 2

258
missing [15, 137]
pos 2

259
missing [15, 137]
pos 2

260
missing [15, 137]
pos 2

261
missing [15, 137]
pos 2

262
missing [15, 137]
pos 2

263
missing [15, 137]
pos 2

264
missing [15, 137]
pos 2

265
missing [15, 137]
pos 2

266
missing [15, 137]
pos 2

267
missing [15, 137]
pos 2

268
missing [15, 137]
pos 2

269
missing [15, 137]
pos 2

270
missing [15, 137]
pos 2

271
missing [15, 137]
pos 2

272
missing [15, 137]
pos 2

273
missing [15, 137]
pos 2

274
missing [15, 137]
pos 2

275
missing [15, 137]
pos 2

276
missing [15, 137]
pos 2

277
missing [15, 137]
pos 2

278
missing [15, 137]
pos 2

279
missing [15, 137]
pos 2

280
missing [15, 137]
pos 2

281
missing [15, 137]
pos 2

282
missing [15, 137]
pos 2

283
missing [15, 137]
pos 2

284
missing [15, 137]
pos 2

285
missing [15, 137]
pos 2

286
missing [15, 137]
pos 2

287
missing [15, 137]
pos 2

288
missing [15, 137]
pos 2

289
missing [15, 137]
pos 2

290
missing [15, 137]
pos 2

291
missing [15, 137]
pos 2

292
missing [15, 137]
pos 2

293
missing [15, 137]
pos 2

294
missing [15, 137]
pos 2

295
missing [15, 137]
pos 2

296
missing [15, 137]
pos 2

297
missing [15, 137]
pos 2

298
missing [15, 137]
pos 2

299
missing [15, 137]
pos 2

300
missing [15, 137]
pos 2

301
missing [15, 137]
pos 2

302
missing [15, 137]
pos 2

303
missing [15, 137]
pos 2

304
missing [15, 137]
pos 2

305
missing [15, 137]
pos 2

306
missing [15, 137]
pos 2

307
missing [15, 137]
pos 2

308
missing [15, 137]
pos 2

309
missing [15, 137]
pos 2

310
missing [15, 137]
pos 2

311
missing [15, 137]
pos 2

312
missing [15, 137]
pos 2

313
missing [15, 137]
pos 2

314
missing [15, 137]
pos 2

315
missing [15, 137]
pos 2
IS MISSING !!
IS MISSING !!
IS MISSING !!
315
NA Cabin
sologroup

316
missing [15, 137, 315]
pos 2

317
missing [15, 137, 315]
pos 2

318
missing [15, 137, 315]
pos 2

319
missing [15, 137, 315]
pos 2

320
missing [15, 137, 315]
pos 2

321
missing [15, 137, 315]
pos 2

322
missing [15, 137, 315]
pos 2

323
missing [15, 137, 315]
pos 2

324
missing [15, 137, 315]
pos 2

325
missing [15, 137, 315]
pos 2

326
missing [15, 137, 315]
pos 2

327
missing [15, 137, 315]
pos 2
GAP
GAP
GAP
G/40/P
{'B': [4, 10], 'F': [45, 50], 'A': [2, 2], 'G': [36, 38], nan: [-1, -1], 'C': [9, 5], 'E': [14, 10], 'D': [7, 6]}
gap found from G/40/P

328
missing [15, 137, 315]
pos 3

329
missing [15, 137, 315]
pos 3

330
missing [15, 137, 315]
pos 3

331
missing [15, 137, 315]
pos 3
IS MISSING !!
IS MISSING !!
IS MISSING !!
331
NA Cabin
sologroup

332
missing [15, 137, 315, 331]
pos 3

333
missing [15, 137, 315, 331]
pos 3

334
missing [15, 137, 315, 331]
pos 3

335
missing [15, 137, 315, 331]
pos 3

336
missing [15, 137, 315, 331]
pos 3
IS MISSING !!
IS MISSING !!
IS MISSING !!
336
NA Cabin
beforesamecabin
336

337
missing [15, 137, 315, 331]
pos 3

338
missing [15, 137, 315, 331]
pos 3

339
missing [15, 137, 315, 331]
pos 3

340
missing [15, 137, 315, 331]
pos 3

341
missing [15, 137, 315, 331]
pos 3

342
missing [15, 137, 315, 331]
pos 3

343
missing [15, 137, 315, 331]
pos 3

344
missing [15, 137, 315, 331]
pos 3

345
missing [15, 137, 315, 331]
pos 3

346
missing [15, 137, 315, 331]
pos 3

347
missing [15, 137, 315, 331]
pos 3

348
missing [15, 137, 315, 331]
pos 3

349
missing [15, 137, 315, 331]
pos 3

350
missing [15, 137, 315, 331]
pos 3

351
missing [15, 137, 315, 331]
pos 3

352
missing [15, 137, 315, 331]
pos 3

353
missing [15, 137, 315, 331]
pos 3

354
missing [15, 137, 315, 331]
pos 3

355
missing [15, 137, 315, 331]
pos 3

356
missing [15, 137, 315, 331]
pos 3
GAP
GAP
GAP
E/16/S
{'B': [4, 11], 'F': [50, 55], 'A': [3, 2], 'G': [38, 42], nan: [-1, -1], 'C': [11, 6], 'E': [14, 11], 'D': [7, 9]}
gap found from E/16/S

357
missing [15, 137, 315, 331]
pos 4

358
missing [15, 137, 315, 331]
pos 4

359
missing [15, 137, 315, 331]
pos 4

360
missing [15, 137, 315, 331]
pos 4

361
missing [15, 137, 315, 331]
pos 4

362
missing [15, 137, 315, 331]
pos 4

363
missing [15, 137, 315, 331]
pos 4

364
missing [15, 137, 315, 331]
pos 4

365
missing [15, 137, 315, 331]
pos 4

366
missing [15, 137, 315, 331]
pos 4

367
missing [15, 137, 315, 331]
pos 4

368
missing [15, 137, 315, 331]
pos 4

369
missing [15, 137, 315, 331]
pos 4

370
missing [15, 137, 315, 331]
pos 4

371
missing [15, 137, 315, 331]
pos 4

372
missing [15, 137, 315, 331]
pos 4

373
missing [15, 137, 315, 331]
pos 4

374
missing [15, 137, 315, 331]
pos 4

375
missing [15, 137, 315, 331]
pos 4

376
missing [15, 137, 315, 331]
pos 4

377
missing [15, 137, 315, 331]
pos 4

378
missing [15, 137, 315, 331]
pos 4

379
missing [15, 137, 315, 331]
pos 4

380
missing [15, 137, 315, 331]
pos 4

381
missing [15, 137, 315, 331]
pos 4

382
missing [15, 137, 315, 331]
pos 4
IS MISSING !!
IS MISSING !!
IS MISSING !!
382
NA Cabin
no missing cabins to fill

383
missing [15, 137, 315, 331]
pos 4

384
missing [15, 137, 315, 331]
pos 4

385
missing [15, 137, 315, 331]
pos 4

386
missing [15, 137, 315, 331]
pos 4

387
missing [15, 137, 315, 331]
pos 4

388
missing [15, 137, 315, 331]
pos 4

389
missing [15, 137, 315, 331]
pos 4

390
missing [15, 137, 315, 331]
pos 4

391
missing [15, 137, 315, 331]
pos 4

392
missing [15, 137, 315, 331]
pos 4

393
missing [15, 137, 315, 331]
pos 4

394
missing [15, 137, 315, 331]
pos 4
IS MISSING !!
IS MISSING !!
IS MISSING !!
394
NA Cabin
no missing cabins to fill

395
missing [15, 137, 315, 331]
pos 4

396
missing [15, 137, 315, 331]
pos 4

397
missing [15, 137, 315, 331]
pos 4

398
missing [15, 137, 315, 331]
pos 4

399
missing [15, 137, 315, 331]
pos 4

400
missing [15, 137, 315, 331]
pos 4

401
missing [15, 137, 315, 331]
pos 4

402
missing [15, 137, 315, 331]
pos 4

403
missing [15, 137, 315, 331]
pos 4

404
missing [15, 137, 315, 331]
pos 4
IS MISSING !!
IS MISSING !!
IS MISSING !!
404
NA Cabin
sologroup

405
missing [15, 137, 315, 331, 404]
pos 4

406
missing [15, 137, 315, 331, 404]
pos 4

407
missing [15, 137, 315, 331, 404]
pos 4

408
missing [15, 137, 315, 331, 404]
pos 4

409
missing [15, 137, 315, 331, 404]
pos 4

410
missing [15, 137, 315, 331, 404]
pos 4

411
missing [15, 137, 315, 331, 404]
pos 4

412
missing [15, 137, 315, 331, 404]
pos 4
IS MISSING !!
IS MISSING !!
IS MISSING !!
412
NA Cabin
sologroup

413
missing [15, 137, 315, 331, 404, 412]
pos 4

414
missing [15, 137, 315, 331, 404, 412]
pos 4
GAP
GAP
GAP
G/41/S
{'B': [8, 12], 'F': [58, 67], 'A': [3, 3], 'G': [39, 47], nan: [-1, -1], 'C': [12, 6], 'E': [17, 16], 'D': [10, 11]}
gap found from G/41/S

415
missing [15, 137, 315, 331, 404, 412]
pos 5

416
missing [15, 137, 315, 331, 404, 412]
pos 5

417
missing [15, 137, 315, 331, 404, 412]
pos 5

418
missing [15, 137, 315, 331, 404, 412]
pos 5

419
missing [15, 137, 315, 331, 404, 412]
pos 5

420
missing [15, 137, 315, 331, 404, 412]
pos 5

421
missing [15, 137, 315, 331, 404, 412]
pos 5
IS MISSING !!
IS MISSING !!
IS MISSING !!
421
NA Cabin
sologroup

422
missing [15, 137, 315, 331, 404, 412, 421]
pos 5

423
missing [15, 137, 315, 331, 404, 412, 421]
pos 5

424
missing [15, 137, 315, 331, 404, 412, 421]
pos 5

425
missing [15, 137, 315, 331, 404, 412, 421]
pos 5

426
missing [15, 137, 315, 331, 404, 412, 421]
pos 5

427
missing [15, 137, 315, 331, 404, 412, 421]
pos 5

428
missing [15, 137, 315, 331, 404, 412, 421]
pos 5

429
missing [15, 137, 315, 331, 404, 412, 421]
pos 5

430
missing [15, 137, 315, 331, 404, 412, 421]
pos 5

431
missing [15, 137, 315, 331, 404, 412, 421]
pos 5

432
missing [15, 137, 315, 331, 404, 412, 421]
pos 5

433
missing [15, 137, 315, 331, 404, 412, 421]
pos 5

434
missing [15, 137, 315, 331, 404, 412, 421]
pos 5

435
missing [15, 137, 315, 331, 404, 412, 421]
pos 5

436
missing [15, 137, 315, 331, 404, 412, 421]
pos 5

437
missing [15, 137, 315, 331, 404, 412, 421]
pos 5

438
missing [15, 137, 315, 331, 404, 412, 421]
pos 5

439
missing [15, 137, 315, 331, 404, 412, 421]
pos 5

440
missing [15, 137, 315, 331, 404, 412, 421]
pos 5
IS MISSING !!
IS MISSING !!
IS MISSING !!
440
NA Cabin
sologroup

441
missing [15, 137, 315, 331, 404, 412, 421, 440]
pos 5

442
missing [15, 137, 315, 331, 404, 412, 421, 440]
pos 5

443
missing [15, 137, 315, 331, 404, 412, 421, 440]
pos 5
GAP
GAP
GAP
G/47/S
{'B': [9, 12], 'F': [61, 69], 'A': [3, 3], 'G': [45, 54], nan: [-1, -1], 'C': [12, 7], 'E': [19, 18], 'D': [10, 11]}
gap found from G/47/S

444
missing [15, 137, 315, 331, 404, 412, 421, 440]
pos 6
IS MISSING !!
IS MISSING !!
IS MISSING !!
444
NA Cabin
sologroup

445
missing [15, 137, 315, 331, 404, 412, 421, 440, 444]
pos 6
GAP
GAP
GAP
F/71/P
{'B': [9, 12], 'F': [61, 69], 'A': [3, 3], 'G': [47, 54], nan: [-1, -1], 'C': [12, 7], 'E': [19, 18], 'D': [10, 11]}
gap found from F/71/P

446
missing [15, 137, 315, 331, 404, 412, 421, 440, 444]
pos 7
GAP
GAP
GAP
B/14/P
{'B': [9, 12], 'F': [61, 71], 'A': [3, 3], 'G': [47, 54], nan: [-1, -1], 'C': [12, 7], 'E': [19, 18], 'D': [10, 11]}
gap found from B/14/P

447
missing [15, 137, 315, 331, 404, 412, 421, 440, 444]
pos 8
GAP
GAP
GAP
C/14/S
{'B': [9, 14], 'F': [61, 71], 'A': [3, 3], 'G': [47, 54], nan: [-1, -1], 'C': [12, 7], 'E': [19, 18], 'D': [10, 11]}
gap found from C/14/S

448
missing [15, 137, 315, 331, 404, 412, 421, 440, 444]
pos 9

449
missing [15, 137, 315, 331, 404, 412, 421, 440, 444]
pos 9

450
missing [15, 137, 315, 331, 404, 412, 421, 440, 444]
pos 9

In [1163]:
togeth.loc[15,'Cabin']

'G/2/S'

In [1229]:
i = 0

In [1230]:
i -= 20

In [1231]:
i += 20
heather.iloc[i:i+20][['Cabin','CabinDeck','CabinNum','Group','GroupNumber','HomePlanet']]

    Cabin CabinDeck CabinNum  Group  GroupNumber HomePlanet
0   B/0/P         B        0    1.0          1.0     Europa
1   F/0/S         F        0    2.0          1.0      Earth
2   A/0/S         A        0    3.0          1.0     Europa
3   A/0/S         A        0    3.0          2.0     Europa
4   F/1/S         F        1    4.0          1.0      Earth
5   F/0/P         F        0    5.0          1.0      Earth
6   F/2/S         F        2    6.0          1.0      Earth
7   G/0/S         G        0    6.0          2.0      Earth
8   F/3/S         F        3    7.0          1.0      Earth
9   B/1/P         B        1    8.0          1.0     Europa
10  B/1/P         B        1    8.0          2.0     Europa
11  B/1/P         B        1    8.0          3.0     Europa
12  F/1/P         F        1    9.0          1.0       Mars
13  G/1/S         G        1   10.0          1.0      Earth
14  F/2/P         F        2   11.0          1.0      Earth
15    NaN       NaN     <NA>   12.0          1.0      Earth
16  G/3/S         G        3   13.0          1.0      Earth
17  F/3/P         F        3   14.0          1.0       Mars
18  F/4/P         F        4   15.0          1.0      Earth
19  F/5/P         F        5   16.0          1.0       Mars

In [810]:
togeth.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Set,Transported,Group,GroupNumber,CabinDeck,CabinSide,CabinNum
693,1422_03,Europa,False,A/15/S,55 Cancri e,48.0,False,58.0,105.0,0.0,7536.0,103.0,Grasath Qualelfic,Test,NaN,1422.0,3.0,A,S,15
5035,5384_01,Europa,False,A/65/S,TRAPPIST-1e,34.0,True,0.0,5210.0,0.0,1332.0,2.0,Polam Dinger,Train,True,5384.0,1.0,A,S,65
3407,3667_01,Europa,True,A/42/S,55 Cancri e,26.0,False,0.0,0.0,0.0,0.0,0.0,Marinon Bewarsecal,Train,True,3667.0,1.0,A,S,42
6989,7431_01,Europa,False,A/90/S,55 Cancri e,31.0,False,NaN,2954.0,0.0,170.0,756.0,Altanin Barmant,Train,False,7431.0,1.0,A,S,90
2859,3088_01,Europa,False,A/25/P,TRAPPIST-1e,28.0,False,0.0,0.0,0.0,0.0,0.0,Dscha Dishearly,Train,False,3088.0,1.0,A,P,25

In [787]:
togeth[togeth.Cabin == 'E/16/S']

,index,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Set,Transported,Group,GroupNumber,CabinDeck,CabinSide,CabinNum
356,242,0260_01,Europa,False,E/16/S,TRAPPIST-1e,26.0,False,0.0,4810.0,0.0,981.0,2054.0,Segino Inderly,Train,False,260.0,1.0,E,S,16

In [751]:
togeth.Cabin.isna().sum()

284

In [896]:
togeth[togeth.Cabin.isna()]

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Set,Transported,Group,GroupNumber,CabinDeck,CabinSide,CabinNum
404,0293_01,Europa,True,NaN,TRAPPIST-1e,47.0,False,0.0,0.0,0.0,0.0,0.0,Tauxon Suptibler,Test,NaN,293.0,1.0,NaN,NaN,NaN
412,0301_01,Earth,True,NaN,TRAPPIST-1e,16.0,False,0.0,0.0,0.0,0.0,0.0,Margia Wriggins,Train,False,301.0,1.0,NaN,NaN,NaN
421,0310_01,Europa,False,NaN,TRAPPIST-1e,67.0,False,NaN,230.0,0.0,4476.0,241.0,Naviton Coudered,Train,False,310.0,1.0,NaN,NaN,NaN
440,0323_01,Earth,True,NaN,55 Cancri e,18.0,False,0.0,0.0,0.0,0.0,0.0,Joyn Gaineyerson,Test,NaN,323.0,1.0,NaN,NaN,NaN
444,0327_01,Earth,False,NaN,TRAPPIST-1e,19.0,False,17.0,0.0,784.0,0.0,2.0,Jasony Ocherman,Train,True,327.0,1.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12892,9223_01,Mars,True,NaN,TRAPPIST-1e,24.0,False,0.0,0.0,NaN,0.0,0.0,Weessh Sun,Test,NaN,9223.0,1.0,NaN,NaN,NaN
12893,9223_02,Mars,True,NaN,TRAPPIST-1e,17.0,False,0.0,0.0,0.0,0.0,0.0,Perit Sun,Test,NaN,9223.0,2.0,NaN,NaN,NaN
12909,9233_01,Earth,False,NaN,TRAPPIST-1e,41.0,False,3.0,0.0,668.0,0.0,0.0,Royce Giller,Train,True,9233.0,1.0,NaN,NaN,NaN
12918,9238_05,Earth,True,NaN,TRAPPIST-1e,14.0,False,0.0,0.0,0.0,0.0,0.0,Caseye Emenez,Test,NaN,9238.0,5.0,NaN,NaN,NaN
12954,9269_01,Earth,False,NaN,TRAPPIST-1e,42.0,False,0.0,847.0,17.0,10.0,144.0,Matty Scheron,Test,NaN,9269.0,1.0,NaN,NaN,NaN

In [1148]:
deckdict = {}
deckdictside = {'P':0,'S':1}

togeth = togeth.sort_values(by = ['Group','GroupNumber'])
togeth.reset_index(inplace = True)
togeth.drop(columns = 'index',inplace = True)


miss = []

for deck in list(togeth.CabinDeck.unique()):
    deckdict[deck] = [-1,-1]
    
i = 0

for cabin in list(togeth.Cabin.dropna().unique()):
    if i < 500:
        i += 1
        cabdeck = cabin.split("/")[0]
        cabinside = cabin.split("/")[2]
        cabside = deckdictside[cabinside]
        cabnum = int(cabin.split("/")[1])
        
        newcabnum = str(cabnum - 1)

        if deckdict[cabdeck][cabside] + 2 == cabnum:
            missingcabin = cabdeck + '/' + newcabnum + '/' + cabinside
            miss.append((missingcabin,(str(togeth[togeth.Cabin == cabin].iloc[0].name) + ",")))
            deckdict[cabdeck][cabside] += 2
            
        elif deckdict[cabdeck][cabside] + 2 < cabnum:
            missingcabin = cabdeck + '/'+ newcabnum + '/'+ cabinside
            miss.append((missingcabin,(str(togeth[togeth.Cabin == cabin].iloc[0].name) + ",")))
            print("problem",cabin)
            deckdict[cabdeck][cabside] += 3

        elif deckdict[cabdeck][cabside] + 1 == cabnum:
                        deckdict[cabdeck][cabside] += 1

problem E/22/P

In [1149]:
miss

[('G/2/S', '16,'),
 ('F/20/P', '143,'),
 ('G/39/P', '327,'),
 ('E/15/S', '356,'),
 ('G/40/S', '414,'),
 ('G/46/S', '443,'),
 ('F/70/P', '445,'),
 ('B/13/P', '446,'),
 ('C/13/S', '447,'),
 ('G/49/S', '495,'),
 ('E/21/P', '518,'),
 ('B/12/S', '604,')]

In [1150]:
i = -20

In [1157]:
for row in togeth[:500].iterrows():
    if pd.isna(row[1].Cabin) and len(togeth[togeth.Group == row[1].Group]) == 1:
        print(row[0])

15
137
315
331
404
412
421
440
444
492

In [1153]:
len(togeth[togeth.Group == row[1].Group])

2

In [1158]:
i = 380

In [1159]:
i+= 20
togeth[['Cabin','Group','GroupNumber']][i:i+20]

      Cabin  Group  GroupNumber
400   B/7/S  290.0          3.0
401   B/7/S  290.0          4.0
402  D/10/S  291.0          1.0
403  F/56/S  292.0          1.0
404     NaN  293.0          1.0
405   B/8/S  294.0          1.0
406  F/66/P  295.0          1.0
407  F/57/S  296.0          1.0
408  G/47/P  297.0          1.0
409   A/3/P  298.0          1.0
410  F/58/S  299.0          1.0
411  D/11/P  300.0          1.0
412     NaN  301.0          1.0
413  F/67/P  302.0          1.0
414  G/41/S  303.0          1.0
415  E/18/S  304.0          1.0
416   C/7/P  305.0          1.0
417  E/19/S  306.0          1.0
418  F/59/S  307.0          1.0
419  G/48/P  308.0          1.0

In [1104]:
togeth[togeth.Cabin == 'G/45/S']

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Set,Transported,Group,GroupNumber,CabinDeck,CabinSide,CabinNum
439,0322_01,Earth,True,G/45/S,PSO J318.5-22,13.0,False,0.0,0.0,0.0,0.0,0.0,Annya Blange,Train,False,322.0,1.0,G,S,45

In [1052]:
a = pd.DataFrame(miss)

In [1055]:
b = [str(x) + "," for x in list(a[1])]

In [1056]:
a[1] = b

In [1063]:
miss

[('G/2/S', '16,'),
 ('F/20/P', '143,'),
 ('G/39/P', '327,'),
 ('E/15/S', '356,'),
 ('G/40/S', '414,'),
 ('G/46/S', '443,'),
 ('F/70/P', '445,'),
 ('B/13/P', '446,'),
 ('C/13/S', '447,'),
 ('G/49/S', '495,'),
 ('E/21/P', '518,'),
 ('B/12/S', '604,'),
 ('G/73/P', '667,'),
 ('E/30/S', '704,'),
 ('G/75/S', '717,'),
 ('G/79/S', '771,'),
 ('F/106/S', '811,'),
 ('B/30/P', '1018,'),
 ('F/152/P', '1043,'),
 ('G/110/S', '1056,'),
 ('F/157/S', '1176,'),
 ('G/121/P', '1187,'),
 ('E/49/P', '1245,'),
 ('F/181/P', '1254,'),
 ('C/35/S', '1265,'),
 ('F/170/S', '1324,'),
 ('G/151/P', '1444,'),
 ('E/58/P', '1494,'),
 ('D/36/S', '1546,'),
 ('C/40/S', '1555,'),
 ('F/213/S', '1582,'),
 ('E/65/P', '1611,'),
 ('G/171/P', '1612,'),
 ('F/230/S', '1720,'),
 ('F/235/S', '1767,'),
 ('E/81/P', '1853,'),
 ('F/293/P', '2149,'),
 ('F/300/S', '2224,'),
 ('F/307/P', '2252,'),
 ('F/320/P', '2312,'),
 ('G/257/S', '2362,'),
 ('G/273/P', '2426,'),
 ('E/104/P', '2455,'),
 ('G/267/S', '2482,'),
 ('G/280/S', '2539,'),
 ('F/350/S', '2596,'),
 ('C/67/P', '2904,'),
 ('G/334/S', '2988,'),
 ('G/338/S', '3000,'),
 ('B/88/S', '3041,'),
 ('G/345/P', '3042,'),
 ('F/441/P', '3102,'),
 ('G/356/S', '3125,'),
 ('D/69/P', '3309,'),
 ('G/399/S', '3483,'),
 ('E/174/S', '3490,'),
 ('F/515/P', '3513,'),
 ('E/150/P', '3539,'),
 ('F/519/P', '3540,'),
 ('G/406/S', '3571,'),
 ('E/154/P', '3600,'),
 ('G/422/P', '3660,'),
 ('F/559/P', '3798,'),
 ('E/161/P', '3802,'),
 ('F/542/S', '3990,'),
 ('F/551/S', '4066,'),
 ('F/610/P', '4090,'),
 ('F/563/S', '4147,'),
 ('B/99/P', '4260,'),
 ('E/207/S', '4393,'),
 ('G/515/P', '4399,'),
 ('G/534/S', '4673,'),
 ('F/636/S', '4704,'),
 ('D/111/S', '4947,'),
 ('F/674/S', '4986,'),
 ('D/113/S', '4987,'),
 ('G/579/S', '5018,'),
 ('G/590/P', '5019,'),
 ('F/772/P', '5238,'),
 ('E/221/P', '5272,'),
 ('F/788/P', '5344,'),
 ('F/791/P', '5368,'),
 ('G/649/S', '5550,'),
 ('F/820/P', '5571,'),
 ('B/151/S', '5587,'),
 ('F/830/P', '5634,'),
 ('F/849/P', '5793,'),
 ('E/257/P', '5797,'),
 ('D/139/P', '5826,'),
 ('G/684/S', '5867,'),
 ('B/137/P', '6021,'),
 ('F/891/P', '6023,'),
 ('C/138/P', '6132,'),
 ('E/277/P', '6155,'),
 ('F/827/S', '6156,'),
 ('G/723/P', '6161,'),
 ('G/726/S', '6235,'),
 ('G/759/S', '6501,'),
 ('E/301/S', '6515,'),
 ('G/766/S', '6568,'),
 ('G/775/P', '6747,'),
 ('G/786/S', '6751,'),
 ('F/923/S', '6824,'),
 ('F/944/S', '6957,'),
 ('C/193/S', '7004,'),
 ('G/821/S', '7013,'),
 ('G/829/S', '7076,'),
 ('G/831/S', '7127,'),
 ('G/824/P', '7137,'),
 ('G/859/S', '7368,'),
 ('F/1093/P', '7435,'),
 ('E/344/S', '7538,'),
 ('F/1122/P', '7585,'),
 ('G/874/S', '7588,'),
 ('G/876/S', '7628,'),
 ('G/878/S', '7634,'),
 ('E/345/P', '7679,'),
 ('D/178/P', '7803,'),
 ('F/1178/P', '7925,'),
 ('C/214/S', '7949,'),
 ('G/943/P', '8122,'),
 ('F/1237/P', '8380,'),
 ('E/387/P', '8468,'),
 ('D/191/P', '8513,'),
 ('F/1295/P', '8746,'),
 ('D/200/P', '8981,'),
 ('G/1041/S', '9007,'),
 ('D/194/S', '9054,'),
 ('G/1053/P', '9126,'),
 ('G/1062/S', '9157,'),
 ('E/414/P', '9164,'),
 ('F/1267/S', '9270,'),
 ('G/1085/S', '9317,'),
 ('F/1392/P', '9387,'),
 ('E/448/S', '9548,'),
 ('D/216/P', '9692,'),
 ('G/1118/P', '9724,'),
 ('G/1130/P', '9828,'),
 ('D/212/S', '9841,'),
 ('G/1134/P', '9878,'),
 ('F/1365/S', '10000,'),
 ('G/1164/S', '10015,'),
 ('F/1376/S', '10061,'),
 ('G/1157/P', '10088,'),
 ('F/1489/P', '10094,'),
 ('G/1178/S', '10147,'),
 ('F/1401/S', '10198,'),
 ('C/270/S', '10349,'),
 ('G/1200/S', '10367,'),
 ('G/1206/S', '10412,'),
 ('F/1424/S', '10437,'),
 ('G/1212/S', '10441,'),
 ('F/1544/P', '10448,'),
 ('C/277/S', '10474,'),
 ('D/235/P', '10575,'),
 ('E/501/P', '10790,'),
 ('C/290/S', '10848,'),
 ('G/1252/P', '10879,'),
 ('F/1492/S', '10886,'),
 ('F/1628/P', '10939,'),
 ('G/1272/S', '10994,'),
 ('G/1283/P', '11065,'),
 ('G/1282/S', '11083,'),
 ('G/1286/P', '11084,'),
 ('C/298/S', '11151,'),
 ('E/528/S', '11171,'),
 ('F/1571/S', '11472,'),
 ('F/1585/S', '11530,'),
 ('F/1596/S', '11584,'),
 ('G/1366/P', '11682,'),
 ('B/328/S', '11708,'),
 ('F/1623/S', '11760,'),
 ('E/541/P', '11805,'),
 ('F/1739/P', '11837,'),
 ('G/1385/S', '12003,'),
 ('F/1769/P', '12029,'),
 ('G/1445/P', '12441,'),
 ('D/281/P', '12548,'),
 ('G/1447/S', '12549,'),
 ('D/275/S', '12656,'),
 ('G/1474/P', '12688,'),
 ('A/94/P', '12704,'),
 ('D/292/P', '12779,'),
 ('F/1785/S', '12894,'),
 ('F/1889/P', '12920,'),
 ('G/1506/P', '12957,')]

In [1064]:
pd.DataFrame(a).to_csv('missincabin.csv')

In [1243]:
togeth[(togeth.Cabin.isna()) & (togeth.Set == 'Train')].head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Set,Transported,Group,GroupNumber,CabinDeck,CabinSide,CabinNum
15,0012_01,Earth,False,NaN,TRAPPIST-1e,31.0,False,32.0,0.0,876.0,0.0,0.0,Justie Pooles,Train,False,12.0,1.0,NaN,<NA>,<NA>
93,0101_01,Mars,True,NaN,TRAPPIST-1e,31.0,False,0.0,0.0,0.0,0.0,0.0,Book Trad,Train,True,101.0,1.0,NaN,<NA>,<NA>
103,0110_01,Europa,False,NaN,TRAPPIST-1e,32.0,False,0.0,410.0,6.0,3929.0,764.0,Graviph Aloubtled,Train,False,110.0,1.0,NaN,<NA>,<NA>
222,0239_01,Mars,False,NaN,TRAPPIST-1e,37.0,False,637.0,0.0,0.0,92.0,319.0,Diedow Resty,Train,False,239.0,1.0,NaN,<NA>,<NA>
227,0244_01,Mars,True,NaN,TRAPPIST-1e,43.0,False,0.0,0.0,0.0,0.0,0.0,Froos Sad,Train,True,244.0,1.0,NaN,<NA>,<NA>

In [1234]:
cleaned = pd.read_csv('/mnt/c/users/jsult/desktop/spacetitanic3/Cleaned and imputed data 2.csv',low_memory= False)

In [1250]:
cleaned[cleaned.Cabin == 'G/2/S']

Empty DataFrame
Columns: [PassengerId, HomePlanet, CryoSleep, Cabin, Destination, Age, VIP, RoomService, FoodCourt, ShoppingMall, Spa, VRDeck, Transported, Grouped, Deck, Side, Has_expenses, Is_Embryo]
Index: []

In [1244]:
cleaned[cleaned.PassengerId == '0012_01']

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,Grouped,Deck,Side,Has_expenses,Is_Embryo
15,0012_01,Earth,False,F/2/P,TRAPPIST-1e,31.0,False,32.0,0.0,876.0,0.0,0.0,False,False,F,P,True,False